// Markup
// div.ball-scale
//    div

@keyframes ball-scale {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

@mixin ball-scale(
        $color: blue,
        $ball-size: 60px,
        $margin: 5px
      ){

  > div {
    width: $ball-size;
    height: $ball-size;
    border-radius: 100%;
    margin: $margin;
    animation-fill-mode: both;
    background-color: $color;

    display: inline-block;
    animation: ball-scale 1s 0s ease-in-out infinite;
  }
}