/*
––––

	title:
		Button-ball-pulse

	comment:
		Blabla

	markup:
		<div class="ball-pulse">
			<div></div>
			<div></div>
			<div></div>
		</div>

––––
*/

$base-index: 0;
$base-size: 26px;

.chat-is-typing {
	position: absolute;
	top: -$base-size;
	left: 11px;
	transform:translateY($base-size);
	transition: all 200ms ease;
	&.visible {
		transform:translateY(0px);
	}
	background-color: color("grey", "darken-3");
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	min-width: 50px;
	padding:5px 10px 5px 5px;
	z-index: $base-index - 1;
	.ball-pulse {
		position:absolute;
		top:5px;
		left: 8px;
		opacity: 0.5;
	}
	.someone-is-typing-names {
		margin-left:40px;
		color:white;
		font-size: 1.2rem;
		font-family: $nav-font;
	}
}

$loader-ball-pulse-base-color: white;

@keyframes scale {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	45% {
		transform: scale(0.1);
		opacity: 0.7;
	}
	80% {
		transform: scale(1);
		opacity: 1;
	}
}

@mixin ball-pulse(
		$color: $loader-ball-pulse-base-color,
		$ball-size: 6px,
		$margin:2px,
		$n:3,
		$start:0
	) {

	@for $i from $start through $n {
		> div:nth-child(#{$i}) {
			-webkit-animation: scale 0.75s 0.12s * $i infinite cubic-bezier(.2,.68,.18,1.08);
		}
	}
	> div {
		background-color: $color;

		width: $ball-size;
		height: $ball-size;
		border-radius: 100%;
		margin: $margin;
		animation-fill-mode: both;

		display: inline-block;
	}
}

.ball-pulse { @include ball-pulse(); };
