/*

	Markup :

	<div className="list-empty">
	  <p><i className="icon icon-sad"/> Ton texte</p>
	</div>

*/

.list-empty {
	text-align: center;
	width:100%;
	padding:$text-size;
	position:relative;
	font-family: $nav-font;
	p {
		margin:0;
		i {
			margin-right:5px;
			opacity:0.5;
		}
	}
}
