.share-menu-wrapper {
	overflow:hidden;
	visibility: hidden;
	.share-menu-button {
		i {
			position:fixed;
			bottom:40px;
			right:40px;
			opacity:0;
			transform:scale(0) rotate(0);
			transition: all 200ms ease-in-out;
			border-radius:50%;
			background-color: rgba(0,0,0,0.8);
			padding:15px;
			color:white;
			z-index: 999;
		}
		div {
			cursor:pointer;
			position: fixed;
			bottom: 40px;
			right: 40px;
			padding:25px;
			z-index: 1000;
			opacity:0;
			&:before, &:after {
				transition: all 200ms ease-in-out;
				content: '';
				position: absolute;
				left: 10px;
				background: white;
				width: 30px;
				height: 2px;
			}
			&:before {
				top:24px;
			}
			&:after {
				bottom:24px;
			}
		}

	} 
	.share-menu-overlay {
		z-index: 997;
		position:fixed;
		border-radius:50%;
		width:40px;
		height:40px;
		bottom:40px;
		right:40px;
		background-color: rgba(0,0,0,0.92);
		transition: all 400ms ease-in-out;
		transform:scale(0);
		opacity:0;
	}
	.share-menu {
		z-index: 998;
		position:fixed;
		width:100%;
		height:100%;
		display:flex;
		visibility:hidden;
		opacity:0;
		transition: opacity 200ms ease-in-out;
		transition-delay:0ms;
		div {
			li {
				color:white;
			}
			margin: auto;
		}
	}
	&.displayed {
		visibility: visible;
		.share-menu-button {
			i {
				opacity:0.8;
				transform:scale(1) rotate(0deg);
			}
			&:hover i {
				opacity:1;
			}
		}
	}
	&.active {
		visibility: visible;
		.share-menu-button { 
			i {
				opacity:0;
				transform:scale(1) rotate(360deg);
			}
			div {
				opacity:0.8;
				&:before {
					transform:rotate(135deg);
				}
				&:after {
					transform:rotate(-135deg);
				}
			}
			&:hover i {
				opacity:0;
			}
			&:hover div {
				opacity:1;
			}
		}
		.share-menu {
			opacity:1;
			transition-delay:500ms;
			visibility:visible;
		}
		.share-menu-overlay {
			opacity:1;
			transform:scale(100);
		}
	}
}
// content
.share-menu {
	display:flex;
	h1,h2,h3,h4,h5,h6,p, i {
		color: $color-light;
		text-align: center;
	}
	ul li {
		display:inline-block;
		a {
			i {
				opacity:0.8;
				transition:opacity 200ms ease-in-out;
			}
			&:hover i {
				opacity: 1;
			}
		}
	}
}