<html>
  <head>
    <title>RocketCSS</title>
    <meta name="author" content="keywords, comma, separated"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="css/app.css?v=<%= buildTime %>">
    <link rel="icon" href="images/favicon.ico">
  </head>
  <body class="conseil-emploi">
    <nav class="nav">
      <div class="container main-wrapper">
        <a class="logo" href="#">Conseil emploi</a>
        <ul>
          <li><a href="#how">Comment ça marche ?</a></li>
          <!--<li><a href="#who">Qui sommes nous ?</a></li>-->
          <li><a class="bold" href="#">frere.thibaud@gmail.com <!--<i class="icon -chevron-down"></i>--></a></li>
          <li><a class="bold" href="#"><i class="icon -exit"></i> </a></li>
        </ul>
      </div>
    </nav>
    <div id="account">
      <section class="message sub-nav -line-primary">
        <div class="content main-wrapper">
          <h4>Mon compte</h4>
          <button class="button -primary open-modal">Mes informations de connexion</button>
        </div>
      </section>
      <section class="container two-cols">
        <div class="wrapper">
          <div class="card">
            <div class="progress -primary -small">
              <div style="width:100%" class="bar"></div>
            </div>
            <div class="content">
              <label>Sexe</label>
              <div class="radio -primary">
                <input id="radio1" type="radio" name='radio-group' />
                <label for="radio1">Homme</label>
              </div>
              <div class="radio">
                <input id="radio2" type="radio" name='radio-group' />
                <label for="radio2">Femme</label>
              </div>
              <div class="radio">
                <input id="radio3" type="radio" name='radio-group'/>
                <label for="radio3">Autre</label>
              </div>
              <label>Code postal</label>
              <div class="isolate">
                <div class="dropdown dropdown-search toggle-visible">
                  <input class="-large" type="text" id="job-input" placeholder="Ex: 57160..."/>
                  <div class="results">
                    <ul>
                      <li class="touch">Aide-soignant</li>
                      <li class="touch">A<span class="highlight">id</span>e-soignante</li>
                      <li class="touch">Aide-soignante2</li>
                      <li class="touch">Aide-soignante3</li>
                      <li class="touch">Aide-soignante3</li>
                      <li class="touch">Aide-soignante3</li>
                      <li class="touch">Aide-soignante3</li>
                    </ul>
                  </div>
                </div>
              </div>
              <label>Niveau d'étude</label>
              <div class="radio -primary">
                <input id="radio4" type="radio" name='radio-group2' />
                <label for="radio4">Sans formation</label>
              </div>
              <div class="radio">
                <input id="radio5" type="radio" name='radio-group2' />
                <label for="radio5">BEP/CAP</label>
              </div>
              <div class="radio">
                <input id="radio6" type="radio" name='radio-group2'/>
                <label for="radio6">Bac</label>
              </div>
              <hr class="hr -invisible"/>
              <div class="radio">
                <input id="radio8" type="radio" name='radio-group2'/>
                <label for="radio8">Bac +2</label>
              </div>
              <div class="radio">
                <input id="radio9" type="radio" name='radio-group2'/>
                <label for="radio9">Bac +3</label>
              </div>
              <div class="radio">
                <input id="radio10" type="radio" name='radio-group2'/>
                <label for="radio10">Bac +5</label>
              </div>
              <label>Trait principal</label>
              <div class="radio -primary">
                <input id="radio11" type="radio" name='radio-group3' />
                <label for="radio11">Réaliste</label>
              </div>
              <div class="radio">
                <input id="radio12" type="radio" name='radio-group3' />
                <label for="radio12">Investigateur</label>
              </div>
              <div class="radio">
                <input id="radio13" type="radio" name='radio-group3'/>
                <label for="radio13">Artistique</label>
              </div>
              <hr class="hr -invisible"/>
              <div class="radio">
                <input id="radio14" type="radio" name='radio-group3'/>
                <label for="radio14">Social</label>
              </div>
              <div class="radio">
                <input id="radio15" type="radio" name='radio-group3'/>
                <label for="radio15">Entreprenant</label>
              </div>
              <div class="radio">
                <input id="radio16" type="radio" name='radio-group3'/>
                <label for="radio16">Conventionnel</label>
              </div>
              <label>Trait secondaire</label>
              <div class="radio -primary">
                <input id="radio17" type="radio" name='radio-group4' />
                <label for="radio17">Réaliste</label>
              </div>
              <div class="radio">
                <input id="radio18" type="radio" name='radio-group4' />
                <label for="radio18">Investigateur</label>
              </div>
              <div class="radio">
                <input id="radio19" type="radio" name='radio-group4'/>
                <label for="radio19">Artistique</label>
              </div>
              <hr class="hr -invisible"/>
              <div class="radio">
                <input id="radio20" type="radio" name='radio-group4'/>
                <label for="radio20">Social</label>
              </div>
              <div class="radio">
                <input id="radio21" type="radio" name='radio-group4'/>
                <label for="radio21">Entreprenant</label>
              </div>
              <div class="radio">
                <input id="radio22" type="radio" name='radio-group4'/>
                <label for="radio22">Conventionnel</label>
              </div>
              <button class="button -primary"><i class="icon -floppy-disk"></i><span>Mettre à jour</span></button>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="message -with-intent -line-primary">
            <i class="icon status -magic-wand"></i>
            <h5>Information</h5>
            <p>Vos données sont précieuses pour vous, pour nous aussi. Jamais nous ne partagerons ces informations à des tiers, nous les utilisons uniquement pour améliorer la qualité de votre recherche. </p>
          </div>
          <div class="card">
            <div class="content">
              <h3>Riasec</h3>
              <p>Pour nous aider à mieu répondre à votre demande, vous pouvez remplir un formulaire en 42 questions.</p>
              <button class="button -primary"><span>Remplir le formulaire</span></button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="modal login">
      <div class="overlay close-modal"></div>
      <div class="content">
        <div class="card content-wrapper">
          <!--<img class="image" src="images/icon/Comet.svg"></img>-->
          <div class="close-button close-modal">
            <i class="icon -cross"></i>
          </div>
          <div>
            <h5>Modifier mes informations</h5>
            <fieldset class="-has-icon -large">
              <i class="icon -envelope"></i>
              <label>Adresse email</label>
              <input type="text" placeholder="Votre addresse email..." value="frere.thibaud@gmail.com" />
            </fieldset>
            <div class="merge -vertical -large">
              <fieldset class="-has-icon ">
                <i class="icon -lock"></i>
                <label>Changer de mot de passe</label>
                <input type="password" placeholder="Ancien mot de passe..." />
              </fieldset>
              <fieldset class="">
                <input type="password" placeholder="Nouveau mot de passe..." />
              </fieldset>
              <fieldset class="">
                <input type="password" placeholder="Confirmer..." />
              </fieldset>
            </div>
            <button class="button -large -primary"><i class="icon -floppy-disk"></i><span>Mettre à jour</span></button>
          </div>
        </div>
      </div>
    </div>
    <script src="js/polyfills.js?v=<%= buildTime %>"></script>
    <script src="js/vendors.js?v=<%= buildTime %>"></script>
    <script src="js/app.js?v=<%= buildTime %>"></script>
  </body>
</html>
