section.background
	.main-texture
	#general-background
	.container
		.twelve.col
			h3.b.text-white.text-center L'equipe
.container
	.row.quad-top.text-center
		.three.col
			.flip.double-bottom
				#quentin.front
				//#quentin-back.back 
			hr.lines.light.add-top.tiny.centered
			h6.remove-bot.half-top Illustration
			p.i.remove-top.text-grey-60 Quentin Sombsthay
		.three.col
			.flip.double-bottom
				#antho.front
				//#antho-back.back
			hr.lines.light.add-top.tiny.centered
			h6.remove-bot.half-top Communication
			p.i.remove-top.text-grey-60 Anthony Lacroix
		.three.col
			.flip.double-bottom
				#val.front
				//#val-back.back
			hr.lines.light.add-top.tiny.centered
			h6.remove-bot.half-top Developpement
			p.i.remove-top.text-grey-60 Valentin Rebierre
		.three.col
			.flip.double-bottom
				#thib.front
				//#thib-back.back
			hr.lines.light.add-top.tiny.centered
			h6.remove-bot.half-top Design
			p.i.remove-top.text-grey-60 Thibaud Frere
		.three.col
			.flip.double-bottom
				#marie.front
				//#thib-back.back
			hr.lines.light.add-top.tiny.centered
			h6.remove-bot.half-top Assistance
			p.i.remove-top.text-grey-60 Marie Madec
		.three.col
			.flip.double-bottom
				#tritz.front
				//#thib-back.back
			hr.lines.light.add-top.tiny.centered
			h6.remove-bot.half-top Assistance
			p.i.remove-top.text-grey-60 Quentin Tritz

.container
	//- form.row.quad-top
	//- 	.five.col
	//- 		h4 Nous contacter
	//- 		hr.tiny.lines
	//- 		p.
	//- 			Envie de nous laisser un petit message ? C'est par ici que ça se passe !
	//- 	.six.col.offset-one
	//- 		.six.col
	//- 			label Nom
	//- 			input.full(type="text", placeholder="")
	//- 		.six.col
	//- 			label Email
	//- 			input.full(type="email", placeholder="")
	//- 		.twelve.col
	//- 			label Message
	//- 			textarea.full(placeholder="Votre message ici ...")
	//- 			button.add-top.button.complement.pull-right Envoyer
	//- 			.clearfix.double-bot
			
	.row.text-center
		.twelve.col.quad-bot.quad-top
			hr.light.centered.tiny.lines.half-bot
			h4 Mentions légales
			hr.light.centered.tiny.double-bot.lines
			p.
				<br> SARL au capital de 1000 euros 
				<br> 38, rue de jouy 57160 Moulins les Metz
				<br> Crée le 10/10/2015
				<br> Hebergeur OVH
