section.background
	#main-texture
	#main-background
	.container
		.twelve.col
			h3.octo-top.double-bot.text-white.text-center A propos de nous
.container
	.row.text-center.quad-bot.quad-top
		.twelve.col
			p.text-center.
				Peon est un logiciel de gestion d'activité spécialisé pour auto-entrepreneur exerçant une activité de 
				prestation de service, ou une activité libéral.
				Conçu <b>par des auto-entrepreneurs</b>, il est le logiciel le plus proche de vous.
				Cette implication à permis d'identifier les besoins réel des auto-entrepreneurs 
				afin de mettre au point un outil et des fonctionnalités innovante pour vous assister quotidiennement dans la gestion de votre auto-entreprise.
	.row.double-top.text-center
		h4.quad-bot L'equipe
		.three.col
			#quentin.flip.double-bottom
				.front
				.back
			h6.add-top Illustration
			p.text-grey-100 Quentin Sombsthay
		.three.col
			#anthony.flip.double-bottom
				.front
				.back
			h6.add-top Marketing
			p.text-grey-100 Anthony Lacroix
		.three.col
			#valentin.flip.double-bottom
				.front
				.back
			h6.add-top Developpement
			p.text-grey-100 Valentin Rebierre
		.three.col
			#thibaud.flip.double-bottom
				.front
				.back
			h6.add-top Design
			p.text-grey-100 Thibaud Frere

			
	.row.text-center
		.twelve.col.quad-top.quad-bot
			h4.quad-bot Mentions légales
			p.
				<br> SARL au capital de 1000 euros 
				<br> 38, rue de jouy 57160 Moulins les Metz
				<br> Crée le 10/10/2015
				<br> Hebergeur OVH
