section.background
	.main-texture
	#general-background
	.container
		.twelve.col
			h3.b.text-white.text-center L'equipe
.container
	.row.quad-top.text-center
		.three.col
			#quentin.flip.double-bottom
				.front
				.back
			h6.add-top Illustration
			p.text-grey-100 Quentin Sombsthay
		.three.col
			#anthony.flip.double-bottom
				.front
				.back
			h6.add-top Marketing
			p.text-grey-100 Anthony Lacroix
		.three.col
			#valentin.flip.double-bottom
				.front
				.back
			h6.add-top Developpement
			p.text-grey-100 Valentin Rebierre
		.three.col
			#thibaud.flip.double-bottom
				.front
				.back
			h6.add-top Design
			p.text-grey-100 Thibaud Frere

.container
	//- form.row.quad-top
	//- 	.five.col
	//- 		h4 Nous contacter
	//- 		hr.tiny.lines
	//- 		p.
	//- 			Envie de nous laisser un petit message ? C'est par ici que ça se passe !
	//- 	.six.col.offset-one
	//- 		.six.col
	//- 			label Nom
	//- 			input.full(type="text", placeholder="")
	//- 		.six.col
	//- 			label Email
	//- 			input.full(type="email", placeholder="")
	//- 		.twelve.col
	//- 			label Message
	//- 			textarea.full(placeholder="Votre message ici ...")
	//- 			button.add-top.button.complement.pull-right Envoyer
	//- 			.clearfix.double-bot
			
	.row.text-center
		.twelve.col.quad-bot.quad-top
			hr.light.centered.tiny.lines.half-bot
			h4 Mentions légales
			hr.light.centered.tiny.double-bot.lines
			p.
				<br> SARL au capital de 1000 euros 
				<br> 38, rue de jouy 57160 Moulins les Metz
				<br> Crée le 10/10/2015
				<br> Hebergeur OVH
