.container
	.row
		.twelve.col.add-bot.quad-top
			.article
				.breadcrumb
					p.quad-bot.remove-top.text-center.
						<a ui-sref="nav.blog"> Retour au blog </a>  
					h4.fly-in-bot.b.text-center {{article.title}}
					hr.fly-in-bot.lines.half.centered
				h6.fly-in-bot.small.add-top.double-bot.text-center {{article.date}}
				p.fly-in-bot(ng-bind-html="article.content")
			.article.octo-top
				p.remove-top.text-center.
					<a ui-sref="nav.blog"> Retour au blog </a>  