section.background
	.main-texture
	#general-background
	.container
		.twelve.col
			h3.b.text-white.text-center(compile-unsafe="'views.support.punchline' | translate")
.container
	.row.double-top.text-center
		h6.text-center.double-top(compile-unsafe="'views.support.text' | translate")
		.card.three.col
			.flip.double-top.double-bottom
				#quentin.front
				#quentin-back.back
			hr.lines.light.add-top.tiny.centered
			h6.remove-bot.half-top(compile-unsafe="'views.support.profile1' | translate")
			p.i.remove-top.text-grey-60 Quentin Sombsthay
		.card.three.col
			.flip.double-top.double-bottom
				#antho.front
				#antho-back.back
			hr.lines.light.add-top.tiny.centered
			h6.remove-bot.half-top(compile-unsafe="'views.support.profile2' | translate")
			p.i.remove-top.text-grey-60 Anthony Lacroix
		.card.three.col
			.flip.double-top.double-bottom
				#val.front
				#val-back.back
			hr.lines.light.add-top.tiny.centered
			h6.remove-bot.half-top(compile-unsafe="'views.support.profile3' | translate")
			p.i.remove-top.text-grey-60 Valentin Rebierre
		.card.three.col
			.flip.double-top.double-bottom
				#thib.front
				#thib-back.back
			hr.lines.light.add-top.tiny.centered
			h6.remove-bot.half-top(compile-unsafe="'views.support.profile4' | translate")
			p.i.remove-top.text-grey-60 Thibaud Frere
.container
	form(name="form" novalidate).row.double-top
		.eight.offset-two.col.double-top
			hr.light.centered.tiny.lines.half-bot
			h4.text-center(compile-unsafe="'views.support.punchline2' | translate")
			hr.light.centered.tiny.quad-bot.lines
			.row(ng-if="!isSended")
				.six.col
					label(compile-unsafe="'views.support.label1' | translate")
					input.full(type="text",  ng-model="form.name", placeholder="", required)
				.six.col
					label(compile-unsafe="'views.support.label2' | translate")
					input.full(type="email",  ng-model="form.email", placeholder="", required)
				.twelve.col
					label(compile-unsafe="'views.support.label3' | translate")
					textarea.full(ng-model="form.content", placeholder="Votre question ...", required)
					button#validate(ng-click="sendQuestion(form)" ).add-top.button.complement.pull-right.spinner
						.spin
						span(compile-unsafe="'views.support.button' | translate")
					.clearfix.double-bot
			.raw#isGood(ng-if="isGood")
				h4(compile-unsafe="'views.support.isGood' | translate").text-center.quad-top
				p(compile-unsafe="'views.support.isGoodSubline' | translate").text-center.double-bot
			.raw#isBad(ng-if="isGood != null && isGood == false")
				h4(compile-unsafe="'views.support.isBad' | translate").text-center.quad-top
				p(compile-unsafe="'views.support.isBadSubline' | translate").text-center.double-bot
