section.background
	.main-texture
	.container
		.twelve.col
			h3.quad-top.double-bot.text-white.text-center Conditions générales de vente
.container
	.row.double-top.double-bot
		h5 1. Acceptation des Conditions d’Utilisation
		hr.lines
		p.
			Le site freelancer-app.fr permet à l’Utilisateur d’accéder a différents services (ci-après les “Services”
			ou le “Service”). Ces services sont fournis par Freelancer, société par action simplifiée, ayant son
			siège au 71 boulevard Arago 75013 Paris, immatriculée au registre du commerce et des sociétés
			de PARIS sous le numéro 513 861 310 (ci-après “Freelancer”).
			Toute utilisation des Services fournis par Freelancer sur le site freelancer-app.fr, qu’ils soient gratuits
			ou payants, suppose que l’Utilisateur s’engage à respecter les présentes Conditions d’Utilisation
			(ci-après « Conditions d’Utilisation »).
			Freelancer se réserve le droit de mettre à jour et de modifier les Conditions d’Utilisation sans
			notification. Toute nouvelle fonctionnalité qui augmente ou améliore le Service existant, y compris
			de nouveaux outils et ressources, est soumise au même Conditions d’Utilisation, comme cela est
			précisé à l’article 9 des présentes.
			La poursuite de l’utilisation du Service équivaut pour l’Utilisateur à une acceptation tacite de ces
			nouvelles Conditions d’Utilisation.
		h5 2. Description des Services
		hr.lines
		p.
			Le Service est destiné, essentiellement bien que non limitativement, à permettre à ses Utilisateurs
			de créer devis, avenants et factures et à les assister dans cette démarche.
			Le Service offre en outre à l’Utilisateur des espaces de communications privées lui permettant
			d’échanger avec des personnes déterminées, connues et individualisées, des fichiers et des
			messages à caractère personnel, pouvant ainsi être qualifiés de correspondances privées.
			Freelancer offre gratuitement à l’Utilisateur l’accès à certaines fonctionnalités. Cela constitue le
			« Service Gratuit ».
			L’Utilisateur qui souhaite bénéficier de davantage de fonctionnalités de Freelancer y accède
			moyennant le versement d’un abonnement mensuel, lequel peut varier selon le nombre et le
			type de fonctionnalités proposées. Ce service constitue le « Service avec Abonnement ».
			Afin d’utiliser les Services, l’Utilisateur doit disposer d’un accès à l’Internet et d’un navigateur
			régulièrement mis à jour.
			Freelancer recommande très vivement à l’Utilisateur de conserver les Contenus échangés ou
			stockés sur les Services sur une copie de sauvegarde afin de se prémunir de tout risque de perte.
			L’utilisation des Services Freelancer ne dispense pas l’Utilisateur de tenir une comptabilité à jour.
			Le Service peut donner lieu à des communications de la part de Freelancer, telles que des messages
			sur le fonctionnement et l’évolution des Services ou des communications promotionnelles.
		h5 3. Données à caractère personnel
		hr.lines
		p.
			L’Utilisateur, afin de permettre le bon fonctionnement du service, communique, sous sa responsabilité
			exclusive, à Freelancer diverses informations dont il certifie l’exactitude et le caractère
			personnel et non usurpé.
			Freelancer ne peut en aucune façon être tenu responsable à raison de l’inexactitude des informations
			communiquées par l’Utilisateur, ou de leur caractère usurpé.
			Freelancer s’engage à ne conserver ces informations qu’aux seules fins de bon fonctionnement
			du Service. Freelancer s’interdit notamment de communiquer ces informations à des tiers, sauf
			à ce qu’il y soit contraint en raison d’une décision de justice.
			En application de la Loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés,
			chaque Utilisateur dispose des droits d’opposition, d’accès et de rectification des données le
			concernant.
			Ainsi, il peut exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les
			informations le concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la
			collecte ou l’utilisation, la communication ou la conservation est interdite.
			Chaque Utilisateur peut exercer ce droit à tout moment en envoyant un mail à l’adresse suivante :
			contact@freelancer-app.fr
			L’Utilisateur déclare qu’il connaît parfaitement les caractéristiques et les contraintes de l’Internet.
			Il reconnaît notamment qu’il est impossible de garantir que les données que l’Utilisateur aura
			transmises via Internet seront sécurisées à 100%.
			Freelancer ne pourra être tenu responsable des incidents qui pourraient découler de cette transmission.
			L’Utilisateur les communique donc à ses risques et périls. Freelancer s’engage uniquement
			à mettre en œuvre tous les moyens mis à sa disposition pour garantir un maximum de sécurité.
			De manière générale, il est recommandé aux Utilisateurs de manier leurs informations personnelles
			avec beaucoup de prudence ; nous rappelons à toutes fins utiles qu’ils restent seuls
			responsables de leur communication.
		h5 4. Compte Utilisateur, mot de passe et sécurité
		hr.lines
		p.
			Pour accéder aux Services, l’Utilisateur doit créer un Compte identifié par sa propre adresse email
			et par un mot de passe.
			Tant pour le Service Gratuit que pour le Service avec Abonnement, l’ensemble des informations
			personnelles de l’Utilisateur constitue le « Compte » ou le « Compte Freelancer ».
			L’Utilisateur s’engage à veiller à mettre à jour son adresse e-mail car elle seule permet à Freelancer
			de l’identifier et de lui renvoyer un mot de passe en cas d’oubli.
			Ce Compte Freelancer est strictement personnel à l’Utilisateur qui s’interdit de le partager ou le
			céder à qui que ce soit. Cette obligation est considérée comme essentielle.
			En cas de perte ou désactivation de l’adresse e-mail précitée ou en cas de désactivation de son
			Compte par Freelancer pour l’une des raisons exposées ci-dessous à l’article 10, l’Utilisateur
			s’expose à la perte définitive de tous ses Contenus stockés sur les Services Freelancer.
			L’Utilisateur s’engage à ne pas choisir d’identifiant portant atteinte aux droits de tiers et plus
			particulièrement au droit au nom, au droit des marques ou plus généralement contraire à l’ordre
			public.
			L’Utilisateur est responsable:
			» de la conservation du caractère confidentiel de ses mot de passe, question et réponse secrète,
			» des actions qui sont effectuées sous son Nom de Compte et/ou avec son mot de passe.
			Dans le cas où l’Utilisateur accède au Service depuis un ordinateur public, il s’engage à quitter
			la session d’utilisation dès qu’il cesse d’accéder au Service.
		h5 5. Fichiers de l’Utilisateur
		hr.lines
		p.
			L’Utilisateur s’interdit de transmettre, télécharger, diffuser, tout virus ou tout code à caractère
			destructif.
			Dans le cas où l’utilisation de bande passante par l’Utilisateur excède de façon significative la
			moyenne, Freelancer se réserve le droit de limiter ou désactiver temporairement le compte de
			l’Utilisateur, qui en sera notifié concomitamment.
		h5 6. Assistance et garantie
		hr.lines
		p.
			En cas de réclamation, de plainte émanant de tiers ou d’action judiciaire formée à l’encontre de
			Freelancer, ses représentants, ses salariés, ou ses partenaires, consécutive à l’envoi, l’affichage, le
			téléchargement, la diffusion, l’émission, l’édition, la mise en ligne ou la transmission de Contenu
			par l’Utilisateur sur les Services, ou du fait de l’utilisation des Services par l’Utilisateur, ce dernier
			s’engage à assister Freelancer, ses représentants, salariés, ou partenaires dans la préparation
			de leur réponse ou défense en lui communiquant tous documents, données ou informations
			utiles à cette fin.
			Dans le cas où toute réclamation, plainte ou action judiciaire, due aux actions susmentionnées
			de l’Utilisateur précité, aboutirait à la condamnation en justice de Freelancer, ou aurait pour
			effet de contraindre Freelancer à régler une somme d’argent ou de réaliser une prestation au
			profit du tiers précité, l’Utilisateur devrait son entière garantie à Freelancer afin que celle-ci ne
			subisse aucun préjudice.
		h5 7. Interdiction d’exploitation des Services fournis
		hr.lines
		p.
			Le Service est la propriété de Freelancer et/ou de ses ayants droits. L’utilisation des Services
			offerts sur le Site freelancer-app.fr exclut l’exploitation à toute autre fin.
			L’Utilisateur s’interdit toute utilisation autre que celle décrite à l’article 2 des présentes, et
			notamment toute exploitation commerciale ou à but lucratif de tout ou partie des Services ou
			de l’accès aux Services.
			En conséquence, l’Utilisateur s’interdit de reproduire, copier, vendre, revendre, échanger ou exploiter
			dans un but commercial ou moyennant une quelconque rémunération, profit ou avantage, tout
			ou partie du Service, toute utilisation du Service, ou tout droit d’accès au Service.
		h5 8. Règles générales en matière d’utilisation
		hr.lines
		p.
			Inactivité
			Afin de permettre à Freelancer d’optimiser les Conditions d’Utilisation du Service pour le plus
			grand nombre d’Utilisateurs, tout Compte qui ne fait pas l’objet d’un abonnement payant en
			cours, et qui demeure inactif pendant 365 jours, sera supprimé.
			Règles techniques
			D’autres règles techniques d’utilisation ont pour objet de prévenir, réduire ou empêcher les
			usages illicites des Services, susceptibles de nuire à leur qualité technique.
			Ces règles visent à déjouer des attaques, ou contrer l’utilisation des Services par des machines
			programmées à cet effet.
			Ces règles portent sur le volume et/ou la taille et/ou le nombre de Contenus (e-mail, pièces
			jointes, messages, photos, etc.) pouvant être stockés et échangés par le biais des Services, sur
			le nombre de comptes Freelancer susceptibles d’être créés dans un laps de temps donnés.
			Ces règles sont par nature susceptibles d’évoluer pour tenir compte de l’évolution des techniques
			d’attaques de sécurité.
		h5 9. Modification des services et des Conditions d’Utilisation
		hr.lines
		p.
			L’offre de services du Site freelancer-app.fr est évolutive et Freelancer sera amené à fournir de
			nouveaux services, mais aussi le cas échéant, à en supprimer certains ou à modifier les caracté-
			ristiques des Services existants, selon les conditions ci-après énoncées.
			Freelancer pourra également modifier les présentes Conditions d’Utilisation.
			Pour le Service Gratuit, ces modifications seront mises en œuvre sans notification préalable.
			Les Utilisateurs de ces Services doivent se référer à chaque ouverture de session à la dernière
			version des Conditions d’Utilisation disponible en permanence à l’adresse suivante :
			http://freelancer-app.fr/cdu
			Pour le Service avec Abonnement, Freelancer portera les modifications à la connaissance des
			Utilisateurs :
			» Immédiatement, lorsque la modification consiste en une amélioration ou un ajout au Service ;
			» Un mois avant son entrée en vigueur, lorsque la modification consiste en une suppression
			d’une partie du service ou une augmentation du tarif de l’abonnement mensuel.
			Les Utilisateurs qui n’accepteront pas ces modifications pourront résilier leur compte selon la
			procédure décrite à l’article 10-A, des Conditions d’Utilisation.
			En l’absence d’une telle résiliation, les modifications du Service seront réputées acceptées par
			l’Utilisateur.
		h5 10. Résiliation
		hr.lines
		p.
			A. Résiliation à l’initiative de l’Utilisateur
			L’Utilisateur peut résilier l’abonnement mensuel au Service à tout moment, sans coût supplé-
			mentaire, en utilisant l’interface dédiée. Cette résiliation prendra effet dans un délai maximum
			de 31 jours, à la date anniversaire de l’abonnement.
			Par exemple, pour un abonnement réalisé le 10 du mois, la résiliation sera effective au plus
			tard le 10 du mois suivant la demande de résiliation.
			La résiliation a pour effet d’interrompre le règlement mensuel à la date à laquellle elle devient
			effective, et de limiter l’accès de l’Utilisateur aux seuls documents créés avant la demande de
			résiliation.
			Sauf demande écrite de l’Utilisateur, Freelancer conserve dans ses bases de données l’ensemble
			des informations de l’abonnement et l’Utilisateur pourra à tout moment reprendre l’abonnement
			interrompu.
			B. Résiliation à l’initiative de Freelancer
			Manquement
			En cas de manquement à l’une des obligations découlant des présentes Conditions, et en particulier
			aux obligations figurant aux articles 3, 4 et 6, Freelancer pourra adresser par e-mail une
			mise en demeure de remédier à ce manquement.
			Faute pour l’Utilisateur de satisfaire à cette mise en demeure dans un délai de huit jours calendaires,
			Freelancer sera en droit, sans notification préalable et avec effet immédiat de résilier
			l’abonnement de l’Utilisateur.
			Cette résiliation aura pour effet d’interrompre le règlement mensuel à la date à laquellle elle
			devient effective, et de limiter l’accès de l’Utilisateur aux seuls documents créés avant la résiliation.
			Manquement grave
			En cas de manquement grave aux obligations des présentes Conditions, Freelancer se réserve le
			droit d’interdire à l’Utilisateur l’accès total au compte, sans notification préalable et avec effet
			immédiat.
			Freelancer adressera toutefois à l’Utilisateur une notification concomitante à l’interdiction d’accès.
			Non paiement de l’abonnement
			En cas de non paiement de l’abonnement mensuel, ce dernier sera automatiquement résilié.
			Cette résiliation aura pour effet de limiter l’accès de l’Utilisateur aux seuls documents créés
			avant la résiliation.
			L’Utilisateur pourra reprendre son abonnement et avoir de nouveau accès à l’ensemble des
			documents et fonctionnalités de Freelancer en recommençant à régler l’abonnement mensuel.
			Dans un tel cas, la date de reprise de l’abonnement constituera la nouvelle date anniversaire au
			sens du paragraphe A précité.
		h5 11. Droit de propriété de Freelancer et des tiers
		hr.lines
		p.
			Conformément aux dispositions du Code de la Propriété Intellectuelle, Freelancer reste investi de
			l’entière propriété intellectuelle et artistique, tant morale que patrimoniale, relative au Service,
			et notamment du graphisme, des couleurs, de la composition et plus généralement de l’apparence
			visuelle de l’interface ; des interactions possibles ; de l’ergonomie ; de l’organisation, du
			fonctionnement et de l’agencement des fonctionnalités ; du code qui permet de mettre en œuvre
			l’interface et le Service en général…
			L’Utilisateur s’interdit par conséquent de reproduire, même à des fins non commerciales, tout
			ou partie du Service.
		h5 12. Garanties
		hr.lines
		p.
			Freelancer s’efforce dans la mesure du possible de maintenir accessible le Service 7 jours sur 7
			et 24 heures sur 24, mais n’est tenu à aucune obligation d’y parvenir.
			Freelancer peut donc interrompre l’accès, notamment pour des opérations de maintenance et
			de mise à niveau, ou pour toute autre raison, notamment technique.
			Freelancer n’est en aucun cas responsable de ces interruptions et des conséquences qui peuvent
			en découler pour l’Utilisateur ou tout tiers.
			Il est rappelé que Freelancer peut mettre fin ou modifier les caractéristiques de ces Services dans
			les conditions mentionnées à l’article 9 précité.
			L’Utilisateur accepte le fait que Freelancer ne pourra en aucun cas être tenu responsable de tout
			dommage matériel et/ou immatériel et/ou direct et indirect de quelque nature que ce soit et/
			ou découlant de l’utilisation ou de l’impossibilité d’utiliser le Service.
			Freelancer ne pourra être tenu responsable en cas de poursuites judiciaires à l’encontre de l’Utilisateur
			et/ou de ses préposés du fait de l’usage du Service.
			Freelancer dégage toute responsabilité en cas d’utilisation du Service non conforme aux présentes.
			Il appartient à l’Utilisateur de prendre toutes les mesures appropriées de façon à protéger ses
			propres données et ou logiciels de la contamination par d’éventuels virus circulants sur le réseau
			Internet.
		h5 13. Exercice de droits
		hr.lines
		p.
			Le défaut pour Freelancer d’exercer les droits qui lui sont reconnus en application des présentes,
			et notamment le droit de percevoir le montant de l’abonnement pour le Service avec Abonnement,
			ne constitue jamais renonciation à faire valoir ces droits.
		h5 14. Forces majeures
		hr.lines
		p.
			Aucune des deux parties ne peut être tenue pour responsable vis à vis de l’autre partie de la
			non-exécution ou des retards dans l’exécution d’une obligation du présent contrat qui seraient
			dus au fait de l’autre partie ou consécutivement à la survenance d’un cas de force majeure.
			Le cas de force majeure suspend les obligations nées du présent contrat pendant toute la durée
			de son existence.
		h5 15. Support
		hr.lines
		p.
			Freelancer n’assure le support technique des Services uniquement par e-mail.