section.background
	#main-texture
	#main-background
	.container
		.twelve.col
			h3.octo-top.double-bot.text-white.text-center Contactez nous !

.container.double-top.double-bot
	form.row
		.eight.col
			.six.col
				label Ton nom
				input.full(type="text", placeholder="")
			.six.col
				label Email
				input.full(type="email", placeholder="")
			.twelve.col
				label Message
				textarea.full(placeholder="Votre message ici ...")
				button.add-top.button.complement.pull-right Envoyer
		.four.col.double-padding
			i.icon.icon-plane.pull-left.text-grey-80.add-padding
			h6 Ou bien par
			hr.lines
			ul.no-style
				li
					a(href="http://twitter.com/peon") Twitter
				li
					a(href="http://twitter.com/peon") Facebook
				li
					a(href="http://twitter.com/peon") Google +
