nav
	.container
		.row
			.twelve.col
				a#logo.pull-left(ui-sref-active="active" ui-sref="nav.home")
				//- a.pull-left.uppercase.large-display(ui-sref-active="active" ui-sref="nav.assistance" compile-unsafe="'views.nav.support' | translate")
				div.pull-right.half-left(ng-translate-language-select)
				a.button.small.pull-right.-primary(ui-sref-active="active" ui-sref="nav.form" compile-unsafe="'views.nav.punchline' | translate")

section.background
	.main-texture
	#general-background
	.container
		.twelve.col
			h3.b.text-white.text-center Edetmoi et les cookies
.container
	.row.quad-top.double-bot
		h5 Le rôle des cookies
		hr.light.lines
		p.
			Nous déposons des petits fichiers (appelés cookies) sur votre ordinateur pour y recueillir des informations sur votre navigation.
			<br><br>
			<b>Ces cookies servent à</b>
			<br><br>
			Mesurer et analyser votre utilisation de notre site afin qu’il réponde au mieux à vos besoins<br><br>
			
			Garder en mémoire vos choix et habitudes de navigation pour que vous n’ayez pas à les reformuler à chaque fois.<br><br>
			
			Les cookies ne servent pas à identifier votre personnalité, vos opinions ou votre taille de chaussures.
			<br><br>
			Vous avez dû voir un bandeau d’avertissement sur notre page d’accueil avant que nous déposions un cookie sur votre ordinateur. Nous nous passerions bien de ce bandeau, mais c’est la loi.
