section.background
	.main-texture
	#general-background
	.container
		.twelve.col
			h3.b.text-white.text-center(compile-unsafe="'views.questions.punchline' | translate")
.row
	.container.double-bot.quad-top
		#app.row
			a(ui-sref-active="active" ng-click="moveTo('app')" ui-sref="nav.faq.show({id:'app'})").faq-box.six.col
				.main-texture
				.tab-peon
				.background
				p.text-right.add-top.double-right.b.
					Application
			a(ui-sref-active="active" ng-click="moveTo('app')" ui-sref="nav.faq.show({id:'state'})").faq-box.six.col
				.main-texture
				.tab-peon-2
				.background-2
				p.text-left.add-top.double-left.b.
					Statut
			.clearfix
		div.double-top#question_handler(ui-view="")
		form(name="form" novalidate).row.double-top
			.eight.offset-two.col.double-top
				hr.light.centered.tiny.lines.half-bot
				h4.text-center(compile-unsafe="'views.questions.punchline2' | translate")
				hr.light.centered.tiny.quad-bot.lines
				.row(ng-if="!isSended")
					.six.col
						label(compile-unsafe="'views.questions.label1' | translate")
						input.full(type="text",  ng-model="form.name", placeholder="", required )
					.six.col
						label(compile-unsafe="'views.questions.label2' | translate")
						input.full(type="email",  ng-model="form.email", placeholder="", required )
					.twelve.col
						label(compile-unsafe="'views.questions.label3' | translate")
						textarea.full(ng-model="form.content", placeholder="Votre question ...", required)
						button#validate(ng-click="sendQuestion(form)").add-top.button.complement.pull-right.spinner
							.spin
							span(compile-unsafe="'views.questions.button' | translate")
						.clearfix.double-bot
				.raw#isGood(ng-if="isGood")
					h4(compile-unsafe="'views.questions.isGood' | translate").text-center.quad-top
					p(compile-unsafe="'views.questions.isGoodSubline' | translate").text-center.double-bot
				.raw#isBad(ng-if="isGood != null && isGood == false")
					h4.text-center.quad-top(compile-unsafe="'views.questions.isBad' | translate")
					p.text-center.double-bot(compile-unsafe="'views.questions.isBadSubline' | translate")