section.background
	.main-texture
	#general-background
	.container
		.twelve.col
			h3.b.text-white.text-center Informations générales
.row
	.container.double-bot.quad-top
		#app.row
			a(ui-sref-active="active" ng-click="moveTo('app')" ui-sref="nav.faq.application").faq-box.six.col
				.main-texture
				.tab-peon
				.background
				p.text-right.add-top.double-right.b.
					Application
			a(ui-sref-active="active" ng-click="moveTo('app')" ui-sref="nav.faq.statut").faq-box.six.col
				.main-texture
				.tab-peon-2
				.background-2
				p.text-left.add-top.double-left.b.
					Statut
			.clearfix.double-bot
			div#question_handler(ui-view="")
		form(name="form" novalidate).row.quad-top.double-bot
			.eight.offset-two.col.double-top
				hr.light.centered.tiny.lines.half-bot
				h4.text-center Ou posez nous directement la question
				hr.light.centered.tiny.quad-bot.lines
				.row(ng-if="!isSended")
					.six.col
						label Nom
						input.full(type="text",  ng-model="form.name", placeholder="", required)
					.six.col
						label Email
						input.full(type="email",  ng-model="form.email", placeholder="", required)
					.twelve.col
						label Message
						textarea.full(ng-model="form.content", placeholder="Votre question ...", required)
						button#validate(ng-click="sendQuestion(form)").add-top.button.complement.pull-right.spinner
							.spin
							span Envoyer
						.clearfix.double-bot
				.raw#isGood(ng-if="isGood")
					h4.text-center.quad-top Merci !
					p.text-center.double-bot.
						On vous répondra bientôt
				.raw#isBad(ng-if="isGood != null && isGood == false")
					h4.text-center.quad-top Désolé
					p.text-center.double-bot.
						Le serveur à eu un petit probleme, essayez plus tard !