section.background
	.main-texture
	.container
		.twelve.col
			h3.octo-top.double-bot.text-white.text-center Les questions c'est par ici !
.row
	.container.quad-bot.quad-top
		.row
			.twelve.col
				.question(ng-repeat="question in questions track by $index")
					a(toggle-child-height="active" index="{{$index}}")
						i.icon.icon-pen.pull-left.text-grey-80.add-padding.large-display
						h6 {{question.title}}
						hr
					p.add-left {{question.text}}
