section.screen-box.center.full-form
  .info-handler(ng-class="{ 'active': isLastStepReached }")
    .progress.-complement.-small.-wick(ng-class="{on: step != 1 }")
      .bar(style='width:30%')
    .info
      h4(compile-unsafe="'views.form.info.title' | translate")
      //- button.button(ui-sref="nav.home")
      //-   i.icon.-chevron-left
      //-   span Retour au site
    .navigation
      .navigation-handler
        .dot-button.clickable.current.touch(ng-click="goTo($event, 1)")
        .dot-button.touch(ng-click="goTo($event, 2)")
        .dot-button.touch(ng-click="goTo($event, 3)")
        .dot-button.touch(ng-click="goTo($event, 4)")
        .dot-button.touch(ng-click="goTo($event, 5)")
    .step
      h5 {{ step }} / {{ totalStep }}
    .next
      button.button.-round.-line-complement.touch(ng-click="next(step1)" ng-validate)
        span(compile-unsafe="'views.form.info.validate' | translate")
        i.icon.-arrow-return
      hr.-invisible
      label(compile-unsafe="'views.form.info.validateLabel' | translate")
    .socials(ng-show="isLoadingFinished")
      a(href="#").social-link.touch
        i.social.-dark.-facebook
      a(href="#").social-link.touch
        i.social.-dark.-twitter
      a(href="#").social-link.touch
        i.social.-dark.-googleplus
      .button-box
        button.-big.touch.button.-round.-line-primary(ui-sref="nav.home" compile-unsafe="'views.result.cta1' | translate")

  
  
  //- QUESTION 1
  
  form.center-wrapper(name="step1" ng-if="step === 1" novalidate)
    h3.-appear(compile-unsafe="'views.form.question1.title' | translate")
    hr.-invisible(ng-init="setForm(step1, 1)")
    .box.radio-custom.-big
      span.-big
        input(id="radio-1-1-4" type="radio" value="fr"  ng-click="isEuropeanActive = false; isOtherActive = false" ng-model="data.nationality" name="nationality" ng-required="!data.nationality")
        label.french(for="radio-1-1-4")
          span(compile-unsafe="'views.form.question1.answer1' | translate")
      span.-big
        input(id="radio-1-1-5" type="radio" ng-click="isEuropeanActive = true; isOtherActive = false" value="eu" ng-model="data.nationality" name="nationality" ng-required="!data.nationality")
        label.european(for="radio-1-1-5")
          span(compile-unsafe="'views.form.question1.answer2' | translate")
      span.-big
        input(id="radio-1-1-6" type="radio" ng-click="isOtherActive = true; isEuropeanActive = false" value="other" ng-model="data.nationality" name="nationality" ng-required="!data.nationality")
        label.other(for="radio-1-1-6")
          span(compile-unsafe="'views.form.question1.answer3' | translate")
    .checkbox.-big.-multi-line(ng-if="isEuropeanActive" ng-class="{'has-error': step1.$invalid}")
      input#checkbox1(type='checkbox' name="isEuropeanActive" ng-model="data.isEuropeanActive")
      label(for='checkbox1' ng-model="data.isEuropeanActive" required)
        span(compile-unsafe="'views.form.question1.label1' | translate")
    .checkbox.-big.-multi-line(ng-if="isOtherActive")
      input#checkbox2(type='checkbox' ng-model="data.isOtherActive" required)
      label(for='checkbox2')
        span(compile-unsafe="'views.form.question1.label2' | translate")

  //- QUESTION 2

  form.center-wrapper(name="step2" ng-if="step === 2" novalidate)
    h3.-appear(compile-unsafe="'views.form.question2.title' | translate")
    hr.-invisible(ng-init="setForm(step2, 2)")
    .box.radio-custom.-big
      span.-big
        input(id="radio-2-1" type="radio" value="true"  ng-model="data.isAlone" name="isAlone" ng-required="!data.isAlone")
        label.alone(for="radio-2-1")
          span(compile-unsafe="'views.form.question2.answer1' | translate")
      span.-big
        input(id="radio-2-2" type="radio" value="false" ng-model="data.isAlone" name="isAlone" ng-required="!data.isAlone")
        label.couple(for="radio-2-2")
          span(compile-unsafe="'views.form.question2.answer2' | translate")

  //- QUESTION 3
      
  form.center-wrapper(name="step3" ng-if="step === 3" novalidate)
    h3.-appear(compile-unsafe="'views.form.question3.title' | translate")
    hr.-invisible(ng-init="setForm(step3, 3)")
    .box.button-box
      fieldset#bday.-has-icon
        i.icon.-cake
        input(type="date" ng-model="data.birthday" name="bday" required)


  //- QUESTION 4

  form.center-wrapper(name="step4" ng-if="step === 4" novalidate)
    hr.-invisible(ng-init="setForm(step4, 4)")
    .container
      .row
        .six.col
          h3.-appear(compile-unsafe="'views.form.question4.title' | translate")
          p(compile-unsafe="'views.form.question4.desc' | translate")
          .radio-custom
            span
              input(id="checkbox-4-1" type="checkbox" value="true" ng-model="data.isPregnant" name="checkbox1" )
              label.pregnant(for="checkbox-4-1")
                span(compile-unsafe="'views.form.question4.answer1' | translate")
            span
              input(id="checkbox-4-2" type="checkbox" value="true" ng-click="isClaimingJob = !isClaimingJob" ng-model="data.isCv" name="checkbox2" )
              label.cv(for="checkbox-4-2")
                span(compile-unsafe="'views.form.question4.answer2' | translate")
            span
              input(id="checkbox-4-3" type="checkbox" value="true" ng-click="isAStudent = !isAStudent" ng-model="data.isStudent" name="checkbox3" )
              label.student(for="checkbox-4-3")
                span(compile-unsafe="'views.form.question4.answer3' | translate")
            span
              input(id="checkbox-4-4" type="checkbox" value="true" ng-model="data.isRetirement" name="checkbox4" )
              label.retirement(for="checkbox-4-4")
                span(compile-unsafe="'views.form.question4.answer4' | translate")
            span
              input(id="checkbox-4-5" type="checkbox" value="true" ng-click="isHandicap = !isHandicap" ng-model="data.isHandicap" name="checkbox4" )
              label.handicap(for="checkbox-4-5")
                span(compile-unsafe="'views.form.question4.answer5' | translate")
            span
              input(id="checkbox-4-6" type="checkbox" value="true" ng-model="data.isUnfit" name="checkbox6" )
              label.unfit(for="checkbox-4-6")
                span(compile-unsafe="'views.form.question4.answer6' | translate")
        .six.col
          h3(compile-unsafe="'views.form.question4.title2' | translate" ng-class="{'hidden': !isAstudent || !isClaimingJob || !isHandicap}")
          p(compile-unsafe="'views.form.question4.desc2' | translate")
          .side-question(ng-if="isAStudent")
            .checkbox.-big
              input( id="checkbox-4-7" type='checkbox' value="1" name="checkbox8" ng-model="data.isAnHelpedStudent")
              label(for='checkbox-4-7')
                span(compile-unsafe="'views.form.question4.checkbox1' | translate")
          .side-question(ng-if="isClaimingJob == true")
            .button-box
              label(compile-unsafe="'views.form.question4.date1' | translate")
              fieldset.-has-icon
                i.icon.-calendar-full
                input(type="date" ng-model="data.claimingJobDate" name="claimingJobDate" watch-change="dateUpdate()" required)
            .checkbox.-big(ng-if="isEndOfLastJob && isClaimingJob")
              input( id="checkbox-4-8" type='checkbox' value="1" name="checkbox7" ng-model="data.workedBefore" required)
              label(for='checkbox-4-8')
                span(compile-unsafe="'views.form.question4.checkbox2' | translate")
          .side-question(ng-if="isHandicap")
            label(compile-unsafe="'views.form.question4.slider1' | translate")
            rzslider(rz-slider-model="slider_ticks.value" rz-slider-options="slider_ticks.options")

            
  //- QUESTION 5

  form.center-wrapper(name="step5" ng-if="step === 5" novalidate)
    hr.-invisible(ng-init="setForm(step5, 5)")
    .container
      .row
        .six.col
          h3.-appear(compile-unsafe="'views.form.question5.title' | translate")
          label(compile-unsafe="'views.form.question5-1.title' | translate")
          .radio-custom
            span.-big
              input(id="radio-5-1-1" type="radio" value="0"  ng-model="data.isColloc" name="isColloc" ng-required="!data.isColloc")
              label.family(for="radio-5-1-1")
                span(compile-unsafe="'views.form.question5-1.answer1' | translate")
            span.-big
              input(id="radio-5-1-2" type="radio" value="1" ng-model="data.isColloc" name="isColloc" ng-required="!data.isColloc")
              label.alone(for="radio-5-1-2")
                span(compile-unsafe="'views.form.question5-1.answer2' | translate")
          label
            span(compile-unsafe="'views.form.question5-2.title' | translate")
            i.icon.-question-circle#help(ng-click="openModal2()")
          .radio-custom
            span.-big
              input(id="radio-5-2-1" type="radio" value="0"  ng-model="data.isWithFurniture" name="isWithFurniture" ng-required="!data.isWithFurniture")
              label.furnished(for="radio-5-2-1")
                span(compile-unsafe="'views.form.question5-2.answer1' | translate")
            span.-big
              input(id="radio-5-2-2" type="radio" value="1" ng-model="data.isWithFurniture" name="isWithFurniture" ng-required="!data.isWithFurniture")
              label.unfurnished(for="radio-5-2-2")
                span(compile-unsafe="'views.form.question5-2.answer2' | translate")
        .six.col
          h3(compile-unsafe="'views.form.question5.title2' | translate" ng-class="{'hidden': !isAstudent || !isClaimingJob || !isHandicap}")
          p(compile-unsafe="'views.form.question5.desc2' | translate")
          .button-box
            fieldset.-has-icon
              label(compile-unsafe="'views.form.question5.label1' | translate")
              input(type="text" name="postal-code" placeholder="Votre code postal..." ng-model="data.zip" required ng-class="{ '-disabled': isGetPositionLoading }")
              i.icon.-map-marker#geoloc(ng-click="getPosition()" ng-class="{ 'loading': isGetPositionLoading }")
            label#geoloc-helper(ng-class="{'hidden': isGetPositionTriggered === true}")
              i(class="icon -pointer-up2 levitate")
              span(compile-unsafe="'views.form.question5.geoloc' | translate")

            div(ng-if="data.isWithFurniture == 0")
              label(compile-unsafe="'views.form.question5.label2' | translate")
              fieldset.-has-icon
                i.icon.-receipt
                input(type="number" name="rent" placeholder="..." ng-model="data.rentPrice" required)
            div(ng-if="data.isWithFurniture == 1")
              label(compile-unsafe="'views.form.question5.label3' | translate")
              fieldset.-has-icon
                i.icon.-receipt
                input(type="number" name="rent" placeholder="..." ng-model="data.rentPrice" required)

          hr.-invisible.add-top.add-bottom
          .side-question
            .checkbox.-big
              input(id="checkbox-5-3-6" type='checkbox' value="1" name="checkbox6" ng-model="data.money")
              label(for='checkbox-5-3-6')
                span(compile-unsafe="'views.form.question5-4.checkbox' | translate")

  //- QUESTION 6
      
  form.center-wrapper(name="step6" ng-if="step === 6" novalidate)
    h3.-appear(compile-unsafe="'views.form.question6.title' | translate")
    hr.-invisible(ng-init="setForm(step6, 6)")
    .box.button-box
      fieldset#bday.-has-icon
        i.icon.-bag-euro
        input(type="number" ng-model="data.money" name="money" placeholder="La totalité des revenus perçus en 2016" required)

  //- QUESTION 7 RESULT

  #result.center-wrapper.text-center(name="step7" ng-if="step === 7" novalidate)
    //- div(ng-if="isUserReady")
    //-   button.button.-round.-primary(ui-sref="nav.home" disabled="disabled" compile-unsafe="'views.result.cta2' | translate")
    div(ng-if="!isLoadingFinished")
      .circle-line-scale
        div
        div
        div
      .info-box
        h6.info(compile-unsafe="'views.form.loading.info' | translate")
        //- h4(compile-unsafe="'views.form.loading.title' | translate")
        //- p.lead(compile-unsafe="'views.form.loading.lead' | translate")
    div(ng-if="isLoadingFinished")
      .two-cols-verticaly-aligned
        .wrapper
          #result-success
        .wrapper
          h5.b.add-bot(compile-unsafe="'views.result.title' | translate")
          .result-value.card
            header.header
              span.b.desc(compile-unsafe="'views.result.result.apl' | translate")
            .content
              h1.b
                span.value(count-to="{{finalResult.apl}}" value="0" duration="1")
                span.currency(compile-unsafe="'views.result.currency' | translate")
              span.month(compile-unsafe="'views.result.month' | translate")
            a.button.-complement(ng-click="openModal()").
              Faire la demande
          .result-value.card.add-left(ng-class="{'-disabled': finalResult.rsa == 0}")
            header.header
              span.b.desc(compile-unsafe="'views.result.result.rsa' | translate")
            .content
              h1.b
                span.value(count-to="{{finalResult.rsa}}" value="0" duration="1")
                span.currency(compile-unsafe="'views.result.currency' | translate")
              span.month(compile-unsafe="'views.result.month' | translate")
            a.button.-complement(ng-click="openModal()" compile-unsafe="'views.result.modal.demand' | translate")

          p(compile-unsafe="'views.result.desc' | translate")
        
.modal.modal-1
  .overlay.close-modal(ng-click="closeModal()")
  .content
    .message.content-wrapper.-with-intent
      i.-3x.icon.-register
      h5(compile-unsafe="'views.result.modal.title1' | translate")
      label.add-top.add-bot(compile-unsafe="'views.result.modal.desc' | translate")
      form.merge.-horizontal.-large(ng-if="!isEmailSended")
        fieldset.-has-icon.remove-bot
          i.icon.-envelope
          input(type='email' ng-model="email" name="email" placeholder='Ton email...').remove-bot
        button(ng-click="sendEmail()").button.-complement.-icon-only.-no-gradient.remove-bot
          i.icon.-check
      div(ng-if="isEmailSended")
        h3.text-center(compile-unsafe="'views.result.modal.thanks' | translate")
      div.hr
        span(compile-unsafe="'views.result.modal.or' | translate")
      a.button.-big.-large.-complement.text-center( target="_blank" href="http://www.caf.fr/aides-et-services/les-services-en-ligne/estimer-vos-droits/simulation-rsa")
        span(compile-unsafe="'views.result.modal.cafLink' | translate")
        i.icon.-arrow-up-right
      .close-button.close-modal(ng-click="closeModal()")
        i.icon.-cross
      //- a.button.-complement( target="_blank" href="http://www.caf.fr/aides-et-services/les-services-en-ligne/estimer-vos-droits/simulation-rsa").
      //-   Faire la demande

      
.modal.modal-2
  .overlay.close-modal(ng-click="closeModal2()")
  .content
    .message.content-wrapper
      h5(compile-unsafe="'views.result.modal-2.title1' | translate")
      .container
        .row
          .four.col
            #meuble
          .four.col
            label.add-top.add-bot(compile-unsafe="'views.result.modal-2.desc1' | translate")
          .four.col
            //- h6(compile-unsafe="'views.result.modal-2.title2' | translate")
            label.add-top.add-bot(compile-unsafe="'views.result.modal-2.desc2' | translate")
            .close-button.close-modal(ng-click="closeModal2()")
              i.icon.-cross
            //- a.button.-complement( target="_blank" href="http://www.caf.fr/aides-et-services/les-services-en-ligne/estimer-vos-droits/simulation-rsa").
            //-   Faire la demande


//- h6.remove-bot
//-   span(compile-unsafe="'views.result.timer' | translate")
//-   span.b(count-to="{{duration}}" value="0" duration="1") secondes
//- p(compile-unsafe="'views.result.social' | translate")
