section.background
	.main-texture
	.container
		.twelve.col
			h3.quad-top.double-bot.text-white.text-center En détails

.container.double-top.double-bot
	.six.col
		ul
			li
				p Accessible sur tablette, PC.
			li
				p Mises à jour automatiques.
			li
				p Données privés et sécurisées.
			li
				p Edition de devis et factures.
			li
				p Calcul automatique des charges.
			li
				p Analyse de résultats.
	.six.col
		ul
			li
				p Autogestion des impayé.
			li
				p Auto emails de relance.
			li
				p Gestion de l'ACCRE.
			li
				p Devis et factures personnalisables.
			li
				p Exportez en un click.
			li
				p Aucun engagement de durée