section.background
	#welcome
	.container
		.twelve.col
			h3.text-right.octo-top.text-white Enfin une bonne raison d'entreprendre !
			button.pull-right.button.quad-bot.complement(href="") essais gratuit

section
	.container
		.row
			.eight.col
				h4.quad-top Retour à l'essentiel
				h6.text-grey-80 Une interface simple pour une prise en main immédiate.
				p.quad-bot.
					Conçus par des auto-entrepreneurs, Peon est probablement le logiciel le plus proche de vous.
					Nous avons éliminé toutes options superflu pour vous garantir un environnement de travail agréable et
					intuitif.
			.four.col
				.circle.big-circle.bg-grey-10.quad-top
		.row
			.four.col
				.circle.big-circle.bg-grey-10.quad-top
			.eight.col.text-right
				h4.quad-top Plus rapide
				h6.text-grey-80 Des fonctionnalités innovantes pour plus de temps libre.
				p.quad-bot.
					Grace à ses fonctionnalités innovantes, comme l'édition de facture instantanée, ou la validation des devis en
					ligne, Peon accélère le fonctionnement quotidien de votre auto-entreprise.
					La plupart des actions sont automatisées. Enregistrez vos clients, sectionnez vos prestations, et laissez
					Peon faire le reste. 
		.row
			.eight.col
				h4.quad-top Sans engagement
				h6.text-grey-80 Aucune contrainte pour une liberté totale.
				p.quad-bot.
					La totalitée du service est accessible sans engagement.
					Vous pouvez à tout moment vous désabonner sur simple clic depuis le menu option tout en exportant votre comptabilité.
					Et même dans ce cas, votre compte et vos données restent accessible à tout moment.
			.four.col
				.circle.big-circle.bg-grey-10.quad-top

section
	.container
		.row
			h4.text-center.octo-top Vos devis en moins de 60 secondes
			.eight.col.offset-two.bg-grey-05.double-padding.double-top
				| <iframe width="100%" height="315" src="https://www.youtube.com/embed/GsFQ6jskci0" frameborder="0" allowfullscreen></iframe>

section
	.container
		.row
			.twelve.col
				h4.text-center.octo-top En détails, ça fait quoi ?
				h6.text-center.text-grey-80.quad-bot liste non exhaustive
		.row
			.four.col
				.circle.small-circle.circle-responsive
				p.i.add-top.text-center Accessible sur tablette, PC
				// p.text-center mabite
			.four.col
				.circle.small-circle.circle-cloudsafe
				p.i.add-top.text-center Données sécurisées.
				// p.text-center mabite
			.four.col
				.circle.small-circle.circle-papers
				p.i.add-top.text-center Edition de devis et factures.
				// p.text-center mabite
		.row.octo-bot.double-top
			.four.col
				.circle.small-circle.circle-calculator
				p.i.add-top.text-center Calcul automatique des cotisations.
				// p.text-center mabite
			.four.col
				.circle.small-circle.circle-pig
				p.i.add-top.text-center Gestion des impayés.
				// p.text-center mabite
			.four.col
				.circle.small-circle.circle-unlimited
				p.i.add-top.text-center Sans engagement.
				// p.text-center mabite
section.background
	#peon
	.container
		.row
			.twelve.col
				h4.text-white.text-center.quad-top Convaincu ou non, essayez-le !
				.fluid-horizontal-center
					button.button.double-bot.complement C'est gratuit
