section.background
	.main-texture
	//- #main-background.large-display
	#welcome.large-display
	#content.container
		.twelve.col
			h3.text-right.six-top.remove-bot.text-white.

				<b>Une bonne raison d'entreprendre</b> 
			h6.text-right.text-white.double-bot.
				Gestion <b>auto-entrepreneur</b> pour prestataires de services et activités libérales
			.pull-right
				a.cta.button.half-right.primary(ng-click="trackCta1()" href="http://app.peon.fr/inscription") Mois d'essais gratuit
				a.cta.button.complement(ng-click="trackCta1()" href="http://app.peon.fr/connexion") Demo
			.clearfix
			p.text-white.text-right.quad-bot.
				Seulement <b>4.90</b> par mois.
section
	.clearfix
	.container
		.row
			.six.col.quad-top
				h5.add-top.remove-bot Vos devis en 56 secondes
				hr.lines.half
				p.quad-bot.
					Peon est un expert comptable totalement automatisé permettant de vous concentrer uniquement sur les besoins réels de votre entreprise. 
					Avec ça, plus d'excuses !
			//- #waypoint1
			.six.col
					#video-container.double-top
						#video-box.double-bot(ng-init="isVideoClicked=false")
							img#video-cover(ng-click="videoClickMask()" ng-if="isVideoClicked == false" src='assets/imgs/png/video.png')
							| <iframe  ng-if="isVideoClicked == true" frameborder="0" width="558" height="300" src="https://www.youtube.com/embed/mFRwMaYtVjQ?rel=0&theme=dark&color=white&autoplay=1&autohide=1&modestbranding=1&showinfo=0&rel=0&iv_load_policy=3" frameborder="1" allowfullscreen></iframe>
						.clearfix
//- section.background.bg-white
//- 	h4.text-center.double-top.
//- 		Vos devis en moins de<br>60 secondes
//- 	#video-container
//- 		#video-box.double-bot(ng-init="isVideoClicked=false")
//- 			img#video-cover(ng-click="videoClickMask()" ng-if="isVideoClicked == false" src='assets/imgs/png/video.png')
//- 			| <iframe  ng-if="isVideoClicked == true" frameborder="0" width="558" height="300" src="https://www.youtube.com/embed/Tve2GEGn7GA?rel=0&theme=dark&color=white&autoplay=1&autohide=1&modestbranding=1&showinfo=0&rel=0&iv_load_policy=3" frameborder="1" allowfullscreen></iframe>
//- 		.clearfix
section
	.container
		.row
			.twelve.col
				h4.text-center.quad-top En détails, ça fait quoi ?
				hr.lines.tiny.quad-bot.centered
		.row
			.four.col
				.circle.small-circle.circle-responsive
				p.i.add-top.text-center Accessible sur tablette et PC.
			.four.col
				.circle.small-circle.circle-cloudsafe
				p.i.add-top.text-center Données sécurisées.
			.four.col
				.circle.small-circle.circle-papers
				p.i.add-top.text-center Factures instantannées
		.row.octo-bot.double-top
			.four.col
				.circle.small-circle.circle-calculator
				p.i.add-top.text-center Calcul des cotisations.
			.four.col
				.circle.small-circle.circle-pig
				p.i.add-top.text-center Gestion des impayés.
			.four.col
				.circle.small-circle.circle-unlimited
				p.i.add-top.text-center Sans engagement.
section.background
	#peon
	.main-texture
	.container
		.row
			.twelve.col
				h4.text-white.text-center.quad-top Convaincu ou non, essayez-le !
				.fluid-horizontal-center
					a(ng-click="trackCta1()" href="http://app.peon.fr").cta.button.double-bot.primary C'est gratuit
