section.background
	.main-texture
	#main-background.large-display
	#welcome.large-display
	#content.container
		.twelve.col
			h3.text-right.octo-top.text-white.
				Enfin une bonne raison<br> d'entreprendre !
			a.cta.pull-right.button.quad-bot.primary(ng-click="trackCta1()" href="http://91.121.133.217:9000/inscription") essais gratuit
section.background.bg-grey-05
	//.main-texture
	#video-container
		h4.text-center.double-top.
			Vos devis en moins de<br>60 secondes
		#video-box.double-top
			| <iframe width="100%" height="315" src="//www.youtube.com/embed/M-7l9Wjkhkk" frameborder="0" allowfullscreen></iframe>

section
	.clearfix.double-top
	.clearfix.octo-top
	.container
		.row
			.eight.col.quad-top
				h4.add-top.remove-bot Retour à l'essentiel
				h6.text-grey-80 Une interface simple pour une prise en main immédiate.
				p.quad-bot.
					Conçus par des auto-entrepreneurs, Peon est probablement le logiciel le plus proche de vous.
					Nous avons éliminé toutes options superflu pour vous garantir un environnement de travail agréable et
					intuitif.
			.four.col#waypoint1
				#circle-image-1.big-circle.quad-top.large-display
		.row
			.four.col#waypoint2
				#circle-image-2.big-circle.quad-top.large-display
			.eight.col.text-right
				h4.quad-top.remove-bot Plus rapide
				h6.text-grey-80 Des fonctionnalités innovantes pour plus de temps libre.
				p.
					Grace à ses fonctionnalités innovantes, comme l'édition de facture instantanée, ou la validation des devis en
					ligne, Peon accélère le fonctionnement quotidien de votre auto-entreprise.
					La plupart des actions sont automatisées. Enregistrez vos clients, sectionnez vos prestations, et laissez
					Peon faire le reste. 
		//- .row
		//- 	.eight.col
		//- 		h4.quad-top.remove-bot Sans engagement
		//- 		h6.text-grey-80 Aucune contrainte pour une liberté totale.
		//- 		p.
		//- 			La totalitée du service est accessible sans engagement.
		//- 			Vous pouvez à tout moment vous désabonner sur simple clic depuis le menu option tout en exportant votre comptabilité.
		//- 			Et même dans ce cas, votre compte et vos données restent accessible à tout moment.
		//- 	.four.col#waypoint3
		//- 		#circle-image-3.big-circle.quad-top.large-display
section.double-top
	.container
		.row
			.twelve.col
				h4.text-center.quad-top En détails, ça fait quoi ?
				hr.lines.tiny.quad-bot
		.row
			.four.col
				.circle.small-circle.circle-responsive
				p.i.add-top.text-center Accessible sur tablette, PC
				// p.text-center mabite
			.four.col
				.circle.small-circle.circle-cloudsafe
				p.i.add-top.text-center Données sécurisées.
				// p.text-center mabite
			.four.col
				.circle.small-circle.circle-papers
				p.i.add-top.text-center Edition de devis et factures.
				// p.text-center mabite
		.row.octo-bot.double-top
			.four.col
				.circle.small-circle.circle-calculator
				p.i.add-top.text-center Calcul des cotisations.
				// p.text-center mabite
			.four.col
				.circle.small-circle.circle-pig
				p.i.add-top.text-center Gestion des impayés.
				// p.text-center mabite
			.four.col
				.circle.small-circle.circle-unlimited
				p.i.add-top.text-center Sans engagement.
				// p.text-center mabite
section.background
	#peon
	.main-texture
	.container
		.row
			.twelve.col
				h4.text-white.text-center.quad-top Convaincu ou non, essayez-le !
				.fluid-horizontal-center
					a(ng-click="trackCta1()" href="http://91.121.133.217:9000").cta.button.double-bot.primary C'est gratuit
