nav
	.container
		.row
			.twelve.col
				a#logo.pull-left(ui-sref-active="active" ui-sref="nav.home")
				//- a.pull-left.uppercase.large-display(ui-sref-active="active" ui-sref="nav.assistance" compile-unsafe="'views.nav.support' | translate")
				div.-round.pull-right.half-left(ng-translate-language-select)
				a.button.-round.small.pull-right.-line-primary(ui-sref-active="active" ui-sref="nav.form" compile-unsafe="'views.nav.punchline' | translate")

section.background
	.main-texture
	#main-background
	//#welcome.large-display
	#content.container
		.twelve.col.double-top
			h1.punchline.text-right.text-white.remove-bot(compile-unsafe="'views.main.punchline' | translate")
			h5.text-right.text-white.add-bot(compile-unsafe="'views.main.subline' | translate")
			.quad-bot
				a.cta.touch.button.half-right.-big.-round.-line-grey-lighten-5(ui-sref="nav.form" compile-unsafe="'views.main.cta1' | translate")
	.invite-to-scroll
	.shape
	
#cookie(ng-show="setCookie == false")
	.container
		.row
			.twelve.col
				p.pull-left(compile-unsafe="'views.cookie.info' | translate")
				i.icon.-cross.pull-right(ng-click="updateCookie()")
section.args.text-center
	.container
		.row.quad-top.quad-bot
			.four.col
				.circle.small-circle.circle-safe
				h5(compile-unsafe="'views.main.argTitle1' | translate")
				p(compile-unsafe="'views.main.argText1' | translate")
			.four.col
				.circle.small-circle.circle-quick
				h5(compile-unsafe="'views.main.argTitle3' | translate")
				p(compile-unsafe="'views.main.argText3' | translate")
			.four.col
				.circle.small-circle.circle-simple
				h5(compile-unsafe="'views.main.argTitle2' | translate")
				p(compile-unsafe="'views.main.argText2' | translate")
//- section.background
//- 	#peon
//- 	.main-texture
//- 	.container.text-center
//- 		.row
//- 			.twelve.col.double-top
//- 				h4(compile-unsafe="'views.main.tryAnyway' | translate")
//- 				.fluid-horizontal-center
//- 					a(ui-sref="nav.form" compile-unsafe="'views.main.tryAnywayButton' | translate").cta.button.-primary
footer
	.container
		.row.text-white.double-bot.quad-top
			.three.col
				h6(compile-unsafe="'views.footer.title1' | translate")
			.three.col
				h6(compile-unsafe="'views.footer.title2' | translate")
				ul.no-style
					li
						a(ui-sref="nav.contact" compile-unsafe="'views.footer.list2_1' | translate")
					li
						a(href="http://twitter.com/peon_actu" compile-unsafe="'views.footer.list2_2' | translate")
					li
						a(href="http://facebook.com/gopeon" compile-unsafe="'views.footer.list2_3' | translate")

			.three.col
				h6(compile-unsafe="'views.footer.title3' | translate")
				ul.no-style
					li
						a(ui-sref="nav.apropos" compile-unsafe="'views.footer.list3_1' | translate")
					li
						a(href="ressources/pressKit.zip" compile-unsafe="'views.footer.list3_2' | translate")
			.three.col
				h6(compile-unsafe="'views.footer.title4' | translate")
				ul.no-style
					li
						a(ui-sref="nav.cgu" compile-unsafe="'views.footer.list4_1' | translate")
