section.background
	.main-texture
	#main-background
	#welcome.large-display
	#content.container
		.twelve.col.double-top
			h3.text-right.six-top.remove-bot.text-white.

				<b>Une bonne raison d'entreprendre</b> 
			h6.text-right.text-white.double-bot.
				Assistant personnel pour <b>auto-entrepreneurs</b> prestataires de services et activités libérales
			.pull-right.quad-bot
				a.cta.button.half-right.primary(ng-click="trackCta1()" href="http://app.peon.fr/inscription") Mois d'essai gratuit
				a.cta.button.complement(ng-click="trackCta1()" href="http://app.peon.fr/connexion") Demo
			.clearfix
#cookie(ng-show="setCookie == false")
	.container
		.row
			.twelve.col
				p.pull-left.
					 Peon utilise des cookies pour rendre son site plus simple. <a ui-sref="nav.cookies">En savoir plus sur les cookies</a>.
				i.icon.icon-cross.pull-right(ng-click="updateCookie()")
section
	.clearfix
	.container
		.row
			.six.col.quad-top
				h5.add-top.remove-bot Vos factures en quelques secondes
				hr.light.lines.half
				p.quad-bot.
					Ne perdez plus de temps avec la paperasse. Concentrez vous uniquement sur les besoins réels de votre entreprise.
					Peon se charge de tout.
			.six.col
					#video-container.double-top
						#video-box.double-bot(ng-init="isVideoClicked=false")
							div(ng-click="videoClickMask()" ng-if="isVideoClicked == false")
								#play
									#triangle
								img#video-cover(src='assets/imgs/svg/video.svg')
							| <iframe  ng-if="isVideoClicked == true" frameborder="0" width="100%" height="300" src="https://www.youtube.com/embed/CDB_XkVuq9Q?rel=0&theme=dark&color=white&autoplay=1&autohide=1&modestbranding=1&showinfo=0&rel=0&iv_load_policy=3" frameborder="1" allowfullscreen></iframe>

						.clearfix
		.row
			.eight.col.quad-top
				h5.text-right.remove-bot Gagnez du temps avec la validation electronique
				hr.light.lines.tiny.right.pull-right
				.clearfix
				p.text-right.quad-bot.
					Votre client valide son devis en quelques secondes et vous receverez instantanément une confirmation.
			.four.col.quad-top
				.circle.small-circle.circle-calculator.half-top.large-display
		.row
			.four.col.quad-top
				.circle.small-circle.circle-pig.half-top.large-display
			.eight.col.quad-top
				h5.remove-bot Ignorez vos impayés grâce au traîtement automatique
				hr.light.lines.tiny
				p.quad-bot.
					Une alerte vous prévient en cas de non règlement et Peon effectue les démarches de recouvrement amiable et de mise en demeure.
section
	.container
		.row
			.twelve.col
				hr.light.lines.tiny.quad-top.half-bot.centered
				h4.text-center En détails, ça fait quoi ?
				hr.light.lines.tiny.quad-bot.centered
		.row
			.four.col
				.circle.small-circle.circle-responsive
				p.i.add-top.text-center Accessible sur tablette et PC.
			.four.col
				.circle.small-circle.circle-cloudsafe
				p.i.add-top.text-center Données sécurisées.
			.four.col
				.circle.small-circle.circle-papers
				p.i.add-top.text-center Factures instantannées
		.row.octo-bot.double-top
			.four.col
				.circle.small-circle.circle-calculator
				p.i.add-top.text-center Calcul des cotisations.
			.four.col
				.circle.small-circle.circle-pig
				p.i.add-top.text-center Gestion des impayés.
			.four.col
				.circle.small-circle.circle-unlimited
				p.i.add-top.text-center Sans engagement.
section.background
	#peon
	.main-texture
	.container
		.row
			.twelve.col
				h4.text-white.text-center.quad-top Convaincu ou non, essayez-le !
				.fluid-horizontal-center
					a(ng-click="trackCta1()" href="http://app.peon.fr").cta.button.double-bot.primary C'est gratuit
