header#identity-head
  div
    h3 Identity
section#identity-section.section
  #identity-main.bloc
    h5 Main
    hr
    .two-cols-verticaly-aligned
      .wrapper
        h2 TBRC Logo
        h6 250px
      .wrapper
        img#big(src="assets/imgs/svg/logo.svg")
  #identity-others.bloc
    h5 Others
    hr
    .two-cols-verticaly-aligned
      .wrapper
        h2 Medium logo
        h6 150px
      .wrapper
        img#medium(src="assets/imgs/svg/logo.svg")
    .two-cols-verticaly-aligned
      .wrapper
        h2 Small Logo
        h6 100px
      .wrapper
        img#small(src="assets/imgs/svg/logo.svg")
    .two-cols-verticaly-aligned
      .wrapper
        h2 Favicon
        h6 16px
      .wrapper
        img#favicon(src="assets/imgs/svg/logo.svg")
  br
  br
