<html>
  <head>
    <title>RocketCSS</title>
    <meta name="author" content="keywords, comma, separated"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="css/app.css?v=<%= buildTime %>">
    <link rel="icon" href="images/favicon.ico">
  </head>
  <body class="conseil-emploi">
      <nav class="nav">
        <div class="container main-wrapper">
          <a class="logo" href="#">Conseil emploi</a>
          <ul>
            <li><a href="#how">Comment ça marche ?</a></li>
            <!--<li><a href="#who">Qui sommes nous ?</a></li>-->
            <li><a class="button -complement open-modal" href="#">Se connecter</a></li>
            <li><a class="button -complement open-modal" href="#">S'inscrire</a></li>
          </ul>
        </div>
      </nav>
      <section id="app" class="screen-box center">
        <div class="center-wrapper loader">
          <img class="image levitate" src="images/icon/Satellite2.svg"></img>
          <div class="stars-wrapper">
            <div class="stars"></div>
          </div>
          <div class="progress -primary -inner -round -active">
            <div style="width:60%" class="bar">
              <span>80 %</span>
            </div>
          </div>
          <label>Calculs super compliqués</label>
          <!--<label class="desc">Recherche des coups de coeurs</label>
          <label class="desc">Mise en forme des données</label>-->
          <div class="desc-wrapper">
            <div class="message -with-intent -line-primary">
              <i class="icon status -magic-wand"></i>
              <p>Pour rendre vos recherches plus pertinentes encore, vous pouvez <a href="">remplir votre compte</a> en détaillant votre parcours.</p>
            </div>
          </div>
        </div>

      </section>
    </div>
    <script src="js/polyfills.js?v=<%= buildTime %>"></script>
    <script src="js/vendors.js?v=<%= buildTime %>"></script>
    <script src="js/app.js?v=<%= buildTime %>"></script>
  </body>
</html>
