header#molecule-head  div    h3 moleculesection.section#molecule  .bloc#molecule-Background    h5 Background    hr    div      div.two-cols-verticaly-aligned        .wrapper.sample.          <div class="background center -visible -fixed">
            <div class="filter"></div>
            <div class="gradient"></div>
            <div class="image" style="background-image:url(/assets/imgs/jpg/leaf.jpg);"></div>
            <div class="content center-wrapper"><h5>Title</h5></div>
          </div>

          .wrapper.sample-code          header            h6.desc HTML            fieldset.copy              button.button.copy-button.-line-primary.-no-gradient.-no-border(data-clipboard-target="#Background-code")                i.icon.-floppy-disk              .tag.-success.-pointing.-left.toggle-copy-success                span Copied          div(hljs).html#Background-code.              &lt;div class=&quot;background center -visible -fixed&quot;&gt;
                &lt;div class=&quot;filter&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;gradient&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;image&quot; style=&quot;background-image:url(/assets/imgs/jpg/leaf.jpg);&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;content center-wrapper&quot;&gt;&lt;h5&gt;Title&lt;/h5&gt;&lt;/div&gt;
              &lt;/div&gt;

   .bloc#molecule-Bubble    h5 Bubble    hr    div      div.two-cols-verticaly-aligned        .wrapper.sample.          <label>Simple</label>
          <div class="bubble">
              <img src="/assets/imgs/jpg/joe.jpg"/>
              <div class="content">
                  <div class="header">
                      <span class="name">Joe</span>
                      <span class="date">17h34</span>
                      <div class="admin">
                          <i class="icon -pencil"></i>
                      </div>
                  </div>
                  <p>Hello Elliot, how are u ?</p>
              </div>
          </div>
          <label>With -mine</label>
          <div class="bubble -mine toggle-bounce">
              <img src="/assets/imgs/jpg/elliot.jpg"/>
              <div class="content">
                  <div class="header">
                      <span class="name">Elliot</span>
                      <span class="date">17h36</span>
                      <div class="admin">
                          <i class="icon -pencil"></i>
                      </div>
                  </div>
                  <p>Hey! I'm fine, and you?</p>
              </div>
          </div>
          <label>With -minimalist</label>
          <div class="bubble -minimalist">
              <img src="/assets/imgs/jpg/elliot.jpg"/>
              <div class="content">
                  <div class="header">
                      <span class="name">Elliot</span>
                      <span class="date">17h36</span>
                      <div class="admin">
                          <i class="icon -pencil"></i>
                      </div>
                  </div>
                  <p>Lorem ipsum dolor ascim emet dolor ipsum orem isma ole orem ipsum dolor ascim emet dolor ipsum orem isma ole</p>
              </div>
          </div>
          <div class="bubble -minimalist">
              <img src="/assets/imgs/jpg/elliot.jpg"/>
              <div class="content">
                  <div class="header">
                      <span class="name">Elliot</span>
                      <span class="date">17h36</span>
                      <div class="admin">
                          <i class="icon -pencil"></i>
                      </div>
                  </div>
                  <p>Hey! I'm fine, and you?</p>
                  <p>Are u there ?</p>
              </div>
          </div>
          .wrapper.sample-code          header            h6.desc HTML            fieldset.copy              button.button.copy-button.-line-primary.-no-gradient.-no-border(data-clipboard-target="#Bubble-code")                i.icon.-floppy-disk              .tag.-success.-pointing.-left.toggle-copy-success                span Copied          div(hljs).html#Bubble-code.              &lt;label&gt;Simple&lt;/label&gt;
              &lt;div class=&quot;bubble&quot;&gt;
                  &lt;img src=&quot;/assets/imgs/jpg/joe.jpg&quot;/&gt;
                  &lt;div class=&quot;content&quot;&gt;
                      &lt;div class=&quot;header&quot;&gt;
                          &lt;span class=&quot;name&quot;&gt;Joe&lt;/span&gt;
                          &lt;span class=&quot;date&quot;&gt;17h34&lt;/span&gt;
                          &lt;div class=&quot;admin&quot;&gt;
                              &lt;i class=&quot;icon -pencil&quot;&gt;&lt;/i&gt;
                          &lt;/div&gt;
                      &lt;/div&gt;
                      &lt;p&gt;Hello Elliot, how are u ?&lt;/p&gt;
                  &lt;/div&gt;
              &lt;/div&gt;
              &lt;label&gt;With -mine&lt;/label&gt;
              &lt;div class=&quot;bubble -mine toggle-bounce&quot;&gt;
                  &lt;img src=&quot;/assets/imgs/jpg/elliot.jpg&quot;/&gt;
                  &lt;div class=&quot;content&quot;&gt;
                      &lt;div class=&quot;header&quot;&gt;
                          &lt;span class=&quot;name&quot;&gt;Elliot&lt;/span&gt;
                          &lt;span class=&quot;date&quot;&gt;17h36&lt;/span&gt;
                          &lt;div class=&quot;admin&quot;&gt;
                              &lt;i class=&quot;icon -pencil&quot;&gt;&lt;/i&gt;
                          &lt;/div&gt;
                      &lt;/div&gt;
                      &lt;p&gt;Hey! I'm fine, and you?&lt;/p&gt;
                  &lt;/div&gt;
              &lt;/div&gt;
              &lt;label&gt;With -minimalist&lt;/label&gt;
              &lt;div class=&quot;bubble -minimalist&quot;&gt;
                  &lt;img src=&quot;/assets/imgs/jpg/elliot.jpg&quot;/&gt;
                  &lt;div class=&quot;content&quot;&gt;
                      &lt;div class=&quot;header&quot;&gt;
                          &lt;span class=&quot;name&quot;&gt;Elliot&lt;/span&gt;
                          &lt;span class=&quot;date&quot;&gt;17h36&lt;/span&gt;
                          &lt;div class=&quot;admin&quot;&gt;
                              &lt;i class=&quot;icon -pencil&quot;&gt;&lt;/i&gt;
                          &lt;/div&gt;
                      &lt;/div&gt;
                      &lt;p&gt;Lorem ipsum dolor ascim emet dolor ipsum orem isma ole orem ipsum dolor ascim emet dolor ipsum orem isma ole&lt;/p&gt;
                  &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;bubble -minimalist&quot;&gt;
                  &lt;img src=&quot;/assets/imgs/jpg/elliot.jpg&quot;/&gt;
                  &lt;div class=&quot;content&quot;&gt;
                      &lt;div class=&quot;header&quot;&gt;
                          &lt;span class=&quot;name&quot;&gt;Elliot&lt;/span&gt;
                          &lt;span class=&quot;date&quot;&gt;17h36&lt;/span&gt;
                          &lt;div class=&quot;admin&quot;&gt;
                              &lt;i class=&quot;icon -pencil&quot;&gt;&lt;/i&gt;
                          &lt;/div&gt;
                      &lt;/div&gt;
                      &lt;p&gt;Hey! I'm fine, and you?&lt;/p&gt;
                      &lt;p&gt;Are u there ?&lt;/p&gt;
                  &lt;/div&gt;
              &lt;/div&gt;
           div(hljs).javascript.Bubble-code.            window.setInterval(function() {
              $(".toggle-bounce").toggleClass("hide");
            }, 3000);

  .bloc#molecule-Card    h5 Card    hr    div      div.two-cols-verticaly-aligned        .wrapper.sample.          <label>Simple</label>
          <div class="card">
            <div class="progress -small">
              <div class="bar"></div>
            </div>
            <p>The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.</p>
          </div>
          <label>With color</label>
          <div class="card -primary">
            <header class="header">
              <h5>Header Title</h5>
            </header>
            <p>The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.</p>
            <footer class="footer merge -large -horizontal">
              <button class="button">Accept</button>
              <button class="button">Decline</button>
            </footer>
          </div>

          .wrapper.sample-code          header            h6.desc HTML            fieldset.copy              button.button.copy-button.-line-primary.-no-gradient.-no-border(data-clipboard-target="#Card-code")                i.icon.-floppy-disk              .tag.-success.-pointing.-left.toggle-copy-success                span Copied          div(hljs).html#Card-code.              &lt;label&gt;Simple&lt;/label&gt;
              &lt;div class=&quot;card&quot;&gt;
                &lt;div class=&quot;progress -small&quot;&gt;
                  &lt;div class=&quot;bar&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;
                &lt;p&gt;The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.&lt;/p&gt;
              &lt;/div&gt;
              &lt;label&gt;With color&lt;/label&gt;
              &lt;div class=&quot;card -primary&quot;&gt;
                &lt;header class=&quot;header&quot;&gt;
                  &lt;h5&gt;Header Title&lt;/h5&gt;
                &lt;/header&gt;
                &lt;p&gt;The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.&lt;/p&gt;
                &lt;footer class=&quot;footer merge -large -horizontal&quot;&gt;
                  &lt;button class=&quot;button&quot;&gt;Accept&lt;/button&gt;
                  &lt;button class=&quot;button&quot;&gt;Decline&lt;/button&gt;
                &lt;/footer&gt;
              &lt;/div&gt;

   .bloc#molecule-Figure    h5 Figure    hr    div      div.two-cols-verticaly-aligned        .wrapper.sample.          <label>Simple</label>
          <figure class="filter -nashville -example">
            <img class="rotate-img" src="/assets/imgs/jpg/background/leaf.jpg">
            <figcaption>
              <h6 class="title">Title</h6>
              <span class="desc">Dzongsar, Tibet 2004</span>
            </figcaption>
          </figure>
          <br/>
          <label>With filter -seventies</label>
          <figure class="filter -seventies -example">
            <img class="rotate-img" src="/assets/imgs/jpg/background/leaf.jpg">
            <figcaption>
              <h6 class="title">Title</h6>
              <span class="desc">Dzongsar, Tibet 2004</span>
            </figcaption>
          </figure>

          .wrapper.sample-code          header            h6.desc HTML            fieldset.copy              button.button.copy-button.-line-primary.-no-gradient.-no-border(data-clipboard-target="#Figure-code")                i.icon.-floppy-disk              .tag.-success.-pointing.-left.toggle-copy-success                span Copied          div(hljs).html#Figure-code.              &lt;label&gt;Simple&lt;/label&gt;
              &lt;figure class=&quot;filter -nashville -example&quot;&gt;
                &lt;img class=&quot;rotate-img&quot; src=&quot;/assets/imgs/jpg/background/leaf.jpg&quot;&gt;
                &lt;figcaption&gt;
                  &lt;h6 class=&quot;title&quot;&gt;Title&lt;/h6&gt;
                  &lt;span class=&quot;desc&quot;&gt;Dzongsar, Tibet 2004&lt;/span&gt;
                &lt;/figcaption&gt;
              &lt;/figure&gt;
              &lt;br/&gt;
              &lt;label&gt;With filter -seventies&lt;/label&gt;
              &lt;figure class=&quot;filter -seventies -example&quot;&gt;
                &lt;img class=&quot;rotate-img&quot; src=&quot;/assets/imgs/jpg/background/leaf.jpg&quot;&gt;
                &lt;figcaption&gt;
                  &lt;h6 class=&quot;title&quot;&gt;Title&lt;/h6&gt;
                  &lt;span class=&quot;desc&quot;&gt;Dzongsar, Tibet 2004&lt;/span&gt;
                &lt;/figcaption&gt;
              &lt;/figure&gt;

   .bloc#molecule-List    h5 List    hr    div      div.two-cols-verticaly-aligned        .wrapper.sample.
          <label>Simple</label>
          <ul class="list">
            <li class="item touch">
              <img class="head grey -circle" src="assets/imgs/jpg/joe.jpg"/>
              <div class="content">
                <h6 class="title">With circle image</h6>
                <p class="desc">Lorem ipsum dolor</p>
              </div>
            </li>
            <li class="item -has-notif touch">
              <i class="head _bg-grey-lighten-2 icon -sun"></i>
              <div class="content">
                <h6 class="title">With icon</h6>
                <p class="desc">Lorem ipsum dolor</p>
              </div>
              <div class="tag notif -corner -top-right -primary">
                <span> 32 </span>
              </div>
            </li>
            <li class="item touch -has-notif">
              <img class="head grey -circle" src="assets/imgs/jpg/joe.jpg"/>
              <div class="content">
                <h6 class="title">With tags</h6>
                <div class="desc">
                  <div class="tag">
                    <i class="icon -sun"></i>
                    <span>Thibaud</span>
                  </div>
                  <div class="tag">
                    <i class="icon -sun"></i>
                    <span>Anthony</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="item touch -headless">
              <div class="content">
                <h6 class="title">Headless with chevron</h6>
                <p class="desc">Lorem ipsum dolor</p>
              </div>
              <div class="action">
                <i class="icon -chevron-right"></i>
              </div>
            </li>
          </ul>

          .wrapper.sample-code          header            h6.desc HTML            fieldset.copy              button.button.copy-button.-line-primary.-no-gradient.-no-border(data-clipboard-target="#List-code")                i.icon.-floppy-disk              .tag.-success.-pointing.-left.toggle-copy-success                span Copied          div(hljs).html#List-code.
              &lt;label&gt;Simple&lt;/label&gt;
              &lt;ul class=&quot;list&quot;&gt;
                &lt;li class=&quot;item touch&quot;&gt;
                  &lt;img class=&quot;head grey -circle&quot; src=&quot;assets/imgs/jpg/joe.jpg&quot;/&gt;
                  &lt;div class=&quot;content&quot;&gt;
                    &lt;h6 class=&quot;title&quot;&gt;With circle image&lt;/h6&gt;
                    &lt;p class=&quot;desc&quot;&gt;Lorem ipsum dolor&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li class=&quot;item -has-notif touch&quot;&gt;
                  &lt;i class=&quot;head _bg-grey-lighten-2 icon -sun&quot;&gt;&lt;/i&gt;
                  &lt;div class=&quot;content&quot;&gt;
                    &lt;h6 class=&quot;title&quot;&gt;With icon&lt;/h6&gt;
                    &lt;p class=&quot;desc&quot;&gt;Lorem ipsum dolor&lt;/p&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;tag notif -corner -top-right -primary&quot;&gt;
                    &lt;span&gt; 32 &lt;/span&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li class=&quot;item touch -has-notif&quot;&gt;
                  &lt;img class=&quot;head grey -circle&quot; src=&quot;assets/imgs/jpg/joe.jpg&quot;/&gt;
                  &lt;div class=&quot;content&quot;&gt;
                    &lt;h6 class=&quot;title&quot;&gt;With tags&lt;/h6&gt;
                    &lt;div class=&quot;desc&quot;&gt;
                      &lt;div class=&quot;tag&quot;&gt;
                        &lt;i class=&quot;icon -sun&quot;&gt;&lt;/i&gt;
                        &lt;span&gt;Thibaud&lt;/span&gt;
                      &lt;/div&gt;
                      &lt;div class=&quot;tag&quot;&gt;
                        &lt;i class=&quot;icon -sun&quot;&gt;&lt;/i&gt;
                        &lt;span&gt;Anthony&lt;/span&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li class=&quot;item touch -headless&quot;&gt;
                  &lt;div class=&quot;content&quot;&gt;
                    &lt;h6 class=&quot;title&quot;&gt;Headless with chevron&lt;/h6&gt;
                    &lt;p class=&quot;desc&quot;&gt;Lorem ipsum dolor&lt;/p&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;action&quot;&gt;
                    &lt;i class=&quot;icon -chevron-right&quot;&gt;&lt;/i&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
              &lt;/ul&gt;

   .bloc#molecule-Fieldset    h5 Fieldset    hr    div      div.two-cols-verticaly-aligned        .wrapper.sample.          <label>With right tag</label>
          <fieldset class="-has-icon">
            <i class="icon -lock"></i>
            <input type="password" placeholder="Password" />
            <div class="tag visible -line-danger -left -pointing">
              <span>Password incorrect</span>
            </div>
          </fieldset>
          <fieldset class="-has-icon -large -has-tag">
            <i class="icon -lock"></i>
            <label>With sub tag</label>
            <input type="password" placeholder="Password" />
            <div class="tag visible -line-danger -large -top -pointing">
              <span>Votre password est inccorect</span>
            </div>
          </fieldset>

          .wrapper.sample-code          header            h6.desc HTML            fieldset.copy              button.button.copy-button.-line-primary.-no-gradient.-no-border(data-clipboard-target="#Fieldset-code")                i.icon.-floppy-disk              .tag.-success.-pointing.-left.toggle-copy-success                span Copied          div(hljs).html#Fieldset-code.              &lt;label&gt;With right tag&lt;/label&gt;
              &lt;fieldset class=&quot;-has-icon&quot;&gt;
                &lt;i class=&quot;icon -lock&quot;&gt;&lt;/i&gt;
                &lt;input type=&quot;password&quot; placeholder=&quot;Password&quot; /&gt;
                &lt;div class=&quot;tag visible -line-danger -left -pointing&quot;&gt;
                  &lt;span&gt;Password incorrect&lt;/span&gt;
                &lt;/div&gt;
              &lt;/fieldset&gt;
              &lt;fieldset class=&quot;-has-icon -large -has-tag&quot;&gt;
                &lt;i class=&quot;icon -lock&quot;&gt;&lt;/i&gt;
                &lt;label&gt;With sub tag&lt;/label&gt;
                &lt;input type=&quot;password&quot; placeholder=&quot;Password&quot; /&gt;
                &lt;div class=&quot;tag visible -line-danger -large -top -pointing&quot;&gt;
                  &lt;span&gt;Votre password est inccorect&lt;/span&gt;
                &lt;/div&gt;
              &lt;/fieldset&gt;

   .bloc#molecule-Shape    h5 Shape    hr    div      div.two-cols-verticaly-aligned        .wrapper.sample.          <div class="shape one"></div>
          <div class="shape two"></div>

          .wrapper.sample-code          header            h6.desc HTML            fieldset.copy              button.button.copy-button.-line-primary.-no-gradient.-no-border(data-clipboard-target="#Shape-code")                i.icon.-floppy-disk              .tag.-success.-pointing.-left.toggle-copy-success                span Copied          div(hljs).html#Shape-code.              &lt;div class=&quot;shape one&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;shape two&quot;&gt;&lt;/div&gt;

   .bloc#molecule-Dropdown    h5 Dropdown    hr    div      div.two-cols-verticaly-aligned        .wrapper.sample.          <div class="dropdown toggle-dropdown">
            <div class="merge -large -horizontal">
              <input type="text" id="job-input" placeholder="Dernier métier que vous ayez exercé..."/>
              <button class="button -primary toggle-loading"><span>Go !</span></button>
            </div>
            <div class="results">
              <ul>
                <li class="touch">Aide-soignant</li>
                <li class="touch">A<span class="highlight">id</span>e-soignante</li>
                <li class="touch">Aide-soignante2</li>
                <li class="touch">Aide-soignante3</li>
                <li class="touch">Aide-soignante3</li>
                <li class="touch">Aide-soignante3</li>
                <li class="touch">Aide-soignante3</li>
              </ul>
            </div>
          </div>

          .wrapper.sample-code          header            h6.desc HTML            fieldset.copy              button.button.copy-button.-line-primary.-no-gradient.-no-border(data-clipboard-target="#Dropdown-code")                i.icon.-floppy-disk              .tag.-success.-pointing.-left.toggle-copy-success                span Copied          div(hljs).html#Dropdown-code.              &lt;div class=&quot;dropdown toggle-dropdown&quot;&gt;
                &lt;div class=&quot;merge -large -horizontal&quot;&gt;
                  &lt;input type=&quot;text&quot; id=&quot;job-input&quot; placeholder=&quot;Dernier métier que vous ayez exercé...&quot;/&gt;
                  &lt;button class=&quot;button -primary toggle-loading&quot;&gt;&lt;span&gt;Go !&lt;/span&gt;&lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;results&quot;&gt;
                  &lt;ul&gt;
                    &lt;li class=&quot;touch&quot;&gt;Aide-soignant&lt;/li&gt;
                    &lt;li class=&quot;touch&quot;&gt;A&lt;span class=&quot;highlight&quot;&gt;id&lt;/span&gt;e-soignante&lt;/li&gt;
                    &lt;li class=&quot;touch&quot;&gt;Aide-soignante2&lt;/li&gt;
                    &lt;li class=&quot;touch&quot;&gt;Aide-soignante3&lt;/li&gt;
                    &lt;li class=&quot;touch&quot;&gt;Aide-soignante3&lt;/li&gt;
                    &lt;li class=&quot;touch&quot;&gt;Aide-soignante3&lt;/li&gt;
                    &lt;li class=&quot;touch&quot;&gt;Aide-soignante3&lt;/li&gt;
                  &lt;/ul&gt;
                &lt;/div&gt;
              &lt;/div&gt;

           div(hljs).javascript.Dropdown-code.            $(".toggle-dropdown").focusin(function() {
              $(this).addClass("-visible");
            });
            $(".toggle-dropdown input").blur(function() {
              $(this).parent().removeClass("-visible");
              $(this).parent().parent().removeClass("-visible");
            });


  .bloc#molecule-Message    h5 Message    hr    div      div.two-cols-verticaly-aligned        .wrapper.sample.          <label>Simple</label>
          <div class="message">
            <h5><i class="icon -sun"></i>Title</h5>
            <p>The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.</p>
          </div>
          <label>With -with-intent -line-primary</label>
          <div class="message -with-intent -line-primary">
            <i class="icon status -sun"></i>
            <h5>Title</h5>
            <p>The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.</p>
          </div>

          .wrapper.sample-code          header            h6.desc HTML            fieldset.copy              button.button.copy-button.-line-primary.-no-gradient.-no-border(data-clipboard-target="#Message-code")                i.icon.-floppy-disk              .tag.-success.-pointing.-left.toggle-copy-success                span Copied          div(hljs).html#Message-code.              &lt;label&gt;Simple&lt;/label&gt;
              &lt;div class=&quot;message&quot;&gt;
                &lt;h5&gt;&lt;i class=&quot;icon -sun&quot;&gt;&lt;/i&gt;Title&lt;/h5&gt;
                &lt;p&gt;The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.&lt;/p&gt;
              &lt;/div&gt;
              &lt;label&gt;With -with-intent -line-primary&lt;/label&gt;
              &lt;div class=&quot;message -with-intent -line-primary&quot;&gt;
                &lt;i class=&quot;icon status -sun&quot;&gt;&lt;/i&gt;
                &lt;h5&gt;Title&lt;/h5&gt;
                &lt;p&gt;The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.&lt;/p&gt;
              &lt;/div&gt;

   .bloc#molecule-Tip    h5 Tip    hr    div      div.two-cols-verticaly-aligned        .wrapper.sample.          <div class="tip -bottom"><button class="button"><i class="icon -sun"></i><span>Hover me</span></button><div class="tag -pointing -top"><span>This is a tip</span></div></div>

          .wrapper.sample-code          header            h6.desc HTML            fieldset.copy              button.button.copy-button.-line-primary.-no-gradient.-no-border(data-clipboard-target="#Tip-code")                i.icon.-floppy-disk              .tag.-success.-pointing.-left.toggle-copy-success                span Copied          div(hljs).html#Tip-code.              &lt;div class=&quot;tip -bottom&quot;&gt;&lt;button class=&quot;button&quot;&gt;&lt;i class=&quot;icon -sun&quot;&gt;&lt;/i&gt;&lt;span&gt;Hover me&lt;/span&gt;&lt;/button&gt;&lt;div class=&quot;tag -pointing -top&quot;&gt;&lt;span&gt;This is a tip&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;

           div(hljs).javascript.Tip-code.            $('.tip').mouseover(function(){
              $(this).addClass("-visible");
            });
            $('.tip').mouseout(function(){
              $(this).removeClass("-visible");
            });

  .bloc#molecule-Table    h5 Table    hr    div      div.two-cols-verticaly-aligned        .wrapper.sample.          <label>Simple</label>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Thibaud Frere</td>
                <td>24</td>
                <td>Male</td>
                <td>Paris</td>
              </tr>
              <tr>
                <td>Anthony Lacroix</td>
                <td>26</td>
                <td>Male</td>
                <td>Metz</td>
              </tr>
            </tbody>
          </table>
          <br/>
          <label>Simple</label>
          <table class="-quad">
            <thead>
              <tr>
                <th class="empty shrink"></th>
                <th>Age</th>
                <th>Sex</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="shrink"><button class="button -line-primary -no-border -no-gradient"><i class="icon -cross"></i></button></td>
                <td>24</td>
                <td>Male</td>
              </tr>
              <tr>
                <td class="shrink"><button class="button -line-primary -no-border -no-gradient"><i class="icon -cross"></i></button></td>
                <td>26</td>
                <td>Male</td>
              </tr>
            </tbody>
          </table>

          .wrapper.sample-code          header            h6.desc HTML            fieldset.copy              button.button.copy-button.-line-primary.-no-gradient.-no-border(data-clipboard-target="#Table-code")                i.icon.-floppy-disk              .tag.-success.-pointing.-left.toggle-copy-success                span Copied          div(hljs).html#Table-code.              &lt;label&gt;Simple&lt;/label&gt;
              &lt;table&gt;
                &lt;thead&gt;
                  &lt;tr&gt;
                    &lt;th&gt;Name&lt;/th&gt;
                    &lt;th&gt;Age&lt;/th&gt;
                    &lt;th&gt;Sex&lt;/th&gt;
                    &lt;th&gt;Location&lt;/th&gt;
                  &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                  &lt;tr&gt;
                    &lt;td&gt;Thibaud Frere&lt;/td&gt;
                    &lt;td&gt;24&lt;/td&gt;
                    &lt;td&gt;Male&lt;/td&gt;
                    &lt;td&gt;Paris&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td&gt;Anthony Lacroix&lt;/td&gt;
                    &lt;td&gt;26&lt;/td&gt;
                    &lt;td&gt;Male&lt;/td&gt;
                    &lt;td&gt;Metz&lt;/td&gt;
                  &lt;/tr&gt;
                &lt;/tbody&gt;
              &lt;/table&gt;
              &lt;br/&gt;
              &lt;label&gt;Simple&lt;/label&gt;
              &lt;table class=&quot;-quad&quot;&gt;
                &lt;thead&gt;
                  &lt;tr&gt;
                    &lt;th class=&quot;empty shrink&quot;&gt;&lt;/th&gt;
                    &lt;th&gt;Age&lt;/th&gt;
                    &lt;th&gt;Sex&lt;/th&gt;
                  &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                  &lt;tr&gt;
                    &lt;td class=&quot;shrink&quot;&gt;&lt;button class=&quot;button -line-primary -no-border -no-gradient&quot;&gt;&lt;i class=&quot;icon -cross&quot;&gt;&lt;/i&gt;&lt;/button&gt;&lt;/td&gt;
                    &lt;td&gt;24&lt;/td&gt;
                    &lt;td&gt;Male&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td class=&quot;shrink&quot;&gt;&lt;button class=&quot;button -line-primary -no-border -no-gradient&quot;&gt;&lt;i class=&quot;icon -cross&quot;&gt;&lt;/i&gt;&lt;/button&gt;&lt;/td&gt;
                    &lt;td&gt;26&lt;/td&gt;
                    &lt;td&gt;Male&lt;/td&gt;
                  &lt;/tr&gt;
                &lt;/tbody&gt;
              &lt;/table&gt;

 footer.footer  h5    a(ui-sref="nav.modifier") modifierscript.    window.setInterval(function() {
      $(".toggle-bounce").toggleClass("hide");
    }, 3000);

    $(".toggle-dropdown").focusin(function() {
      $(this).addClass("-visible");
    });
    $(".toggle-dropdown input").blur(function() {
      $(this).parent().removeClass("-visible");
      $(this).parent().parent().removeClass("-visible");
    });


    $('.tip').mouseover(function(){
      $(this).addClass("-visible");
    });
    $('.tip').mouseout(function(){
      $(this).removeClass("-visible");
    });

