nav
	.container
		.row
			.twelve.col
				a#logo.pull-left(ui-sref-active="active" ui-sref="nav.home")
				//- a.pull-left.uppercase.large-display(ui-sref-active="active" ui-sref="nav.assistance" compile-unsafe="'views.nav.support' | translate")
				div.pull-right.half-left(ng-translate-language-select)
				a.button.small.pull-right.-primary(ui-sref-active="active" ui-sref="nav.form" compile-unsafe="'views.nav.punchline' | translate")

div(ui-view="")
