nav
	.container
		.row
			.twelve.col
				a#logo.pull-left(ui-sref="nav.home")
				a.pull-left.uppercase.large-display(ui-sref="nav.apropos") A propos
				a.pull-left.uppercase.large-display(ui-sref="nav.functionnalites") Fonctionnalitées
				a.pull-left.uppercase.large-display(ui-sref="nav.faq") FAQ
				a.button.small.pull-right.complement(href="http://app.peon.fr") Se connecter
				a.button.small.pull-right.primary(ng-click="trackCreate()" href="http://app.peon.fr/inscription") Créer un compte

div(ui-view="")
footer.bg-complement
	.container
		.row.text-white.double-bot.quad-top
			.three.col
				h6 L'application
				ul.no-style
					li
						a(href="http://app.peon.fr/inscription") Créer un compte
					li
						a(href="http://app.peon.fr/") S'inscrire
					li
						a(ui-sref="nav.faq") FAQ
			.three.col
				h6 Contact
				ul.no-style
					li
						a(ui-sref="nav.contact") Email
					li
						a(href="http://twitter.com/peon") Twitter
					li
						a(href="http://facebook.com/peon") Facebook
					li
						a(href="http://googleplus.com/peon") Google +
			.three.col
				h6 A propos
				ul.no-style
					li
						a(href="#") Histoire
					li
						a(href="ressources/pressKit.zip") Presse
			.three.col
				h6 Conditions
				ul.no-style
					li
						a(ui-sref="nav.cgu") CGV
