nav.nav
  #nav-identity.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref='nav.identity') Identity
    ul
      li
        a(href='#identity-logo') Logo
      li
        a(href='#identity-examples') Examples
  #nav-typography.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref='nav.typo') Typography
    ul
      li
        a(href='#typo-hierarchy') Hierarchy
      li
        a(href='#typo-typefaces') Typefaces
  #nav-color.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref='nav.color') Color
    ul(ui-sref-active="active")
      li
        a(href='#color-main') Main
      li
        a(href='#color-semantic') Semantic
      li
        a(href='#color-grey') Greys
  #nav-animation.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref='nav.animation') Animation
    ul(ui-sref-active="active")
      li
        a(href='#animation-ease') Easings
  #nav-symbol.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref='nav.symbol') Symbol
    ul(ui-sref-active="active")
      li
        a(href='#symbol-icon') Icon
      li
        a(href='#symbol-flag') Flag
      li
        a(href='#symbol-social') Social
  #nav-atom.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref="nav.atom") atom
    ul
      li
        a(href="#atom-Blockquote") Blockquote
      li
        a(href="#atom-Button") Button
      li
        a(href="#atom-Checkbox") Checkbox
      li
        a(href="#atom-Hr") Hr
      li
        a(href="#atom-Inputs") Inputs
      li
        a(href="#atom-Label") Label
      li
        a(href="#atom-Pof") Pof
      li
        a(href="#atom-Progress") Progress
      li
        a(href="#atom-Radio") Radio
      li
        a(href="#atom-Rating") Rating
      li
        a(href="#atom-Tag") Tag
      li
        a(href="#atom-Toggle") Toggle
      li
        a(href="#atom-Video") Video
  #nav-molecule.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref="nav.molecule") molecule
    ul
      li
        a(href="#molecule-Background") Background
      li
        a(href="#molecule-Breadcrumbs") Breadcrumbs
      li
        a(href="#molecule-Bubble") Bubble
      li
        a(href="#molecule-Card") Card
      li
        a(href="#molecule-Dropdown") Dropdown
      li
        a(href="#molecule-Fieldset") Fieldset
      li
        a(href="#molecule-Figure") Figure
      li
        a(href="#molecule-List") List
      li
        a(href="#molecule-Message") Message
      li
        a(href="#molecule-Shape") Shape
      li
        a(href="#molecule-Table") Table
      li
        a(href="#molecule-Tip") Tip
  #nav-modifier.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref="nav.modifier") modifier
    ul
      li
        a(href="#modifier-Filter") Filter
      li
        a(href="#modifier-Isolate") Isolate
      li
        a(href="#modifier-Level") Level
      li
        a(href="#modifier-Loading") Loading
      li
        a(href="#modifier-Merge") Merge
      li
        a(href="#modifier-Modal") Modal
      li
        a(href="#modifier-Panel") Panel
      li
        a(href="#modifier-Touch") Touch
  #nav-template.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref="nav.template") template
    ul
      li
        a(href="#template-Footer") Footer
      li
        a(href="#template-Hero") Hero
      li
        a(href="#template-Login") Login
      li
        a(href="#template-Navigation") Navigation
div(ui-view="")