nav.nav
  #nav-typography.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref='nav.typo') Typography
    ul
      li
        a(href='#typo-hierarchy') Hierarchy
      li
        a(href='#typo-typefaces') Typefaces
  #nav-color.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref='nav.color') Color
    ul(ui-sref-active="active")
      li
        a(href='#color-main') Main
      li
        a(href='#color-semantic') Semantic
      li
        a(href='#color-grey') Greys
  #nav-animation.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref='nav.animation') Animation
    ul(ui-sref-active="active")
      li
        a(href='#animation-ease') Easings
  #nav-symbol.accordion(ui-sref-active="active")
    h5.title
      a(ui-sref='nav.symbol') Symbol
    ul(ui-sref-active="active")
      li
        a(href='#symbol-icon') Icon
      li
        a(href='#symbol-flag') Flag
      li
        a(href='#symbol-social') Social
