<html>
  <head>
    <title>RocketCSS</title>
    <meta name="author" content="keywords, comma, separated"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="css/app.css?v=<%= buildTime %>">
    <link rel="icon" href="images/favicon.ico">
  </head>
  <body class="conseil-emploi">
    <div class="screen-box center riasec">
      <div class="progress -primary -small -wick">
        <div style="width:30%" class="bar"></div>
      </div>
      <div class="info">
        <h5>Votre formulaire riasec</h5>
        <button class="button"><i class="icon -chevron-left"></i><span>Retour au site</span></button>
      </div>
      <div class="step">
        <h5>00 / 42</h5>
      </div>
      <div class="center-wrapper">
        <h3>Aimez vous le bricolage ?</h3>
        <div class="button-box">
          <button class="button -primary">Oui</button>
          <button class="button -primary">Non</button>
        </div>
      </div>
    </div>
    <script src="js/polyfills.js?v=<%= buildTime %>"></script>
    <script src="js/vendors.js?v=<%= buildTime %>"></script>
    <script src="js/app.js?v=<%= buildTime %>"></script>
  </body>
</html>
