header#typo-head
  div
    h3 Typography
section#typography.section.typo
  #typo-hierarchy.bloc
    h5 Hierarchy
    hr
    .two-cols-verticaly-aligned
      .wrapper
        p.lead
          | The typography system is designed to create a 
          b strong
          |  hierarchy.
        p.lettrine
          | Regular paragraphs are set at a 15
          sup px
          |  base with 24
          sup px
          |  line height.  Other type basics like 
          a(href='#') special links
          | , 
          a(target='_blank', href='http://tfrere.fr') external link
          | , 
          b strong
          | , 
          em emphasis
          | , 
          u special underline
          |  and 
          s strikethrough
          |   are all obviously included.
      .wrapper.toggle-baseline.show-baseline
        .heading-wrapper
          h1.heading
            | Heading
          code h1
          span
        .heading-wrapper
          h2.heading
            | Heading
          code h2
          span
        .heading-wrapper
          h3.heading
            | Heading
          code h3
          span
        .heading-wrapper
          h4.heading
            | Heading
          code h4
          span
        .heading-wrapper
          h5.heading
            | Heading
          code h5
          span
        .heading-wrapper
          h6.heading
            | Heading
          code h6
          span
  #typo-typefaces.bloc
    h5 Typefaces
    hr
    .info
      .semi-colon
        h6.uppercase Titles
        h2 TypoName
        .header
          h4.title-font Abc
          span.title-font regular
        .header
          h4.bold.title-font Abc
          span.title-font bold
        .header
          h4.italic.title-font Abc
          span.title-font italic
        hr.-invisible
        p.toggle-baseline.show-baseline.title-font
          | A B C D E F G H I J K L M N O P Q R S T U V X Y Z 
          br
          | a b c d e f g h i j k l m n o p q r s t u v x y z 
          br
          | 1 2 3 4 5 6 7 8 9 0 - = _ + < > ? / . , : "
      .semi-colon
        h6.uppercase Texts
        h2.text-font TypoName
        .header
          h4.text-font Abc
          span.title-font regular
        .header
          h4.bold.text-font Abc
          span.title-font bold
        .header
          h4.italic.text-font Abc
          span.title-font italic
        hr.-invisible
        p.toggle-baseline.show-baseline.text-font
          | A B C D E F G H I J K L M N O P Q R S T U V X Y Z 
          br
          | a b c d e f g h i j k l m n o p q r s t u v x y z 
          br
          | 1 2 3 4 5 6 7 8 9 0 - = _ + < > ? / . , : "
  br
  br
  br
  #typo-alphabets.bloc
    h5 Alphabets
    hr
    .two-cols-verticaly-aligned
      .wrapper
        h2 Tibetan
        h6 Noto Sans Tibetan
      .wrapper
        p.tibetan
          | ༀ	༁	༂	༃	༄	༅	༆	༇	༈	༉	༊	་	༌ །	༎	༏	༐	༑	༒	༓	༔	༕	༖	༗	༘	༙	༚	༛	༜	༝	༞	༟	༠	༡	༢	༣	༤	༥	༦	༧	༨	༩	༪	༫	༬	༭	༮	༯	༰	༱	༲	༳	༴	༵	༶	༷	༸	༹	༺	༻	༼	༽	༾	༿	ཀ	ཁ	ག	གྷ	ང	ཅ	ཆ	ཇ		ཉ	ཊ	ཋ	ཌ	ཌྷ	ཎ	ཏ	ཐ	ད	དྷ	ན	པ	ཕ	བ	བྷ	མ	ཙ	ཚ	ཛ	ཛྷ	ཝ	ཞ	ཟ	འ	ཡ	ར	ལ	ཤ	ཥ	ས	ཧ	ཨ	ཀྵ	ཪ	ཫ	ཬ	ཱ	ི	ཱི	ུ	ཱུ	ྲྀ	ཷ	ླྀ	ཹ	ེ	ཻ	ོ	ཽ	ཾ	ཿ	ྀ	ཱྀ	ྂ	ྃ	྄	྅	྆	྇	ྈ	ྉྊ ྋ	ྐ	ྑ	ྒ	ྒྷ	ྔ	ྕ	ྖ	ྗ	ྙ	ྚ	ྛ	ྜ	ྜྷ	ྞ	ྟ	ྠ	ྡ	ྡྷ	ྣ	ྤ	ྥ	ྦ	ྦྷ	ྨ	ྩ	ྪ	ྫ	ྫྷ	ྭ	ྮ	ྯ	ྰ	ྱ	ྲ	ླ	ྴ	ྵ	ྶ	ྷ	ྸ	ྐྵ	ྺ	ྻ	ྼ	྾	྿	࿀	࿁	࿂	࿃	࿄	࿅	࿆	࿇	࿈	࿉	࿊	࿋	࿌		࿎	࿏	࿐	࿑	࿒	࿓	࿔	࿕	࿖	࿗	࿘
        p.tibetan
          | ༈ དཀར་མཛེས་ཨ་ཡིག་ལས་འཁྲུངས་ཡེ་ཤེས་གཏེར། །ཕས་རྒོལ་ཝ་སྐྱེས་ཟིལ་གནོན་གདོང་ལྔ་བཞིན། །ཆགས་ཐོགས་ཀུན་བྲལ་མཚུངས་མེད་འཇམ་བྱངས་མཐུས། །མ་ཧཱ་མཁས་པའི་གཙོ་བོ་ཉིད་གྱུར་ཅིག།
    .two-cols-verticaly-aligned
      .wrapper
        h2 Chinese
        h6 Noto Sans Sc
      .wrapper
        p.chinese
          | 一	丁	丂	七	丄	丅	丆	万	丈	三	上	下	丌	不	与	丏 丐	丑	丒	专	且	丕	世	丗	丘	丙	业	丛	东	丝	丞	丟 丠	両	丢	丣	两	严	並	丧	丨	丩	个	丫	丬	中	丮	丯 丰	丱	串	丳	临	丵	丶	丷	丸	丹	为	主	丼	丽	举	丿 乀	乁	乂	乃	乄	久	乆	乇	么	义	乊	之	乌	乍	乎	乏 乐	乑	乒	乓	乔	乕	乖	乗	乘	乙	乚	乛	乜	九	乞	也 习	乡	乢	乣	乤	乥	书	乧	乨	乩	乪	乫	乬	乭	乮	乯 买	乱	乲	乳	乴	乵	乶	乷	乸	乹	乺	乻	乼	乽	乾	乿 亀	亁	亂	亃	亄	亅	了	亇	予	争	亊	事	二	亍	于	亏 亐	云	互	亓	五	井	亖	亗	亘	亙	亚	些	亜	亝	亞	亟 亠	亡	亢	亣	交	亥	亦	产	亨	亩	亪	享	京	亭	亮	亯 亰	亱	亲	亳	亴	亵	亶	亷	亸	亹	人	亻	亼	亽	亾	亿 什	仁	仂	仃	仄	仅	仆	仇	仈	仉	今	介	仌	仍	从	仏 仐	仑	仒	仓	仔	仕	他	仗	付	仙	仚	仛	仜	仝	仞	仟 仠	仡	仢	代	令	以	仦	仧	仨	仩	仪	仫	们	仭	仮	仯 仰	仱	仲	仳	仴	仵	件	价	仸	仹	仺	任	仼	份	仾	仿 伀	企	伂	伃	伄	伅	伆	伇	伈	伉	伊	伋	伌	伍	伎	伏 伐	休	伒	伓	伔	伕	伖	众	优	伙	会	伛	伜	伝	伞	伟 传	伡	伢	伣	伤	伥	伦	伧	伨	伩	伪	伫	伬	伭	伮	伯 估	伱	伲	伳	伴	伵	伶	伷	伸	伹	伺	伻	似	伽	伾	伿 佀	佁	佂	佃	佄	佅	但	佇	佈	佉	佊	佋	佌	位	低	住 佐	佑	佒	体	佔	何	佖	佗	佘	余	佚	佛	作	佝	佞	佟 你	佡	佢	佣	佤	佥	佦	佧	佨	佩	佪	佫	佬	佭	佮	佯 佰	佱	佲	佳	佴	併	佶	佷	佸	佹	佺	佻	佼	佽	佾	使 侀	侁	侂	侃	侄	侅	來	侇	侈	侉	侊	例	侌	侍	侎	侏 侐	侑	侒	侓	侔	侕	侖	侗	侘	侙	侚	供	侜	依	侞	侟 侠	価	侢	侣	侤	侥	侦	侧	侨	侩	 侫	侬	侭	侮	侯 侰	侱	侲	侳	侴	侵	侶	侷	侸	侹	侺	侻	侼	侽	侾	便 俀	俁	係	促	俄	俅	俆	俇	俈	俉	俊	俋	俌	俍	俎	俏 俐	俑	俒	俓	俔	俕	俖	俗	俘	俙	俚	俛	俜	保	俞	俟 俠	信	俢	俣	俤	俥	俦	俧	俨	俩	俪	俫	俬	俭	修	俯 俰	俱	俲	俳	俴	俵	俶	俷	俸	俹	俺	俻	俼	俽	俾	俿
    .two-cols-verticaly-aligned
      .wrapper
        h2 Thai
        h6 Noto Sans Thai
      .wrapper
        p.thai
          | ฀ก ข ฃ ค ฅ ฆ ง จ ฉ ช ซ ฌ ญ ฎ ฏ ฐ ฑ ฒ ณ ด ต ถ ท ธ น บ ป ผ ฝ พ ฟ ภ ม ย ร ฤ ล ฦ ว ศ ษ ส ห ฬ อ ฮ ฯ ะ ั า ำ ิ ี ึ ื ุ ู ฺ ฿ เ แ โ ใ ไ ๅ ๆ ็ ่ ้ ๊ ๋ ์ ํ ๎ ๏ ๐ ๑ ๒ ๓ ๔ ๕ ๖ ๗ ๘ ๙ ๚ ๛
        p.thai.quote
          | เป็นมนุษย์สุดประเสริฐเลิศคุณค่า กว่าบรรดาฝูงสัตว์เดรัจฉาน จงฝ่าฟันพัฒนาวิชาการ อย่าล้างผลาญฤๅเข่นฆ่าบีฑาใคร ไม่ถือโทษโกรธแช่งซัดฮึดฮัดด่า หัดอภัยเหมือนกีฬาอัชฌาสัย ปฏิบัติประพฤติกฎกำหนดใจ พูดจาให้จ๊ะๆ จ๋าๆ น่าฟังเอยฯ
