/*
––––

	title:
		Button-push

	comment:
		Blabla

	markup:
		<buton class="button button-push">Test</button>

––––
*/

$button-push-base-color: color("primary", "base");

@mixin push($base-color: white, $base-background: $button-push-base-color) {
	display: inline-block;
	text-decoration: none;
	cursor:pointer;
	text-transform: uppercase;
	white-space: nowrap;
	text-decoration: none;
	position: relative;

	padding:10px 30px;
	color:$base-color;
	border:1px solid darken($base-background, 10%);
	background-color:$base-background;
	box-shadow: 0px 5px 0px darken($base-background, 20%);
	border-radius: 5px;
	top: 0px;
	transition: all 100ms ease-in-out;
	
	&:focus,
	&:active{
		outline:none;
	}
	&:hover {
		top:2px;
		border:1px solid darken($base-background, 10%);
		box-shadow: 0px 3px 0px darken($base-background, 20%);
	}
	&:active {
		top: 5px;
		box-shadow: none !important;
	}
}

.button-push {
	@include push();
}