/* # Typographic base
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	@include include-font("../assets/fonts/icons/", "icomoon"); 
	
	[class^="icon-"], [class*=" icon-"] {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon {
	  &.pull-left { margin-right: .3em; }
	  &.pull-right { margin-left: .3em; }
	}

	.icon-spin {
	  @include animation(spin, 2s, infinite, linear);
	}

	.icon-2x { font-size: 2em; }
	.icon-3x { font-size: 3em; }
	.icon-4x { font-size: 4em; }
	.icon-5x { font-size: 5em; }


.icon-eye2:before {
	content: "\e000";
}
.icon-paper-clip:before {
	content: "\e001";
}
.icon-mail:before {
	content: "\e002";
}
.icon-link:before {
	content: "\e005";
}
.icon-ribbon:before {
	content: "\e009";
}
.icon-image:before {
	content: "\e010";
}
.icon-signal:before {
	content: "\e011";
}
.icon-clipboard:before {
	content: "\e013";
}
.icon-clock:before {
	content: "\e014";
}
.icon-monitor:before {
	content: "\e021";
}
.icon-cog:before {
	content: "\e023";
}
.icon-heart2:before {
	content: "\e024";
}
.icon-align-justify:before {
	content: "\e026";
}
.icon-align-left:before {
	content: "\e027";
}
.icon-align-center:before {
	content: "\e028";
}
.icon-align-right:before {
	content: "\e029";
}
.icon-zoom-in:before {
	content: "\e037";
}
.icon-zoom-out:before {
	content: "\e038";
}
.icon-circle-plus:before {
	content: "\e040";
}
.icon-circle-minus:before {
	content: "\e041";
}
.icon-location:before {
	content: "\e070";
}
.icon-location-2:before {
	content: "\e071";
}
.icon-head:before {
	content: "\e074";
}
.icon-speech-bubble:before {
	content: "\e076";
}
.icon-anchor:before {
	content: "\e077";
}
.icon-tag:before {
	content: "\e085";
}
.icon-power:before {
	content: "\e086";
}
.icon-flag:before {
	content: "\e108";
}
.icon-trash:before {
	content: "\e109";
}
.icon-plus:before {
	content: "\e114";
}
.icon-minus:before {
	content: "\e115";
}
.icon-check:before {
	content: "\e116";
}
.icon-cross:before {
	content: "\e117";
}
.icon-help:before {
	content: "\e127";
}
.icon-spinner2:before {
	content: "\e60b";
}
.icon-spinner3:before {
	content: "\e60c";
}
.icon-spinner5:before {
	content: "\e60d";
}
.icon-heart:before {
	content: "\e600";
}
.icon-settings:before {
	content: "\e60e";
}
.icon-bulb:before {
	content: "\e60f";
}
.icon-pen:before {
	content: "\e610";
}
.icon-diamond:before {
	content: "\e611";
}
.icon-eye:before {
	content: "\e601";
}
.icon-stack:before {
	content: "\e602";
}
.icon-cup:before {
	content: "\e603";
}
.icon-phone:before {
	content: "\e604";
}
.icon-photo:before {
	content: "\e612";
}
.icon-plane:before {
	content: "\e605";
}
.icon-param:before {
	content: "\e606";
}
.icon-megaphone:before {
	content: "\e607";
}
.icon-lab:before {
	content: "\e608";
}
.icon-clip:before {
	content: "\e609";
}
.icon-vynil:before {
	content: "\e613";
}
.icon-truck:before {
	content: "\e60a";
}
