
$hoverTimeIn: 350ms;
$hoverTimeOut: 300ms;

$hoverEaseIn: ease-out;
$hoverEaseOut: ease-in;

#color-grey >div {
	margin-top: 7rem;
	margin-left:0;
	padding-right: 7rem;
	width: 100%;
}

.culture-wrapper {
	padding: 0 20px;
	margin-bottom:200px;
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 6px;
	}
	.tag {
		border-color: rgba(255,255,255,0.5);
	}
}

.color {
	border-bottom: 0;
	h1,h2,h3,h4,h5,h6, span {
		color:white;
	}
	h3 {
		line-height:1;
		margin-bottom:5px;
		margin-top: 5px;
	}
	.options {
		position: absolute;
		right:9rem;
		top: -23px;
		.select:first-of-type {
			margin-right:10px;
		}
	}

	.-first,
	.-last {
		display: flex;
		flex-direction: row;
		margin-bottom: 0;
		margin-top: $text-size * 2;
		padding-right: 9rem;
		width: 100%;
	}
	.-first {
		margin-bottom: $text-size * 5;
	}
}

.color .column {
	min-height: 400px;
	margin: 0 $text-size;
	overflow: hidden;
	position: relative;
	width: 33%;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	.gradient {
		bottom: 0;
		display: flex;
		flex-direction: row;
		height: 20px;
		position: absolute;
		transition: height $hoverTimeIn ease-in;
		width: 100%;

		>div {
			height: 20px;
			transition: height $hoverTimeIn ease-in, width $hoverTimeIn 200ms ease;
			width: 16.6666%;

			&:hover {
				width: 100%;
			}
		}
	}

	.variation {
		bottom: 20px;
		padding: 20px 20px 14px;
		position: absolute;
		transition: bottom $hoverTimeIn ease-in;

		h1,h2,h3,h4,h5,h6, span {
			font-family: $text-font;
		}
		h3 {
			margin-top: 0;
		}
		>div {
			font-family: $title-font;
			span:first-child {
				font-weight: 800;
				margin-right: 10px;
				opacity: .5;
			}
		}
	}

	.info {
		padding: 13px 20px;
		position: relative;
		>h3,>h4,>h5 {
			font-weight: 500;
			margin-bottom: 0;
			margin-top: 0;
		}
		>h6 {
			margin-bottom: 0;
			margin-top: 0;
			opacity: .8;
			text-transform: uppercase;
			font-size: $text-size;
			font-weight: 400;
		}
	}

	&:hover {

		.variation {
			transition-timing-function: ease-out;
			transition-duration: $hoverTimeOut;
			bottom: 80px;
		}
		.gradient {
			height: 80px;
			transition-timing-function: ease-out;
			transition-duration: $hoverTimeOut;
			>div {
				transition: height $hoverTimeOut ease-out, width $hoverTimeOut 200ms ease;
				height: 80px;
			}
		}

	}
}



.-last {

	.column {
		min-height: 150px;
		margin: 0 $text-size;
		position: relative;
		width: 33%;

		h5 {
			margin-bottom: 0;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
		&:hover .gradient {
			height: 150px;
			>div {
				height: 150px;
			}
		}
	}
	&.-only-two .column {
		width: 50%;
	}
}


#color-grey {
	margin-top: $text-size * 3;
	.column {
		width: 100%;
	}
}
