.section {

	padding: $text-size * 3 0 0 $text-size * 6;
	width: 100%;
	border-bottom: 1px solid color('grey', 'lighten-3');

	.bloc {
		margin-top: -46px;
		padding-bottom: 0;
		position: relative;

		>h5 {
			color: color('primary', 'base');
			font-size: $text-size;
			font-weight: 500;
			letter-spacing: .2rem;
			margin-bottom: 0;
			text-transform: uppercase;
			position: absolute;
	    background-color: #FFF;
	    top: -10px;
	    z-index: 1;
	    padding-right: 10px;
			&:before {
				content:"";
				width:1px;
				height:22px;
				position:absolute;
				top:0;
				left:-90px;
				background-color: color("primary", "base");
			}
			span {
				opacity: .3;
			}
		}

		>hr {
			margin-bottom: 0;
			margin-top: $text-size / 2;
		}

		.two-cols-verticaly-aligned {
			min-height:600px;
			&.remove-height {
				min-height:auto;
			}
		}
		.sample {
			padding: 0px 24px 0px 0px;
			position: relative;
		}

		.sample-code {
			padding: 0px 0px 0px 24px;
			position: relative;
			&>header {
				position: absolute;
				top:0;
				left:25px;
				width: calc(100% - 25px);
				opacity:0;
				background: linear-gradient(to bottom,rgba(0, 0, 0, .03),rgba(0, 0, 0, 0) 100%);
				transition: all 200ms ease;
				.desc {
					font-size: 1.3rem;
					text-transform: uppercase;
					color: color("grey", "darken-3");
					font-weight: 400;
					float:right;
					margin: 0;
					margin-right:10px;
					line-height: 40px;
				}
				.copy {
					margin: 0;
					.button {
						margin:0;
					}
				}
			}
			code {
				padding: 0 0 0 24px;
				box-shadow: none;
				border-radius: 0;
				border-left: 1px solid color('grey', 'lighten-3');
				padding: 9rem 2.5rem;
				margin: 0;
				min-height:600px;
			}
		}
		&:hover {
			& .sample-code>header {
				opacity:1;
			}
		}
	}

}
