#typo-alphabets {
	.two-cols-verticaly-aligned .wrapper:first-child {
		padding-left:0;
		padding-right:0;
	}
	.two-cols-verticaly-aligned .wrapper:last-child {
		margin: 3rem 15rem 4rem 8rem;
	}
	h2 {
		margin-bottom: 0;
	}
	h6 {
		text-transform: uppercase;
		font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    opacity: 0.2;
	}
}

.typo {

	border-bottom: 0;

	.two-cols-verticaly-aligned .wrapper:first-child {
		padding-left:0;
		padding-right:$text-size * 5;
	}
	.two-cols-verticaly-aligned .wrapper:last-child {
		margin: 3rem 9rem 8rem 9rem;
	}

	.heading-wrapper {

		.heading {
			display:inline-block;
		}
		h1,h2,h3,h4,h5,h6 {
			display:inline-block;
		}
		code {
			margin-left: $text-size / 2;
		}
		span {
			margin-left:$text-size / 2;
			opacity:0.3;
		}
	}

	.info {
		margin-right: 9rem;
		padding: 4rem 0 2rem;

		.semi-colon {
			width:49%;
			display:inline-block;
			margin-top: $text-size * 2;
			h1,h2,h3 {
				display: block;
			}
			&:first-of-type {
				padding-right:$text-size;
			}
			&:last-of-type {
				padding-left:$text-size;
			}
			>h6 {
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 0.2rem;
				margin-bottom:0;
				opacity:0.2;
				font-size: $text-size;
				transform: translateY(5px);
			}
			.header {
				width: 18%;
				margin-right: 13%;
				display:inline-block;
				h4 {
					margin-bottom: 0;
				}
				span {
					opacity:0.3;
					margin-top:0;
				}
			}
			p {
				margin-top: $text-size * 2;
			}
		}
	}


}


.title-font {
	font-family: $title-font;
}

.text-font {
	font-family: $text-font;
}
