$base-index:1;
.article {
	animation:fadeIn;
	animation-duration:300ms;
	position:absolute;
	width:100%;
	min-height:100%;
	height:auto;
	top:0;
	left:0;
	background-color: white;
	z-index: $base-index;
	overflow:hidden;
	overflow-x:hidden;
	.page {
		overflow-x:hidden;
		overflow-y:hidden;
	}
	.back {
		position:absolute;
		left:30px;
		top:30px;
		a {color:white;}
		z-index: $base-index;
		transition:all 200ms ease-in-out;
		&:hover {
			transform:translateX(-5px);	
		}
		&.clicked {
			transform:translateX(-100px);
		}
	}

	article {
		padding-top:80px;
		padding-bottom:80px;
		width:55%;
		margin:0 auto;
		transition-delay:500ms;
		overflow:hidden;
	}
	.fixed-background-reader-wrapper {
	}
	.fixed-background-reader {
		width:100%;
		.section-content {
			height: 320px;
			width:55%;
			margin: 0 auto;
			position:relative;
			.content-wrapper {
				position:absolute;
				bottom: 15px;
				text-align: left;
			}
		}
	}
	h1,h2,h3 {
		color:white;
		font-family: "Libre Baskerville";
		margin-bottom:35px;
	}


	article.active {
		transform:translateY(0px) translateX(-200px);
	}

	.fixed-background {
		text-align: center;
	}
	>footer {
		padding-top:80px;
		padding-bottom:80px;
		h6 {
			text-align: center;
			margin:0;
			color: color("grey", "lighten-2");
		}
		a {
			color: $color-primary;
			font-weight: 600;
			border-bottom: 1px solid color("grey", "lighten-1");
			&:focus, &:hover {
				text-decoration: none;
				border-bottom: 1px solid color("grey", "darken-2");
			}
		}
	}
}

.card-list.clicked {
	.card:not(.clicked) {
		opacity:0;
	}
}