.blog {
	animation: fadeIn;
	animation-duration: .5s;
	margin-top:250px;
	.container {
		width:65%;
		margin: 0 auto;
		h2 {
			//@include subtle-underlined();
			font-family: "Libre Baskerville";
			transition:all 200ms ease-in-out;
		}
	}
	a {
		color: $color-primary;
		font-weight: 600;
		border-bottom: 1px solid color("grey", "lighten-1");
		&:focus, &:hover {
			text-decoration: none;
			border-bottom: 1px solid color("grey", "darken-2");
		}
	}
	&>footer {
		padding-top:80px;
		padding-bottom:80px;
		h6 {
			text-align: center;
			margin:0;
			color: color("grey", "lighten-2");
		}
	}

}
