.demo {
	animation: fadeIn;
	animation-duration: .5s;
	.center {
		text-align: center;
		width:55%;
		margin: 0 auto;
	}
	.row {
		width: 55%;
		margin: 0 auto;
	}
	.large-row {
		@extend %row;
		width: 95%;
		margin: 0 auto;
	}
	.row .large-row {
		height:60px;
	}
	[class*="col-"], [class^="col-"] {
		margin-bottom:10px;
		&:after {
			content:"";
			width:100%;
			height:30px;
			border-radius: 3px;
			background-color: rgba(0,0,0,0.1);
		}
	}
	.Grid-cell div {
		margin-bottom:10px;
		content:"";
		width:100%;
		height:30px;
		border-radius: 3px;
		background-color: rgba(0,0,0,0.1);	
	}
	.flex-row {
		@extend %row;
		width: 95%;
		margin: 0 auto;
	    div:nth-child(2n):after {
			height:50px;
		}
	}
	.center-row {
		@extend %row;
		width: 95%;
		margin: 0 auto;
	    div {
	    	flex:1;
	    }
	    div:nth-child(2n):after {
			height:50px;
		}
		div:first-child {
			align-items: center;
		}
	}
}