.demo {
	animation: fadeIn;
	animation-duration: .5s;
	.center {
		text-align: center;
		width:55%;
		margin: 0 auto;
	}
	hr {
		margin-bottom:$text-size * 3;
	}
	nav ul li {
		margin: 0 15px;
		font-family: "Open Sans";
		@extend .uppercase;
		a {
			color: $color-primary;
		}
	}
	

	.cell {
	    margin-top:5px!important;
	    margin-bottom:5px!important;
	}
}