.doc--color {
	width:100%;
	min-height:100%;
	>h5 {
		margin-bottom: 0;
	}
	>hr {
		margin-top: $text-size;
		margin-bottom: $text-size * 3;
	}
}

.doc--color-first {
	display: flex;
	flex-direction: row;
}

.doc--column {
	width:33%;
	height:60%;
	min-height:350px;
	margin: 0 $text-size;
	position:relative;
	&:first-child {
		margin-left:0;
	}
	&:last-child {
		margin-right:0;
	}
	.doc--color-gradient {
		width:100%;
		display: flex;
		flex-direction: row;
		height:20px;
		position:absolute;
		bottom:0;
		transition: height 350ms ease;
		>div {
			width:16.6666%;
			height:20px;
			transition: height 350ms ease;
		}
	}
	.doc--color-variant {
		padding: 20px;
		position:absolute;
		bottom:20px;
		transition: bottom 350ms ease;
		h3 {
			margin-top:0px;
		}
		>div {
			span:first-child {
				opacity:0.5;
				margin-right:10px;
			}
		}
	}

	.doc--color-info {
		padding: 20px;
		position:relative;
		>h3 {
			margin-top: 0px;
			margin-bottom: 0px;
			font-weight: 800;
		}
		>h5 {
			margin-bottom:0px;
			margin-top:10px;
			transition: all 350ms ease-in;
		}
	}
	&:hover {
		.doc--color-variant {
			bottom:150px;
		}
		.doc--color-gradient {
			height:150px;
			>div {
				height:150px;
			}
		}

		.doc--color-info {
			>h5 {
				margin-top:0px;
			}
		}
	}
}



.doc--color-last {
	display: flex;
	flex-direction: row;
	width:100%;
	margin-top:$text-size * 2;
	.doc--column {
		width:25%;
		height:20%;
		min-height:150px;
		margin: 0 $text-size;
		position:relative;
		&:first-child {
			margin-left:0;
		}
		&:last-child {
			margin-right:0;
		}
	}
}