.guidelines {
	animation: fadeIn;
	animation-duration: .5s;
	z-index: 1;
	width:100%;
	margin-top:150px;
	.center {
		width:55%;
		margin: 0 auto;
	}
	.colors .cell {
		height:75px;
	}
	.h2 { margin-top: $text-size * 4;}
	.ball-pulse {
		@include ball-pulse(color("primary", "base"));
	}
	.ball-scale {
		@include ball-scale(color("primary", "base"));
	}
	.line-scale {
		@include line-scale(color("primary", "base"));
	}
	.circle-line-scale {
		@include circle-line-scale(color("primary", "base"));
	}
	.naira {
		@include naira(white, color("primary", "base"));
	}
	.push {
		@include push(white, color("primary", "base"));
	}
	.underline-by-scale {
	  @include underline-by-scale(color("primary", "base"));
	}
	.underline-by-left {
	  @include underline-by-left(color("primary", "base"));
	}
	.underline-by-right {
	  @include underline-by-right(color("primary", "base"));
	}
	.underline-by-double {
	  @include underline-by-double(color("primary", "base"));
	}
	.underline-fancy {
	  @include underline-fancy(color("primary", "base"));
	}
	hr {
		margin-bottom:$text-size * 3;
	}

	.cell {
	    margin-top:5px!important;
	    margin-bottom:5px!important;
	}
	&>footer {
		padding-top:80px;
		padding-bottom:80px;
		h6 {
			text-align: center;
			margin:0;
			color: color("grey", "lighten-2");
		}
		a {
			color: $color-primary;
			font-weight: 600;
			border-bottom: 1px solid color("grey", "lighten-1");
			&:focus, &:hover {
				text-decoration: none;
				border-bottom: 1px solid color("grey", "darken-2");
			}
		}
	}

}