
.two-col-text, .three-col-text {
	-webkit-column-count: 1;
	column-count: 1;
}

.page {
	width:80%;
	margin: 0 auto;
	position:relative;
}

.dark {
	background-color: color("grey", "darken-4");
	h1,h2,h3,h4,h5,h6 {
		color:white;
	}
}
.subtle-grey {
	background-color:color("grey", "lighten-4");
	border-bottom: 1px solid color("grey", "lighten-3");
}


@include tablet {
	.two-col-text, .three-col-text {
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@include phablet {
	.two-col-text {
		-webkit-column-count: 2;
		column-count: 2;
	}
	.three-col-text {
		-webkit-column-count: 3;
		column-count: 3;
	}
	.page {
		max-width:960px;
		margin: 0 auto;
	}
}


.add-padding {
	padding-top:40px;
	padding-bottom:40px;
}

.double-padding {
	padding-top:80px;
	padding-bottom:80px;
}

.quad-padding {
	padding-top:80px;
	padding-bottom:80px;
}

.big-punchline {
	padding-top:200px;
	padding-bottom:120px;
}

.punchline {
	padding-top:160px;
	padding-bottom:80px;
}
