.nav {
	border-bottom: 1px solid color("grey", "lighten-4");
	border-top: 1px solid color("grey", "lighten-4");
	background-color: white;
	width:100%;
	position: fixed;
	top: 0;
	z-index: 999;
	//color:white;
	a {
		font-family: $nav-font;
		padding:20px 10px;
		display:inline-block;
		margin:0;
		text-transform: uppercase;
		&.active {
			color: color("primary", "base");
			border-bottom: 1px solid color("primary", "lighten-4");
		}
	}
	a:first-child {
		margin-left:$text-size;
	}
}

.options-wrapper {
	position:absolute;
	top:$text-size - .2rem;
	right:$text-size;
	z-index: 1000;
	button {
		margin-top:0;
	}
}

.sub-nav {
	border-bottom: 1px solid color("grey", "lighten-4");
	border-top: 1px solid color("grey", "lighten-4");
	background-color: white;
	width:100%;
	a {
		font-family: $nav-font;
		padding:20px 10px;
		display:inline-block;
		margin:0;
		text-transform: uppercase;
		&.active {
			color: color("primary", "base");
			border-bottom: 1px solid color("primary", "lighten-4");
		}
	}
	a:first-child {
		margin-left:$text-size;
	}
	&.fixed {
		position: fixed;
		top: 60px;
		z-index: 999;
	}
}

.dark .nav, .dark .sub-nav {
	border-bottom: 1px solid color("grey", "contrast-lighten-4");
	border-top: 1px solid color("grey", "contrast-lighten-4");
	background-color: color("grey", "contrast-lighten-5");
}
