$base-index: 1;
$large-img-ratio: 1/2;
$medium-img-ratio: 1/3;
$small-img-ratio: 1/4;


.project-wrapper {
	width:100%;
}
.project {
	animation:fadeIn;
	animation-duration:300ms;
	width: 70%;
	margin: 0 auto;
	.content-wrapper {
		float:left;
		width:50%;
		margin-top:25%;
	}
	h2{
		font-family: "Libre Baskerville"!important;
		text-transform: uppercase;
		letter-spacing: .1rem;
		margin-bottom:$text-size * 2;
	}
	h5 {
		font-weight: bold;
		font-style: italic;
		letter-spacing: .05rem;
		font-family: "Libre Baskerville"!important;
		margin-bottom:$text-size * 2;
	}
	p {
		margin-bottom:$text-size * 2;
	}
	span {
		color:color("grey", "base");
	}
	a.button {
		@include naira(color("primary", "base"), color("primary", "base"));
	}
	.img-wrapper {
		perspective:1200px;
		position:relative;
		width:50%;
		height:300px;
		float:right;
		margin-top:35%;
	}
	.img-article {
		box-shadow: 1px 0px 0 #fff,0 0 10px rgba(0,95,99,0.2);
		transform: rotateY(-30deg) rotateX(5deg);
		position:absolute;
		transition: all, 400ms, ease-in-out;
		&.img-article-0 {
			width: 400px;
			height:200px;
			right:0px;
			top:-50px;
		}
		&.img-article-1 {
			width: 105px;
			height:125px;
			right:65px;
			top:15px;
		}
	}



	.project-year {
		font-family: "Open Sans"!important;
		font-size: 42vw;
		font-weight: 800;
	    position: absolute;
	    top: 45%;
	    left: 0;
	    z-index: $base-index - 100;
	    color:#FBFBFB;
	    @extend .unselectable;
	}
	header {
		width:50%;
		text-align:left;
		h1 {
			font-weight: bold;
		}
	}
	a {
		color: color("grey", "darken-2");
		font-weight: 600;
		border-bottom: 1px solid color("grey", "lighten-1");
		transition:all 100ms ease-in-out;
		&:focus, &:hover {
			text-decoration: none;
			border-bottom: 1px solid color("primary", "darken-5");
		}
	}

}