.section {

	padding: $text-size * 3 0 0 $text-size * 6;
	width: 100%;
	border-bottom: 1px solid color('grey', 'lighten-3');

	.bloc {
		margin-top: -46px;
		padding-bottom: 0;
		position: relative;

		>h5 {
			color: color('primary', 'darken-1');
			font-size: $text-size;
			font-weight: 500;
			letter-spacing: .2rem;
			margin-bottom: 0;
			text-transform: uppercase;
			position: absolute;
	    background-color: #FFF;
	    top: -10px;
	    z-index: 1;
	    padding-right: 10px;
			&:before {
				content:"";
				width:1px;
				height:22px;
				position:absolute;
				top:0;
				left:-90px;
				background-color: color("primary", "base");
			}
			span {
				opacity: .3;
			}
		}

		>hr {
			margin-bottom: 0;
			margin-top: $text-size / 2;
		}

		>div {

			.two-cols-verticaly-aligned {

				>div:nth-child(1) {
					padding: 24px 24px 78px 0px;
				}

				>div:nth-child(2) {
					padding: 0 0 0 24px;

					code {
						box-shadow: none;
						border-radius: 0;
						border-left: 1px solid color('grey', 'lighten-3');
						padding: 9rem 2.5rem;
						margin:0;
					}
				}
			}
		}
	}
}
