.vitrine {
	animation: fadeIn;
	animation-duration: .5s;
	.subtle-grey {
		background-color:$color-subtle-grey;
		border-bottom: 1px solid $color-subtle-border;
	}

	// LANDING CONTENT
	.fixed-background-vitrine {
		width:100%;
		height:90%;
		display:flex;
			text-align: left;
		.section-content {
			width:95%;
		}
		button {
			@extend .big;
			@extend .primary;
		}
	}

	.fixed-background-half {
		width:50%;
		display:flex;
		height:100%;
		float:left;
	}

	// NAVBAR CONTENT
	.navbar {
		ul li {
			margin-top: 25px;
			margin-left: 30px;
			display:inline-block;
			a {
				font-size: 1.8rem;
				font-family: $title-font;
				display:inline-block;
				padding:0px 5px;
				font-weight: bold;
				color:#DDD;
				line-height: 2rem;
				vertical-align: middle;
				transition:all 200ms ease-in-out;
				opacity:0.8;
				&:hover {
					opacity:1;
				}
			}
			&:first-child {
				margin-right:10px;
			}
		}
		&.fixed {
			background-color: rgba(255,255,255,0.95);
			border-bottom:1px solid rgba(200,200,200,0.4);
			ul li {
				margin-top: 4px;
				margin-left: 15px;
				a {
					color:#999;
					padding: 20px 5px;
				}
			}
		}
		&.minified {
			ul li {
				a {
					padding: 10px 5px;
				}
			}
		}
	}
	.mockup-wrapper {
		background-image: url('../images/mockup/laptop.png');
		width:550px;
		min-height:370px;
		margin: 0 auto;
		margin-top: 80px;
		background-size: cover;
		.video-handler {
			padding-top:30px;
		}
	}

	.page {
		width:960px;
		margin: 0 auto;
		@extend .row;
	}


	.center {
		padding-top:40px;
		padding-bottom:60px;
		@extend .col-xs-12;
		text-align: center;
	}

	.one-third {
		@extend .col-xs-4;
	}

	.one-quart {
		@extend .col-xs-3;
	}

	footer {
		a {
			font-size: 1.5rem;
			line-height: 0.5rem;
		}
	}
}


