#newsletter {
	margin-bottom:20px;
	input {
		@include multi-border-radius(5px, 0px, 5px, 0px);
		padding:9px;
	}
	a {
		position:relative;
		top:-2px;
		padding: 13px 30px;
		border:none;
		border-right: 1px solid transparent!important;
		@include box-shadow(0,0,0,transparent);
		@include multi-border-radius(0px, 5px, 0px, 5px);
		&:focus, &:hover {
			border-right: 1px solid transparent!important;
		}
	}
}