.faq-box {
	text-align: center;
	height:160px;
	background-color: $color-grey-10;
	color:black;
	position:relative;
	overflow:hidden;
	border:none!important;
	border-bottom:1px solid $color-grey-20!important;
	@include cover();
	@include transition();
	@include multi-border-radius(5px, 5px, 5px, 5px);

	&:hover {
		background-color: $color-grey-20;
	}

	p {
		font-size: 3rem;
		color:$color-complement-dark;
		@include text-shadow(2px, 2px, 3px, rgba(0,0,0,0.1));
	}

	&:hover {
		text-decoration: none;
		.tab-peon {
			left:5px;
		}
		.tab-peon-2 {
			right:5px;
		}
	}

	.tab-peon {
		border:none!important;
		position:absolute;
		background-position: 0% 53%;
		@include cover();
		@include transition();
		left:0;
		width:100%;
		height:100%;
		background-repeat: no-repeat;
		background-image: url('../assets/imgs/svg/tab_peon.svg');
		z-index: 2;
	}
	.background {
		border:none!important;
		position:absolute;
		background-position: 25% 73%;
		@include cover();
		@include transition();
		opacity:1;
		width:100%;
		height:100%;
		background-image: url('../assets/imgs/svg/tab_peon_background.svg');
		z-index: 1;
	}

	.tab-peon-2 {
		position:absolute;
		background-position: 0% 53%;
		@include cover();
		@include transition();
		right:0;
		width:100%;
		height:100%;
		background-repeat: no-repeat;
		background-image: url('../assets/imgs/svg/tab_peon_2.svg');
		z-index: 2;
	}
	.background-2 {
		position:absolute;
		background-position: 0% 73%;
		@include cover();
		@include transition();
		opacity:1;
		width:100%;
		height:100%;
		background-image: url('../assets/imgs/svg/tab_peon_background_2.svg');
		z-index: 1;
	}

}
.faq-box.active {
	-webkit-box-shadow: inset 0px -1px 11px 1px rgba(0,0,0,0.16);
	-moz-box-shadow: inset 0px -1px 11px 1px rgba(0,0,0,0.16);
	box-shadow: inset 0px -1px 11px 1px rgba(0,0,0,0.16);
	p {
		color:white;
	}
	background-color: darken(#8DB2C8, 10%);
	color:white;
	border:none!important;
	border-bottom:1px solid $color-complement!important;
	.background {
		opacity:1;
	}
	.background-2 {
		opacity:1;
	}

}

.question {
	@include transition();
	display:block;
	overflow:hidden;
	margin-bottom:20px;
	i {
		@include transition();
		@include rotate(0deg);
		margin-top:-5px;
	}
	i.active {
		@include rotate(45deg);
	}
	img {
		display:block;
		margin: 0 auto;
		width: 50%;
	}
	>a {
		@include unselectable();
		text-decoration: none;
		display:block;
		width: 100%;
		cursor:pointer;
		&:hover {
			text-decoration: none!important;
		}
		h6 {
			font-size: 1.8rem;
			@include fade();
		}
	}
	p {
		a {
			color: #8CBCD5;
			font-weight: 600;
			border-bottom: 1px solid $color-grey-10;
			&:focus, &:hover {
				text-decoration: none;
				border-bottom: 1px solid $color-grey-50;
			}
		}
	}
}
