/* ## Centering
================================================== */
	
	.screen-box {
		width:100%;
		height:100%;
	}

	/* ### Fluid centering
	============================================= */

		.flex-center {
  				display: flex;
			.flex-center-box {
				margin:auto;
			}
		}

		.table-center {
			display: table;
			height: 100%;
			width: 100%;

			.table-center-box {
				display: table-cell;
				vertical-align: middle;
			}
		}


	/* ### Fluid horizontal centering
	============================================= */

	.fluid-horizontal-center {
		display:inline-block;
		text-align: center;
		width:100%;
	}