	/* ## Margin & padding
	============================================= */

	.remove-bot 	{ margin-bottom: 	0 !important; }
	.half-bot 		{ margin-bottom: 	($base-margin / 2) !important; }
	.add-bot 		{ margin-bottom: 	 $base-margin !important; }
	.double-bot 	{ margin-bottom: 	($base-margin * 2) !important; }
	.quad-bot 		{ margin-bottom: 	($base-margin * 4) !important; }
	.octo-bot 		{ margin-bottom: 	($base-margin * 8) !important; }


	.remove-top 	{ margin-top: 		0 !important; }
	.half-top 		{ margin-top: 		($base-margin / 2) !important; }
	.add-top 		{ margin-top: 		 $base-margin !important; }
	.double-top 	{ margin-top: 		($base-margin * 2) !important; }
	.quad-top 		{ margin-top: 		($base-margin * 4) !important; }
	.octo-top 		{ margin-top: 		($base-margin * 8) !important; }


	.remove-padding	{ padding: 			0 !important; }
	.half-padding	{ padding: 			($base-padding / 2) !important; }
	.add-padding	{ padding: 			 $base-padding !important; }
	.double-padding	{ padding: 			($base-padding * 2) !important; }
	.quad-padding	{ padding: 			($base-padding * 4) !important; }


	.remove-left 	{ margin-left: 	0 !important; }
	.half-left 		{ margin-left: 	($base-margin / 2) !important; }
	.add-left 		{ margin-left: 	 $base-margin !important; }
	.double-left 	{ margin-left: 	($base-margin * 2) !important; }
	.quad-left 		{ margin-left: 	($base-margin * 4) !important; }
	.octo-left 		{ margin-left: 	($base-margin * 8) !important; }


	.remove-right 	{ margin-right: 		0 !important; }
	.half-right		{ margin-right: 		($base-margin / 2) !important; }
	.add-right		{ margin-right: 		 $base-margin !important; }
	.double-right 	{ margin-right: 		($base-margin * 2) !important; }
	.quad-right		{ margin-right: 		($base-margin * 4) !important; }
	.octo-right		{ margin-right: 		($base-margin * 8) !important; }
