/*
	A noter : pour avoir un bloc qui utilise une hauteur en pourcentage
			  il faut obligatoirement que tous ses parents jusqu'au html
			  aient une taille définie ( ici grâce à .screen-box )

	Markup :

	<div className="screen-box center">
	  <div class="center-wrapper">
	  	// ton contenu
	  </div>
	</div>
*/

.screen-box {
	width:100%;
	height:100%;
	position:relative;
}

.semi-screen-box {
	width:100%;
	height:50%;
	position:relative;
}

.center {
	display:flex;
	position:relative;
	.center-wrapper {
		position:relative;
		margin:auto;
		z-index: 1;
	}
}

.two-cols {
	display: flex;
	flex-wrap: wrap;
	.wrapper {
		width:100%;
	}
}

.three-cols {
	display: flex;
	flex-wrap: wrap;
	.wrapper {
		width:100%;
	}
}

.four-cols {
	display: flex;
	flex-wrap: wrap;
	.wrapper {
		width:25%;
	}
}

.two-cols-verticaly-aligned {
	display: flex;
	align-items: center;
	.wrapper {
		width:50%;
	}
}


@include break-point("desktop") {
	.two-cols .wrapper {
		width:50%;
  }
  .three-cols .wrapper {
		width:33.33%;
  }
}
