html, body {
  height:100%;
}
.center {
  width:100%;
}

.demo-cell {
  padding: 1em;
  background: rgba(147, 128, 108, 0.1);
  border-radius: 3px;
  box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.height {
  height:50px;
}

$columns: 12 !default;
$gutter: 1em !default;


* {
    box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.col
{
    height:300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }


.row-gutter {
  margin: -$gutter 0 0 -$gutter;
}
.row-gutter > .cell {
  padding: $gutter 0 0 $gutter;
}

.cell {
  flex: 0 0 80%;
}


@include desktop {
    .cell {
        flex:1;    
    }
}


.row-auto-height > .cell {
  display: flex;
}

.row-left {
  align-items: flex-start;
}

.row-right {
  justify-content:flex-end;
}

.row-center {
  justify-content: center;
}

.row-justify {
  justify-content: center;
}

.cell-left {
  align-self: flex-start;
}

.cell-right {
  align-self: flex-end;
}

.cell-center {
  align-self: center;
}

.cell-autoSize {
  flex: none;
}

@for $i from 1 through $columns {

    // Don't include the .off class for the last column
    @if ( $i != $columns ) {
      .force-#{$i} {
        flex: 0 0 100% / $i;
    }
  }
}
