/*
–––––––––––––––––––––––––––––––––––––––
  ███╗   ███╗  █████╗  ██╗ ███╗   ██╗
  ████╗ ████║ ██╔══██╗ ██║ ████╗  ██║
  ██╔████╔██║ ███████║ ██║ ██╔██╗ ██║
  ██║╚██╔╝██║ ██╔══██║ ██║ ██║╚██╗██║
  ██║ ╚═╝ ██║ ██║  ██║ ██║ ██║ ╚████║
  ╚═╝     ╚═╝ ╚═╝  ╚═╝ ╚═╝ ╚═╝  ╚═══╝
–––––––––––––––––––––––––––––––––––––––
*/

@import "helper/core";

@import "color";
@import "base";

@import "atom/button";
@import "atom/input";
@import "atom/blockquote";
@import "atom/toggle";
@import "atom/checkbox";
@import "atom/hr";
@import "atom/radio";
@import "atom/label";
@import "atom/tag";
@import "atom/progress";
@import "atom/video";
@import "atom/rating";

@import "atom/extra/button-grainandmortar";
@import "atom/extra/button-naira";
@import "atom/extra/button-push";
@import "atom/extra/anim-underline";
@import "atom/extra/burger-menu";
@import "atom/extra/loader-line-scale";
@import "atom/extra/loader-circle-scale";
@import "atom/extra/loader-ball-scale";
@import "atom/extra/loader-ball-pulse";
@import "atom/extra/invite-to-scroll";

@import "molecule/fieldset";
@import "molecule/bubble";
@import "molecule/message";
@import "molecule/card";
@import "molecule/list";
@import "molecule/table";
@import "molecule/shape";
@import "molecule/figure";
@import "molecule/background";
@import "molecule/dropdown";
@import "molecule/tip";

@import "modifier/modal";
@import "modifier/panel";
@import "modifier/isolate";
@import "modifier/merge";
@import "modifier/touch";
@import "modifier/loading";
@import "modifier/level";
@import "modifier/filter";
@import "modifier/swipe";

@import "template/nav";
@import "template/section";
@import "template/footer";
@import "template/color";
@import "template/typo";
@import "template/symbol";

@import "template/slider/main";


//@import "template/conseil-emploi/main";
@import "template/apl-simulator/main";

html, body, [ui-view] {
	width:100%;
	min-height:100%;
}

.text-center {
	text-align: center;
}


#meuble {
	width: 250px;
	height: 250px;
	background-image: url(../assets/imgs/svg/furnished.svg);
	background-size: cover;
	margin-top: 35px;
}

#help {
	font-size: 2em;
	opacity: 0.2;
	transition: all 200ms ease;
	position: absolute;
	left: -35px;
	transform: translateY(-3px);
	cursor: pointer;
	&:hover {
		opacity: 0.5;
	}
}
