@import "abstract/const/ratio";
@import "abstract/const/easing";
@import "abstract/const/normalize";

@import "abstract/tools/mixin";
@import "abstract/tools/include-font";
@import "abstract/tools/modular-scale";
@import "abstract/tools/keyframe";
@import "abstract/tools/prefixer";
@import "abstract/tools/center";

@import "abstract/animation";
@import "abstract/media";
@import "abstract/color";
@import "abstract/grid";
@import "abstract/base";
@import "abstract/icon";

@import "atom/button";
@import "atom/code";
@import "atom/input";
@import "atom/table";
@import "atom/list";
@import "atom/checkbox";
@import "atom/link";
@import "atom/hr";
@import "atom/toggle";
@import "atom/circle-flip";


@import "molecule/footer";
@import "molecule/home";
@import "molecule/nav";
@import "molecule/question";

.beta{
	position:fixed;
	top:0px;
	right:0;
	width:150px;
	height:150px;
	background-image: url('../assets/imgs/svg/beta.svg');
	z-index: 999;
}

.small-circle {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.big-circle {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

@include desktop {
	.big-circle {
		width: 250px;
		height: 250px;
		margin: 0 auto;
	}
}