/*
––––

	title:
		Loading

	comment:
		La Loading est une plante qui se mange froide

	markup:
    <label>Button</label>
    <button class="button loading touch">
			<i class="icon -sun"></i>
			<span>Bouton</span>
		</button>
    <label>Card</label>
    <div class="card loading -primary">
      <p>The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.</p>
    </div>
    <label>Entire list</label>
    <ul class="list loading">
      <li class="item touch">
        <img class="head grey -circle" src="images/joe.jpg"/>
        <div class="content">
          <h6 class="title">Item</h6>
          <p class="desc">bla blbla blalabla</p>
        </div>
      </li>
    </ul>
    <label>List item</label>
    <ul class="list">
      <li class="item touch loading">
        <img class="head grey -circle" src="images/joe.jpg"/>
        <div class="content">
          <h6 class="title">Item</h6>
          <p class="desc">bla blbla blalabla</p>
        </div>
      </li>
      <li class="item touch">
        <img class="head grey -circle" src="images/joe.jpg"/>
        <div class="content">
          <h6 class="title">Item</h6>
          <p class="desc">bla blbla blalabla</p>
        </div>
      </li>
    </ul>

––––
*/


.loading {
  cursor:initial;
  opacity:0.8;
	&:before {
		position: absolute;
		content: '';
		top: 48%;
		left: 48%;
		margin: -.5em 0 0 -.5em;
		width: .8em;
		height: .8em;
		border-radius: 500rem;
		border: 2px solid rgba(0,0,0,.15);
	}
	&:after {
		position: absolute;
		content: '';
		top: 48%;
		left: 48%;
		margin: -.5em 0 0 -.5em;
		width: .8em;
		height: .8em;
		animation: button-spin .6s linear;
		animation-iteration-count: infinite;
		border-radius: 500rem;
		border-color: #FFF transparent transparent;
		border-style: solid;
		border-width: 2px;
		box-shadow: 0 0 0 1px transparent;
	}
}
