
.input-box {
	&.display {
		label {
			opacity:1;
		}
		&:after {
			width:100%;
		}
	}
	margin-top:5px;
	margin-bottom:15px;
	position:relative;
	&:before {
		position:absolute;
		bottom:0;
		left:0;
		content:"";
		width:0%;
		height:2px;
		opacity:1;
		transition: width 400ms ease-in-out;
	}
	&:after {
		position:absolute;
		bottom:0;
		left:0;
		content:"";
		width:0%;
		height:2px;
		background-color: white;
		opacity:0.2;
		transition: all 200ms ease-in-out;
	}
	label {
		opacity:0;
		position:absolute;
		top:25px;
		left:0px;
		transition: all 200ms ease-in-out;
		font-size: 1em;
	}
	input, textarea {
		&.ng-error {

		}
	}
	textarea {
		min-height: 10px;
	}
	&.focus {
		textarea {
			min-height: 100px;
		}
		input, textarea{
			padding-left:15px;
			background-color: rgba(255,255,255,0.1);
		}
		label {
			top: -5px;
			font-size: 0.7em;
		}
		&:before {
			width:100%;
		}
	}
}