.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

// attention seekers
@import "attention_seekers/bounce";
@import "attention_seekers/flash";
@import "attention_seekers/headShake";
@import "attention_seekers/jello";
@import "attention_seekers/pulse";
@import "attention_seekers/rubberBand";
@import "attention_seekers/shake";
@import "attention_seekers/swing";
@import "attention_seekers/tada";
@import "attention_seekers/wobble";

// boucing entrance
@import "bouncing_entrances/bounceIn";
@import "bouncing_entrances/bounceInDown";
@import "bouncing_entrances/bounceInLeft";
@import "bouncing_entrances/bounceInRight";
@import "bouncing_entrances/bounceInUp";

// boucing exists
@import "bouncing_exits/bounceOut";
@import "bouncing_exits/bounceOutDown";
@import "bouncing_exits/bounceOutLeft";
@import "bouncing_exits/bounceOutRight";
@import "bouncing_exits/bounceOutUp";

// fading entrance
@import "fading_entrances/fadeIn";
@import "fading_entrances/fadeInDown";
@import "fading_entrances/fadeInLeft";
@import "fading_entrances/fadeInRight";
@import "fading_entrances/fadeInUp";
@import "fading_entrances/fadeInUpBig";
@import "fading_entrances/fadeInDownBig";
@import "fading_entrances/fadeInLeftBig";
@import "fading_entrances/fadeInRightBig";
@import "fading_entrances/fadeInUpBig";

// fading entrance
@import "fading_exits/fadeOut";
@import "fading_exits/fadeOutDown";
@import "fading_exits/fadeOutLeft";
@import "fading_exits/fadeOutRight";
@import "fading_exits/fadeOutUpBig";
@import "fading_exits/fadeOutDownBig";
@import "fading_exits/fadeOutLeftBig";
@import "fading_exits/fadeOutRightBig";
@import "fading_exits/fadeOutUpBig";

// flippers
@import "flippers/flip";
@import "flippers/flipInX";
@import "flippers/flipInY";
@import "flippers/flipOutX";
@import "flippers/flipOutY";

// lightspeed
@import "lightspeed/lightSpeedIn";
@import "lightspeed/lightSpeedOut";

// rotating entrance
@import "rotating_entrances/rotateIn";
@import "rotating_entrances/rotateInDownLeft";
@import "rotating_entrances/rotateInDownRight";
@import "rotating_entrances/rotateInUpLeft";
@import "rotating_entrances/rotateInDownLeft";

// rotating exists
@import "rotating_exits/rotateOut";
@import "rotating_exits/rotateOutDownLeft";
@import "rotating_exits/rotateOutDownRight";
@import "rotating_exits/rotateOutUpLeft";
@import "rotating_exits/rotateOutDownLeft";

// sliding entrance
@import "sliding_entrances/slideInDown";
@import "sliding_entrances/slideInLeft";
@import "sliding_entrances/slideInRight";
@import "sliding_entrances/slideInUp";

// sliding exits
@import "sliding_exits/slideOutDown";
@import "sliding_exits/slideOutLeft";
@import "sliding_exits/slideOutRight";
@import "sliding_exits/slideOutUp";

// specials
@import "specials/hinge";
@import "specials/rollIn";
@import "specials/rollOut";

// zooming entrance
@import "zooming_entrances/zoomIn";
@import "zooming_entrances/zoomInDown";
@import "zooming_entrances/zoomInLeft";
@import "zooming_entrances/zoomInUp";
@import "zooming_entrances/zoomInRight";

// zooming entrance
@import "zooming_exits/zoomOut";
@import "zooming_exits/zoomOutDown";
@import "zooming_exits/zoomOutLeft";
@import "zooming_exits/zoomOutUp";
@import "zooming_exits/zoomOutRight";
