#content {
	h3, h5, p {
		text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
	}
}

.beta{
	position:fixed;
	top:0px;
	right:0;
	width:150px;
	height:150px;
	background-image: url('../assets/imgs/svg/beta.svg');
	z-index: 999;
}

#welcome {
	position:absolute;
	z-index: 997;
	margin-left: -335px;
	bottom:0;
	width: 500px;
	height: 250px;
	zoom:0.7;
	background-image: url('../assets/imgs/svg/welcome.svg');
	overflow:hidden;
}

section.background {
	width: 100%;
	background-color: darken(#8DB2C8, 10%);
	position:relative;
	&.light {
		background-color: lighten(#8DB2C8, 10%);
	}
	h3, h4, h5, p {
		text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
	}
	h3 {
		margin-top: 110px;
		margin-bottom: 60px;
	}
}

#video-container
{
	opacity:1;
	overflow:visible;
	width:100%;
	padding-top:1px;
	@include box-sizing(border-box);
	#video-box {
		position:relative;
		width:100%;
		max-height:300px;
		margin: 0 auto;
		padding: 20px;
		//- background-color: $color-grey-05;
		cursor:pointer;
		@include box-sizing(border-box);
		@include transition();
		&:hover{
			background-color: white;
			#play {
				opacity:0.6;
			}
		}
		iframe {

		}
		#play {
			width: 100px;
			height: 100px;
			opacity:0.3;
			background-color: rgb(0,0,0);
			@include border-radius(50%);
			@include transition();
			position:absolute;
			top:50%;
			margin-top:-50px;
			left:50%;
			margin-left:-50px;
			z-index: 25;
			#triangle {
				margin-left:42px;
				margin-top:25px;
				width: 0; 
				height: 0;
				border-top: 25px solid transparent;
				border-bottom: 25px solid transparent;
				border-left: 25px solid white;
			}
		}
		#video-cover {
			z-index: 10;
			width :100%;
			@include box-sizing(border-box);
			@include cover();
		}

	}
}

#content {
	z-index: 5;
}

#main-background {
	opacity:0.3;
	z-index: 2;
	background-image: url('../assets/imgs/svg/main_background.svg');
	overflow:hidden;
	width: 100%;
	position:absolute;
	height:100%;
	@include cover();
}

#general-background {
	opacity:0.2;
	z-index: 0;
	background-image: url('../assets/imgs/svg/general_background.svg');
	overflow:hidden;
	width: 100%;
	position:absolute;
	height:100%;
	@include cover();
	margin: auto;
}


.main-texture {
	background-image: url('../assets/imgs/png/main_texture.png');
	width:100%;
	position:absolute;
	height:100%;
	opacity:0.5;
}

#peon {
	z-index: 10;
	width: 150px;
	height: 150px;
	background-image: url('../assets/imgs/svg/peon.svg');
	margin: -75px auto 0 auto;
	position:absolute;
	margin-left: 50%;
	left: -75px;
}


#circle-image-1, #circle-image-2, #circle-image-3  {
	background-image: url('../assets/imgs/svg/paperasse.svg');
	@include transition(all, 500ms, ease-in-out);
	@include translate(0px, 0px);
	margin:0px;
	&.fly-left {
	  opacity:1;
	  @include translate(-10px, 0px);
	}
	&.fly-right {
	  opacity:1;
	  @include translate(20px, 0px);
	}
}

.circle-calculatrice {
	background-image: url('../assets/imgs/svg/calculatrice.svg');
}

.small-circle{
	opacity:0.7;
	@include transition();
	&:hover {
		opacity:1;
	}
}

.circle-calculator {
	background-image: url('../assets/imgs/svg/calculator.svg');
}
.circle-responsive {
	background-image: url('../assets/imgs/svg/responsive.svg');
}
.circle-cloudsafe {
	background-image: url('../assets/imgs/svg/cloudsafe.svg');
}
.circle-pig {
	background-image: url('../assets/imgs/svg/pig.svg');
}
.circle-unlimited {
	background-image: url('../assets/imgs/svg/unlimited.svg');
}
.circle-papers {
	background-image: url('../assets/imgs/svg/papers.svg');
}