
#welcome {
	position:absolute;
	z-index: 998;
	margin-left: -335px;
	bottom:0;
	width: 500px;
	height: 250px;
	zoom:0.7;
	background-image: url('../assets/imgs/svg/welcome.svg');
	overflow:hidden;
}

section.background {
	width: 100%;
	background-color: #8DB2C8;
	position:relative;
	&.light {
		background-color: lighten(#8DB2C8, 20%);
	}
}

#video-container
{
	opacity:1;
	overflow:visible;
	width:100%;
	padding-top:1px;
	#video-box {
		position:relative;
		width:558px;
		max-height:350px;
		margin: 0 auto;
		padding: 20px;
		background-color: $color-grey-05;
		@include transition();
		&:hover{
			background-color: white;
		}
		iframe {

		}
		#video-cover {
			z-index: 10;
			width :100%;
			height:100%;
			@include box-sizing(border-box);
			@include cover();
		}

	}
}
#content {
	z-index: 5;
}

#main-background {
	z-index: 2;
	background-image: url('../assets/imgs/svg/main_background.svg');
	overflow:hidden;
	width: 100%;
	position:absolute;
	height:100%;
	@include cover();
}

.main-texture {
	background-image: url('../assets/imgs/png/main_texture.png');
	width:100%;
	position:absolute;
	height:100%;
	opacity:0.5;
}

#peon {
	z-index: 10;
	width: 150px;
	height: 150px;
	background-image: url('../assets/imgs/svg/peon.svg');
	margin: -75px auto 0 auto;
	position:absolute;
	margin-left: 50%;
	left: -75px;
}


#circle-image-1, #circle-image-2, #circle-image-3  {
	background-image: url('../assets/imgs/svg/paperasse.svg');
	opacity:0;
	@include transition(all, 500ms, ease-in-out);
	@include translate(0px, 0px);
	margin:0px;
	&.fly-left {
	  opacity:1;
	  @include translate(-10px, 0px);
	}
	&.fly-right {
	  opacity:1;
	  @include translate(20px, 0px);
	}
}

.circle-calculatrice {
	background-image: url('../assets/imgs/svg/calculatrice.svg');
}


.small-circle{
	opacity:0.6;
}

.circle-calculator {
	background-image: url('../assets/imgs/svg/calculator.svg');
}
.circle-responsive {
	background-image: url('../assets/imgs/svg/responsive.svg');
}
.circle-cloudsafe {
	background-image: url('../assets/imgs/svg/cloudsafe.svg');
}
.circle-pig {
	background-image: url('../assets/imgs/svg/pig.svg');
}
.circle-unlimited {
	background-image: url('../assets/imgs/svg/unlimited.svg');
}
.circle-papers {
	background-image: url('../assets/imgs/svg/papers.svg');
}