/* # Library
============================================= */

	@mixin transition ($attribute: all, $duration: 200ms, $easing: ease-in-out ) {
		@include prefixer(transition, $attribute $duration $easing, webkit moz ms o spec);
	}

	@mixin animation ($animation, $delay: 1s, $duration: 1s, $easing: ease-in-out) {
		@include prefixer(animation, $animation $delay $duration $easing, webkit moz ms o spec);
	}
	
	
	@mixin opacity($opacity) {
		opacity: $opacity;
		$opacity-ie: $opacity * 100;
		filter: alpha(opacity=$opacity-ie); //IE8
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie);
	}

	@mixin box-sizing ($sizing: border-box) {
		box-sizing: 				$sizing;
	}

	@mixin scale ($factor) {
		transform: 		 		scale($factor);
	}

	@mixin translateX ($number: -40px) {
		transform: 		 		translateX($number);
	}
	@mixin translate($n1: 0px, $n2: 0px) {
		transform: 		 		translate($n1, $n2);
	}

	@mixin translateY ($number: -40px) {
		transform: 		 		translateY($number);
	}

	@mixin rotate ($deg) {
		@include prefixer(transform, rotate($deg), webkit moz ms o spec);
	}

	@mixin border-radius ($radius: 5px) {
		@include prefixer(border-radius, $radius, webkit moz ms o spec);
	}

	@mixin multi-border-radius ($top-left: 5px, $top-right: 5px, $bottom-left: 5px, $bottom-right: 5px) {
		-webkit-border-top-left-radius: $top-left;
		-webkit-border-bottom-left-radius: $bottom-left;
		-moz-border-radius-topleft: $top-left;
		-moz-border-radius-bottomleft: $bottom-left;
		border-top-left-radius: $top-left;
		border-bottom-left-radius: $bottom-left;
		-webkit-border-top-right-radius: $top-right;
		-webkit-border-bottom-right-radius: $bottom-right;
		-moz-border-radius-topright: $top-right;
		-moz-border-radius-bottomright: $bottom-right;
		border-top-right-radius: $top-right;
		border-bottom-right-radius: $bottom-right;

	}

	@mixin brightness ($value: 40%) {
		filter: 					brightness($value);
	}

	@mixin circle {
		border-radius:				100%;
	}

	@mixin box-shadow ($x:3px, $y:3px, $blur:5px, $color: grey) {

		-webkit-box-shadow: 		$x $y $blur $color;
		-moz-box-shadow: 			$x $y $blur $color;
		-o-box-shadow: 				$x $y $blur $color;
		box-shadow: 				$x $y $blur $color;
	}



	@mixin text-shadow ($x:1px, $y:1px, $blur:0px, $color: white) {
		text-shadow: 				$x $y $blur $color;
	}


	@mixin gradient ($origin: left, $start: #ffffff, $stop: #000000) {

		background-color:	 		$start;
		background-image:	 		linear-gradient($origin, $start, $stop);
	}

	@mixin cover {
		background-size: 			cover;
	}

	@mixin unselectable () {
		@include prefixer(user-select, none, webkit moz ms o spec);
	}

	@mixin selectable () {
		user-select: 				text;
	}

	@mixin antialiased () {
		-webkit-font-smoothing:     antialiased;
		-moz-osx-font-smoothing:    grayscale;
		text-rendering:             geometricPrecision;
	}


	@mixin selection-color ( $text-color: white, $bg-color: black ) {

		::selection                 { background: $bg-color; color: $text-color; }
		::-moz-selection            { background: $bg-color; color: $text-color; }
		::-webkit-selection         { background: $bg-color; color: $text-color; }
	}

	@mixin placeholder-color ( $color: black ) {

		::-webkit-input-placeholder { color: $color; }
		::-moz-placeholder          { color: $color; opacity:1; }
		::-moz-placeholder          { color: $color; opacity:1; }
		::-ms-input-placeholder     { color: $color; }
	}


	.border-box					{ @include box-sizing; }
	.circle 					{ @include circle; }
	.box-shadow 				{ @include box-shadow; }
	.cover						{ @include cover; }
	.unselectable               { @include unselectable; }
	.antialiased                { @include antialiased; }


