html, body, body>div {margin:0;padding:0;}

html, body {
  width:100%;
  height:100%;
}

ul {
  padding-left:0;
  margin:0;
}

textarea:focus {
  outline:none;
}

ul, ol { list-style-type: none; }

a:not(.button) {
  cursor:pointer;
  text-decoration: none;

  &:hover   { outline: 0;}
  &:active  { outline: 0; }
  &:focus   { outline: thin dotted; }
}

