/*
––––

	title:
		Code

	comment:
		La code est une plante qui se mange froide

	markup:
		<label>Simple</label>
		<code>
			some code here
		</code>
		<label>Pre > code</label>
		<pre>
			<code class="nohighlight">(\/)
(oO)
c(")(")</code>
		</pre>

––––
*/

code {
	padding: .2rem $text-size / 2;
	margin: 0 0.1rem;
	white-space: nowrap;
	box-shadow: inset 1px 1px rgba(0, 0, 0, 0.04);
	background: #fafbfb;
	border-radius: 4px;
	display:inline;
}

pre {
	margin: 0;
	white-space:pre;
	white-space:pre-wrap;
	word-break:break-all;
	word-wrap:break-word;
	& > code {
		display: block;
		padding: 2rem 2.5rem;
		white-space: pre;
		margin-bottom:$text-size;
	}
}
