/*
––––

	title:
		Lists

	comment:
		La list est une plante qui se mange froide

	markup:
		<ul class="ul">
			<li>Unordered lists have basic styles</li>
			<li>They use the circle list style</li>
			<ul>
				<li>Nested lists styled to feel right</li>
				<li>Can nest either type of list into the other</li>
			</ul>
		</ul>
		<ol class="ol">
			<li>Ordered lists also have basic styles</li>
			<li>They use the decimal list style</li>
			<ol>
				<li>Ordered and unordered can be nested</li>
				<li>Can nest either type of list into the other</li>
			</ol>
			<li>Last list item just for the fun</li>
		</ol>

––––
*/


ul, ol { list-style-type: none; }

ul {
	margin-top: $text-size;
	margin-bottom: $text-size;
	ul {
		margin-top: 0;
		margin-bottom: 0;
	}
}

li {
	margin-bottom: $text-size / 2;
}

ul.ul 				{ padding-left:20px; list-style-type: circle; }
ul.ul ul 			{ padding-left:20px; list-style-type: disc; }
ul.ul ul ul 		{ padding-left:20px; list-style-type: square; }

ol.ol 				{ padding-left:20px; list-style-type: decimal; }
ol.ol ol 			{ padding-left:20px; list-style-type: lower-alpha; }
ol.ol ol ol 		{ padding-left:20px; list-style-type: lower-greek; }