.square {
	&.rotate {
		transform:rotate(90deg);
	}
}
.circle {

}

.flip {
	height:150px;
	position:relative;
	z-index: 11;
	perspective: 1000;
	transform-style: preserve-3d;
	&:before, &:after {
		content:"";
		border-radius: 100px;
		width: 150px;
		height: 150px;
		left: 50%;
		margin-left: -75px;
		display: block;
		position: absolute;
		color: #fff;
		transition: transform .5s ease-in-out;
	}
	&:after {
		background-color: rgb(200,200,200);
		transform: rotate3d(45, 45, 0, -180deg);
		backface-visibility: hidden;
		z-index: 12;
	}
	&:before {
		background-color: rgb(230,230,230);
		transform: rotate3d(45, 45, 0, 0deg);
		backface-visibility: hidden;
		z-index: 13;
	}
	&:hover:after {
		transform: rotate3d(45, 45, 0, 0deg);
		z-index: 14;
	}
	&:hover:before {
		transform: rotate3d(45, 45, 0, 180deg);
	}
} 