/* # Hr
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	hr {
		border: solid #CCC;
		border-width: 1px 0 0;
		height: 0;
		display:block;
		&:before, &:after {
			clear:both;
		}
	}

	/* # Specific hrs              chekout patternify.com
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

		hr.letterpressed {

		}
		hr.nested {
		    border-width: 0;
		    border-bottom: 1px solid white;
		    width:100%;
		    height:2px;
		    background-color: rgb(240,240,24à);
		    display:inline-block;
			@include clearfix();
		}

		hr.lines {
			border: none;
			display:block;
			width: 100%;
			height: 5px;
			background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAX1jEj8eiC7ESYA5oAkQQJwDkgAAGKuA4R0d0m8AAAAAElFTkSuQmCC) repeat;
			opacity: 0.8;
		}

	    hr.lines.light {
	      background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAL/gYARxgdzQAAkAOOA2IzIHJAAACAGEAFjDBirAAAAAElFTkSuQmCC) repeat;
	      opacity:0.4;
	    }

		hr.triangle {
			border: none;
			display:block;
			width: 100%;
			height: 5px;
			background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPklEQVQYV2NkwAT/gUKM6MLoAjBFGIqRFaJLovBhCrFaB7QeLg5SiEsRzJlgeQxHY/EcSOg/sQoxgwGHiQwA+f4KCL3Y/AQAAAAASUVORK5CYII=) repeat;
		}

		hr.double {
			border-top: 3px double #8c8b8b;
		}

		hr.dashed {
			border-top: 1px dashed #8c8b8b;
		}

		hr.dotted {
			border-top: 1px dotted #8c8b8b;
		}

		hr.gradient {
			height: 10px;
			border: 0;
			box-shadow: 0 10px 10px -10px #8C8B8B inset;
		}

		hr.stamp:before { 
			content: '₪'; 
			display: block; 
			position: relative; 
			top: -12px; 
			margin:0 auto;
			width: 15px;
			padding: 0 10px; 
			background: white; 
			color: #8c8b8b; 
			font-size: 18px; 
		}


		hr.apple { 
			border: 0; 
			height: 1px; 
			background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
			background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
			background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
			background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
		}


		hr.half {
			display:inline-block;
			width: 50%;
		}

		hr.quart {
			display:inline-block;
			width: 25%;
		}

		hr.tiny {
			display:inline-block;
			width: 10%;
		}

		hr.centered {
			display:block;
			margin-left: auto;
			margin-left: right;
		}