/* # Input
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	input,
	textarea,
	select {
	  display:inline-block;
	  height: auto;
	  padding: $text-size;
	  margin-top:$text-size;
	  background-color: #fff;
	  border: 1px solid #D1D1D1;
	  border-radius: 4px;
	  box-shadow: none;
	  position:relative;
	  transition:all 200ms ease-in-out;
	}

	label {
		font-weight: 500;
	}

	textarea {
	  width: 350px;
	  min-height: 100px;
	}

	input:focus,
	textarea:focus,
	select:focus {
	  outline: 0;
	}

	input[disabled='disabled'] {
      background-color: color("grey", "lighten-1");	
    }

    input.large, textarea.large, select.large {
    	width: 100%;
    }

