/* # Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	a:not(.button) {
		cursor:pointer;
		text-decoration: none;
		outline: 0;
		&:hover 	{ outline: 0;}
		&:active 	{ outline: 0; }
		&:focus	 	{  outline: 0; }
	}
