/* # List
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	/* ## Nested lists
	–––––––––––––––––––––––––––––––––––––––––––––––––– */


	ul, ol { list-style-type: none; }

	ul.ul 				{ padding-left:20px; list-style-type: circle; }
	ul.ul ul 			{ padding-left:20px; list-style-type: disc; }
	ul.ul ul ul 		{ padding-left:20px; list-style-type: square; }

	ol.ol 				{ padding-left:20px; list-style-type: decimal; }
	ol.ol ol 			{ padding-left:20px; list-style-type: lower-alpha; }
	ol.ol ol ol 		{ padding-left:20px; list-style-type: lower-greek; }
