.icon.-temple:before {
  content: "\e9ad";
}
.icon.-beer:before {
  content: "\e9ab";
}
.icon.-euro:before {
  content: "\e9ac";
}
.icon.-paperplane:before {
  content: "\e900";
}
.icon.-big-user:before {
  content: "\e9ae";
}
.icon.-text-bubble:before {
  content: "\e9af";
}
.icon.-wheelchair:before {
  content: "\e901";
}
.icon.-warning:before {
  content: "\e902";
}
.icon.-volume-medium:before {
  content: "\e903";
}
.icon.-volume-low:before {
  content: "\e904";
}
.icon.-volume-high:before {
  content: "\e905";
}
.icon.-volume:before {
  content: "\e906";
}
.icon.-users:before {
  content: "\e907";
}
.icon.-user:before {
  content: "\e908";
}
.icon.-upload:before {
  content: "\e909";
}
.icon.-unlink:before {
  content: "\e90a";
}
.icon.-undo:before {
  content: "\e90b";
}
.icon.-underline:before {
  content: "\e90c";
}
.icon.-trash:before {
  content: "\e90d";
}
.icon.-train:before {
  content: "\e90e";
}
.icon.-thumbs-up:before {
  content: "\e90f";
}
.icon.-thumbs-down:before {
  content: "\e910";
}
.icon.-text-size:before {
  content: "\e911";
}
.icon.-text-format-remove:before {
  content: "\e912";
}
.icon.-text-format:before {
  content: "\e913";
}
.icon.-text-align-right:before {
  content: "\e914";
}
.icon.-text-align-left:before {
  content: "\e915";
}
.icon.-text-align-justify:before {
  content: "\e916";
}
.icon.-text-align-center:before {
  content: "\e917";
}
.icon.-tag:before {
  content: "\e918";
}
.icon.-tablet:before {
  content: "\e919";
}
.icon.-sync:before {
  content: "\e91a";
}
.icon.-sun:before {
  content: "\e91b";
}
.icon.-strikethrough:before {
  content: "\e91c";
}
.icon.-store:before {
  content: "\e91d";
}
.icon.-star-half:before {
  content: "\e91e";
}
.icon.-star-empty:before {
  content: "\e91f";
}
.icon.-star:before {
  content: "\e920";
}
.icon.-spell-check:before {
  content: "\e921";
}
.icon.-sort-amount-asc:before {
  content: "\e922";
}
.icon.-sort-alpha-asc:before {
  content: "\e923";
}
.icon.-smile:before {
  content: "\e924";
}
.icon.-smartphone:before {
  content: "\e925";
}
.icon.-shirt:before {
  content: "\e926";
}
.icon.-select:before {
  content: "\e927";
}
.icon.-screen:before {
  content: "\e928";
}
.icon.-sad:before {
  content: "\e929";
}
.icon.-rocket:before {
  content: "\e92a";
}
.icon.-redo:before {
  content: "\e92b";
}
.icon.-question-circle:before {
  content: "\e92c";
}
.icon.-pushpin:before {
  content: "\e92d";
}
.icon.-printer:before {
  content: "\e92e";
}
.icon.-power-switch:before {
  content: "\e92f";
}
.icon.-poop:before {
  content: "\e930";
}
.icon.-pointer-up:before {
  content: "\e931";
}
.icon.-pointer-right:before {
  content: "\e932";
}
.icon.-pointer-left:before {
  content: "\e933";
}
.icon.-pointer-down:before {
  content: "\e934";
}
.icon.-plus-circle:before {
  content: "\e935";
}
.icon.-pilcrow:before {
  content: "\e936";
}
.icon.-pie-chart:before {
  content: "\e937";
}
.icon.-picture:before {
  content: "\e938";
}
.icon.-phone-handset:before {
  content: "\e939";
}
.icon.-phone:before {
  content: "\e93a";
}
.icon.-pencil:before {
  content: "\e93b";
}
.icon.-paw:before {
  content: "\e93c";
}
.icon.-paperclip:before {
  content: "\e93d";
}
.icon.-page-break:before {
  content: "\e93e";
}
.icon.-neutral:before {
  content: "\e93f";
}
.icon.-mustache:before {
  content: "\e940";
}
.icon.-music-note:before {
  content: "\e941";
}
.icon.-move:before {
  content: "\e942";
}
.icon.-moon:before {
  content: "\e943";
}
.icon.-mic:before {
  content: "\e944";
}
.icon.-menu-circle:before {
  content: "\e945";
}
.icon.-menu:before {
  content: "\e946";
}
.icon.-map-marker:before {
  content: "\e947";
}
.icon.-map:before {
  content: "\e948";
}
.icon.-magnifier:before {
  content: "\e949";
}
.icon.-magic-wand:before {
  content: "\e94a";
}
.icon.-lock:before {
  content: "\e94b";
}
.icon.-location:before {
  content: "\e94c";
}
.icon.-list:before {
  content: "\e94d";
}
.icon.-link:before {
  content: "\e94e";
}
.icon.-line-spacing:before {
  content: "\e94f";
}
.icon.-linearicons:before {
  content: "\e950";
}
.icon.-lighter:before {
  content: "\e951";
}
.icon.-license:before {
  content: "\e952";
}
.icon.-leaf:before {
  content: "\e953";
}
.icon.-layers:before {
  content: "\e954";
}
.icon.-laptop-phone:before {
  content: "\e955";
}
.icon.-laptop:before {
  content: "\e956";
}
.icon.-keyboard:before {
  content: "\e957";
}
.icon.-italic:before {
  content: "\e958";
}
.icon.-indent-increase:before {
  content: "\e959";
}
.icon.-indent-decrease:before {
  content: "\e95a";
}
.icon.-inbox:before {
  content: "\e95b";
}
.icon.-hourglass:before {
  content: "\e95c";
}
.icon.-home:before {
  content: "\e95d";
}
.icon.-history:before {
  content: "\e95e";
}
.icon.-highlight:before {
  content: "\e95f";
}
.icon.-heart-pulse:before {
  content: "\e960";
}
.icon.-heart:before {
  content: "\e961";
}
.icon.-hand:before {
  content: "\e962";
}
.icon.-graduation-hat:before {
  content: "\e963";
}
.icon.-gift:before {
  content: "\e964";
}
.icon.-funnel:before {
  content: "\e965";
}
.icon.-frame-expand:before {
  content: "\e966";
}
.icon.-frame-contract:before {
  content: "\e967";
}
.icon.-flag:before {
  content: "\e968";
}
.icon.-film-play:before {
  content: "\e969";
}
.icon.-file-empty:before {
  content: "\e96a";
}
.icon.-file-add:before {
  content: "\e96b";
}
.icon.-eye:before {
  content: "\e96c";
}
.icon.-exit-up:before {
  content: "\e96d";
}
.icon.-exit:before {
  content: "\e96e";
}
.icon.-envelope:before {
  content: "\e96f";
}
.icon.-enter-down:before {
  content: "\e970";
}
.icon.-enter:before {
  content: "\e971";
}
.icon.-earth:before {
  content: "\e972";
}
.icon.-drop:before {
  content: "\e973";
}
.icon.-download:before {
  content: "\e974";
}
.icon.-direction-rtl:before {
  content: "\e975";
}
.icon.-direction-ltr:before {
  content: "\e976";
}
.icon.-dinner:before {
  content: "\e977";
}
.icon.-dice:before {
  content: "\e978";
}
.icon.-diamond:before {
  content: "\e979";
}
.icon.-database:before {
  content: "\e97a";
}
.icon.-cross-circle:before {
  content: "\e97b";
}
.icon.-cross:before {
  content: "\e97c";
}
.icon.-crop:before {
  content: "\e97d";
}
.icon.-construction:before {
  content: "\e97e";
}
.icon.-cog:before {
  content: "\e97f";
}
.icon.-coffee-cup:before {
  content: "\e980";
}
.icon.-code:before {
  content: "\e981";
}
.icon.-cloud-upload:before {
  content: "\e982";
}
.icon.-cloud-sync:before {
  content: "\e983";
}
.icon.-cloud-download:before {
  content: "\e984";
}
.icon.-cloud-check:before {
  content: "\e985";
}
.icon.-cloud:before {
  content: "\e986";
}
.icon.-clock:before {
  content: "\e987";
}
.icon.-circle-minus:before {
  content: "\e988";
}
.icon.-chevron-up-circle:before {
  content: "\e989";
}
.icon.-chevron-up:before {
  content: "\e98a";
}
.icon.-chevron-right-circle:before {
  content: "\e98b";
}
.icon.-chevron-right:before {
  content: "\e98c";
}
.icon.-chevron-left-circle:before {
  content: "\e98d";
}
.icon.-chevron-left:before {
  content: "\e98e";
}
.icon.-chevron-down-circle:before {
  content: "\e98f";
}
.icon.-chevron-down:before {
  content: "\e990";
}
.icon.-checkmark-circle:before {
  content: "\e991";
}
.icon.-chart-bars:before {
  content: "\e992";
}
.icon.-cart:before {
  content: "\e993";
}
.icon.-car:before {
  content: "\e994";
}
.icon.-camera-video:before {
  content: "\e995";
}
.icon.-camera:before {
  content: "\e996";
}
.icon.-calendar-full:before {
  content: "\e997";
}
.icon.-bus:before {
  content: "\e998";
}
.icon.-bullhorn:before {
  content: "\e999";
}
.icon.-bug:before {
  content: "\e99a";
}
.icon.-bubble:before {
  content: "\e99b";
}
.icon.-briefcase:before {
  content: "\e99c";
}
.icon.-bookmark:before {
  content: "\e99d";
}
.icon.-book:before {
  content: "\e99e";
}
.icon.-bold:before {
  content: "\e99f";
}
.icon.-bicycle:before {
  content: "\e9a0";
}
.icon.-arrow-up-circle:before {
  content: "\e9a1";
}
.icon.-arrow-up:before {
  content: "\e9a2";
}
.icon.-arrow-right-circle:before {
  content: "\e9a3";
}
.icon.-arrow-right:before {
  content: "\e9a4";
}
.icon.-arrow-left-circle:before {
  content: "\e9a5";
}
.icon.-arrow-left:before {
  content: "\e9a6";
}
.icon.-arrow-down-circle:before {
  content: "\e9a7";
}
.icon.-arrow-down:before {
  content: "\e9a8";
}
.icon.-apartment:before {
  content: "\e9a9";
}
.icon.-alarm:before {
  content: "\e9aa";
}
