
.-temple:before {
  content: "\e9ad";
}
.-beer:before {
  content: "\e9ab";
}
.-euro:before {
  content: "\e9ac";
}
.-paperplane:before {
  content: "\e900";
}
.-big-user:before {
  content: "\e9ae";
}
.-text-bubble:before {
  content: "\e9af";
}
.-wheelchair:before {
  content: "\e901";
}
.-warning:before {
  content: "\e902";
}
.-volume-medium:before {
  content: "\e903";
}
.-volume-low:before {
  content: "\e904";
}
.-volume-high:before {
  content: "\e905";
}
.-volume:before {
  content: "\e906";
}
.-users:before {
  content: "\e907";
}
.-user:before {
  content: "\e908";
}
.-upload:before {
  content: "\e909";
}
.-unlink:before {
  content: "\e90a";
}
.-undo:before {
  content: "\e90b";
}
.-underline:before {
  content: "\e90c";
}
.-trash:before {
  content: "\e90d";
}
.-train:before {
  content: "\e90e";
}
.-thumbs-up:before {
  content: "\e90f";
}
.-thumbs-down:before {
  content: "\e910";
}
.-text-size:before {
  content: "\e911";
}
.-text-format-remove:before {
  content: "\e912";
}
.-text-format:before {
  content: "\e913";
}
.-text-align-right:before {
  content: "\e914";
}
.-text-align-left:before {
  content: "\e915";
}
.-text-align-justify:before {
  content: "\e916";
}
.-text-align-center:before {
  content: "\e917";
}
.-tag:before {
  content: "\e918";
}
.-tablet:before {
  content: "\e919";
}
.-sync:before {
  content: "\e91a";
}
.-sun:before {
  content: "\e91b";
}
.-strikethrough:before {
  content: "\e91c";
}
.-store:before {
  content: "\e91d";
}
.-star-half:before {
  content: "\e91e";
}
.-star-empty:before {
  content: "\e91f";
}
.-star:before {
  content: "\e920";
}
.-spell-check:before {
  content: "\e921";
}
.-sort-amount-asc:before {
  content: "\e922";
}
.-sort-alpha-asc:before {
  content: "\e923";
}
.-smile:before {
  content: "\e924";
}
.-smartphone:before {
  content: "\e925";
}
.-shirt:before {
  content: "\e926";
}
.-select:before {
  content: "\e927";
}
.-screen:before {
  content: "\e928";
}
.-sad:before {
  content: "\e929";
}
.-rocket:before {
  content: "\e92a";
}
.-redo:before {
  content: "\e92b";
}
.-question-circle:before {
  content: "\e92c";
}
.-pushpin:before {
  content: "\e92d";
}
.-printer:before {
  content: "\e92e";
}
.-power-switch:before {
  content: "\e92f";
}
.-poop:before {
  content: "\e930";
}
.-pointer-up:before {
  content: "\e931";
}
.-pointer-right:before {
  content: "\e932";
}
.-pointer-left:before {
  content: "\e933";
}
.-pointer-down:before {
  content: "\e934";
}
.-plus-circle:before {
  content: "\e935";
}
.-pilcrow:before {
  content: "\e936";
}
.-pie-chart:before {
  content: "\e937";
}
.-picture:before {
  content: "\e938";
}
.-phone-handset:before {
  content: "\e939";
}
.-phone:before {
  content: "\e93a";
}
.-pencil:before {
  content: "\e93b";
}
.-paw:before {
  content: "\e93c";
}
.-paperclip:before {
  content: "\e93d";
}
.-page-break:before {
  content: "\e93e";
}
.-neutral:before {
  content: "\e93f";
}
.-mustache:before {
  content: "\e940";
}
.-music-note:before {
  content: "\e941";
}
.-move:before {
  content: "\e942";
}
.-moon:before {
  content: "\e943";
}
.-mic:before {
  content: "\e944";
}
.-menu-circle:before {
  content: "\e945";
}
.-menu:before {
  content: "\e946";
}
.-map-marker:before {
  content: "\e947";
}
.-map:before {
  content: "\e948";
}
.-magnifier:before {
  content: "\e949";
}
.-magic-wand:before {
  content: "\e94a";
}
.-lock:before {
  content: "\e94b";
}
.-location:before {
  content: "\e94c";
}
.-list:before {
  content: "\e94d";
}
.-link:before {
  content: "\e94e";
}
.-line-spacing:before {
  content: "\e94f";
}
.-linearicons:before {
  content: "\e950";
}
.-lighter:before {
  content: "\e951";
}
.-license:before {
  content: "\e952";
}
.-leaf:before {
  content: "\e953";
}
.-layers:before {
  content: "\e954";
}
.-laptop-phone:before {
  content: "\e955";
}
.-laptop:before {
  content: "\e956";
}
.-keyboard:before {
  content: "\e957";
}
.-italic:before {
  content: "\e958";
}
.-indent-increase:before {
  content: "\e959";
}
.-indent-decrease:before {
  content: "\e95a";
}
.-inbox:before {
  content: "\e95b";
}
.-hourglass:before {
  content: "\e95c";
}
.-home:before {
  content: "\e95d";
}
.-history:before {
  content: "\e95e";
}
.-highlight:before {
  content: "\e95f";
}
.-heart-pulse:before {
  content: "\e960";
}
.-heart:before {
  content: "\e961";
}
.-hand:before {
  content: "\e962";
}
.-graduation-hat:before {
  content: "\e963";
}
.-gift:before {
  content: "\e964";
}
.-funnel:before {
  content: "\e965";
}
.-frame-expand:before {
  content: "\e966";
}
.-frame-contract:before {
  content: "\e967";
}
.-flag:before {
  content: "\e968";
}
.-film-play:before {
  content: "\e969";
}
.-file-empty:before {
  content: "\e96a";
}
.-file-add:before {
  content: "\e96b";
}
.-eye:before {
  content: "\e96c";
}
.-exit-up:before {
  content: "\e96d";
}
.-exit:before {
  content: "\e96e";
}
.-envelope:before {
  content: "\e96f";
}
.-enter-down:before {
  content: "\e970";
}
.-enter:before {
  content: "\e971";
}
.-earth:before {
  content: "\e972";
}
.-drop:before {
  content: "\e973";
}
.-download:before {
  content: "\e974";
}
.-direction-rtl:before {
  content: "\e975";
}
.-direction-ltr:before {
  content: "\e976";
}
.-dinner:before {
  content: "\e977";
}
.-dice:before {
  content: "\e978";
}
.-diamond:before {
  content: "\e979";
}
.-database:before {
  content: "\e97a";
}
.-cross-circle:before {
  content: "\e97b";
}
.-cross:before {
  content: "\e97c";
}
.-crop:before {
  content: "\e97d";
}
.-construction:before {
  content: "\e97e";
}
.-cog:before {
  content: "\e97f";
}
.-coffee-cup:before {
  content: "\e980";
}
.-code:before {
  content: "\e981";
}
.-cloud-upload:before {
  content: "\e982";
}
.-cloud-sync:before {
  content: "\e983";
}
.-cloud-download:before {
  content: "\e984";
}
.-cloud-check:before {
  content: "\e985";
}
.-cloud:before {
  content: "\e986";
}
.-clock:before {
  content: "\e987";
}
.-circle-minus:before {
  content: "\e988";
}
.-chevron-up-circle:before {
  content: "\e989";
}
.-chevron-up:before {
  content: "\e98a";
}
.-chevron-right-circle:before {
  content: "\e98b";
}
.-chevron-right:before {
  content: "\e98c";
}
.-chevron-left-circle:before {
  content: "\e98d";
}
.-chevron-left:before {
  content: "\e98e";
}
.-chevron-down-circle:before {
  content: "\e98f";
}
.-chevron-down:before {
  content: "\e990";
}
.-checkmark-circle:before {
  content: "\e991";
}
.-chart-bars:before {
  content: "\e992";
}
.-cart:before {
  content: "\e993";
}
.-car:before {
  content: "\e994";
}
.-camera-video:before {
  content: "\e995";
}
.-camera:before {
  content: "\e996";
}
.-calendar-full:before {
  content: "\e997";
}
.-bus:before {
  content: "\e998";
}
.-bullhorn:before {
  content: "\e999";
}
.-bug:before {
  content: "\e99a";
}
.-bubble:before {
  content: "\e99b";
}
.-briefcase:before {
  content: "\e99c";
}
.-bookmark:before {
  content: "\e99d";
}
.-book:before {
  content: "\e99e";
}
.-bold:before {
  content: "\e99f";
}
.-bicycle:before {
  content: "\e9a0";
}
.-arrow-up-circle:before {
  content: "\e9a1";
}
.-arrow-up:before {
  content: "\e9a2";
}
.-arrow-right-circle:before {
  content: "\e9a3";
}
.-arrow-right:before {
  content: "\e9a4";
}
.-arrow-left-circle:before {
  content: "\e9a5";
}
.-arrow-left:before {
  content: "\e9a6";
}
.-arrow-down-circle:before {
  content: "\e9a7";
}
.-arrow-down:before {
  content: "\e9a8";
}
.-apartment:before {
  content: "\e9a9";
}
.-alarm:before {
  content: "\e9aa";
}
