/*
––––

	title:
		Blockquote

	comment:
		La blockquote est une plante qui se mange froide

	markup:
    <label>Simple</label>
    <blockquote>The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.</blockquote>
    <label>With -pullquote</label>
    <blockquote class="-pullquote">
      <p>The saddest aspect of life right now is that science gathers knowledge faster than society gathers wisdom.</p>
      <footer>Isaac Asimov</footer>
    </blockquote>

  script:

––––
*/

blockquote, .blockquote {
  font-style: italic;
  margin-left: -20px;
  padding-left:20px;
  border-left: 2px solid rgba(0,0,0,0.2);
}

blockquote.-pullquote, .blockquote.-pullquote {
	border-left: none;
	text-indent: -0.32em;
	display: inline-block;
	font-style: italic;
	padding-left: 60px;
	p {
		font-style: inherit;
		margin-bottom:0;
		position:relative;
		color: color("grey", "darken-2");
		&:before {
			content:"“ ";
			position:absolute;
			top:-2rem;
			left:-2.5rem;
			font-size: 5rem;
			color: color("grey", "lighten-2");
		}
	}
	footer {
		padding-left: 15px;
		margin-top:10px;
		color: color("grey", "lighten-1");
		&:before {
			content: '\2014';
			padding: 0 0.5em;
		}
	}
}
