/* # Button

    Markup : *.button
                i.icon.icon-whatever
                span text
–––––––––––––––––––––––––––––––––––––––––––––––––– */

    .button{
        
        font-weight: 800;
        letter-spacing: 0.3;
        display: inline-block;
        padding:10px 30px;
        text-decoration: none;
        cursor:pointer;
        color:rgb(60,60,60);
        background-color:transparent;
        border:1px outset rgba(0,0,0,0.3);             
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        @include border-radius();
        @include transition(all, 200ms, ease-in-out);
        @include unselectable();

        & + .button {
          margin-right: 10px;
        }

        i {
          margin-top: 3px;
        }

        i + span {
            display:inline-block;
            margin-left:10px;
        }

        span + i {
            display:inline-block;
            margin-left:10px;
        }

        &:hover {
          border:1px outset rgba(0,0,0,0.6);
        }

        &:active {
         border:1px outset rgba(0,0,0,1);
        }

        /* Specific buttons
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

            &.small {
              padding:6px 10px;
            }

            &.big {
              padding:15px 35px;
            }

            &.full {
              padding:10px 20px;
              margin:15px 15px 15px 15px;
              width:calc(100% - 30px);
            }

            &.primary {
              background-color:$color-primary;
              color:white;
              cursor:pointer;
              text-shadow: 0px 1px 0px darken($color-primary, 10%);
              border: none;
              border-bottom: 1px solid $color-primary-dark;
              &:hover {
                background-color: lighten($color-primary, 10%);
              }
              &:active {
                background-color: darken($color-primary, 10%);
              }
            }

            &.complement {
              background-color:$color-complement;
              color:white;
              cursor:pointer;
              text-shadow: 0px 1px 0px darken($color-complement, 10%);
              border: none;
              border-bottom: 1px solid $color-complement-dark;
              &:hover {
                background-color: lighten($color-complement, 10%);
              }
              &:active {
                background-color: darken($color-complement, 10%);
              }
            }

            &.danger {
              background-color:$color-danger;
              color:white;
              cursor:pointer;
              border: 1px solid $color-danger-dark;
              &:hover {
                background-color: lighten($color-danger, 10%);
              }
              &:active {
                background-color: darken($color-danger, 10%);
              }
            }

            &.success {
              background-color:$color-success;
              color:white;
              cursor:pointer;
              border: 1px solid $color-success-dark;
              &:hover {
                background-color: lighten($color-success, 10%);
              }
              &:active {
                background-color: darken($color-success, 10%);
              }
            }

            &.info {
              background-color:$color-info;
              color:white;
              cursor:pointer;
              border: 1px solid $color-info-dark;
              &:hover {
                background-color: lighten($color-info, 10%);
              }
              &:active {
                background-color: darken($color-info, 10%);
              }
            }

            &.disabled {
              background-color:$color-grey-20;
              color:white;
              cursor:initial;
              border: 1px solid $color-grey-40;
              &:hover {
                background-color: lighten($color-grey-20, 10%);
              }
            }

            &.spinner {
              position:relative;
              width: 125px;
              .icon-spin {
                position:absolute;
                top:9px;
                right:20px;
                opacity:0;
                @include transition(all, 200ms, ease-in-out);
              }

              span {
                @include transition(margin-left, 200ms, ease-in-out);
              }

              &.on {
                span {
                  margin-left:-30px;
                }
                &.icon-spin {
                  opacity:1;
                }
              }

            }
            &.spinner.on .icon-spin {
              opacity: 1;
            }


    }


