/* # Input
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	input:not([type]),
	textarea,
	select {
	  display:inline-block;
	  height: auto;
	  padding: 15px;
	  margin-top:10px;
	  background-color: #fff;
	  border: 1px solid #D1D1D1;
	  border-radius: 4px;
	  box-shadow: none;
	  box-sizing: border-box;
	  position:relative;
	  @include transition();
	}

	label {
		font-weight: 500;
	}

	textarea {
	  width: 350px;
	  min-height: 100px;
	}

	input:focus,
	textarea:focus,
	select:focus {
	  border: 1px solid $color-complement;
	  outline: 0;
	}

	input[disabled='disabled'] {
      background-color: $color-grey-10;	
    }

    input.full, textarea.full, select.full {
    	width: 100%;
    	margin-bottom:10px;
    }


