/* # Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	$color-primary:					#343743;
	$color-complement:				#FF9153;
	$color-success:					#149A57;
	$color-info:					#303E73;
	$color-danger:					#D23D29;

	$primary: (
	  "base":       $color-primary,
	  "lighten-5":  lighten($color-primary, 50%),
	  "lighten-4":  lighten($color-primary, 40%),
	  "lighten-3":  lighten($color-primary, 30%),
	  "lighten-2":  lighten($color-primary, 20%),
	  "lighten-1":  lighten($color-primary, 10%),
	  "darken-1":   darken($color-primary, 10%),
	  "darken-2":   darken($color-primary, 20%),
	  "darken-3":   darken($color-primary, 30%),
	  "darken-4":   darken($color-primary, 40%),
      "darken-5":   darken($color-primary, 50%)
	);

	$complement: (
	  "base":       $color-complement,
	  "lighten-5":  lighten($color-complement, 50%),
	  "lighten-4":  lighten($color-complement, 40%),
	  "lighten-3":  lighten($color-complement, 30%),
	  "lighten-2":  lighten($color-complement, 20%),
	  "lighten-1":  lighten($color-complement, 10%),
	  "darken-1":   darken($color-complement, 10%),
	  "darken-2":   darken($color-complement, 20%),
	  "darken-3":   darken($color-complement, 30%),
	  "darken-4":   darken($color-complement, 40%),
      "darken-5":   darken($color-complement, 50%)
	);

	$success: (
	  "base":       $color-success,
	  "lighten-5":  lighten($color-success, 50%),
	  "lighten-4":  lighten($color-success, 40%),
	  "lighten-3":  lighten($color-success, 30%),
	  "lighten-2":  lighten($color-success, 20%),
	  "lighten-1":  lighten($color-success, 10%),
	  "darken-1":   darken($color-success, 10%),
	  "darken-2":   darken($color-success, 20%),
	  "darken-3":   darken($color-success, 30%),
	  "darken-4":   darken($color-success, 40%),
      "darken-5":   darken($color-success, 50%)
	);

	$danger: (
	  "base":       $color-danger,
	  "lighten-5":  lighten($color-danger, 50%),
	  "lighten-4":  lighten($color-danger, 40%),
	  "lighten-3":  lighten($color-danger, 30%),
	  "lighten-2":  lighten($color-danger, 20%),
	  "lighten-1":  lighten($color-danger, 10%),
	  "darken-1":   darken($color-danger, 10%),
	  "darken-2":   darken($color-danger, 20%),
	  "darken-3":   darken($color-danger, 30%),
	  "darken-4":   darken($color-danger, 40%),
      "darken-5":   darken($color-danger, 50%)
	);	
	$info: (
	  "base":       $color-info,
	  "lighten-5":  lighten($color-info, 50%),
	  "lighten-4":  lighten($color-info, 40%),
	  "lighten-3":  lighten($color-info, 30%),
	  "lighten-2":  lighten($color-info, 20%),
	  "lighten-1":  lighten($color-info, 10%),
	  "darken-1":   darken($color-info, 10%),
	  "darken-2":   darken($color-info, 20%),
	  "darken-3":   darken($color-info, 30%),
	  "darken-4":   darken($color-info, 40%),
      "darken-5":   darken($color-info, 50%)
	);

	$grey: (
	  "base":       #9e9e9e,
	  "lighten-5":  #fafafa,
	  "lighten-4":  #f5f5f5,
	  "lighten-3":  #eeeeee,
	  "lighten-2":  #e0e0e0,
	  "lighten-1":  #bdbdbd,
	  "darken-1":   #757575,
	  "darken-2":   #616161,
	  "darken-3":   #424242,
	  "darken-4":   #212121
	);

	$colors: (
	  "primary": $primary,
	  "complement": $complement,
	  "success": $success,
	  "danger": $danger,
	  "info": $info,
	  "grey": $grey,
	);


	// Color Classes

	@each $color_name, $color in $colors {
	  @each $color_type, $color_value in $color {
	    @if $color_type == "base" {
	      .#{$color_name} {
	        background-color: $color_value !important;
	      }
	      .#{$color_name}-text {
	        color: $color_value !important;
	      }
	    }
	    @else {
	      .#{$color_name}.#{$color_type} {
	        background-color: $color_value !important;
	      }
	      .#{$color_name}-text.text-#{$color_type} {
	        color: $color_value !important;
	      }
	    }
	  }
	}