// Variales

$color-light: #FFFFFF;
$color-dark: #000000;

@import "const/ratio";
@import "const/easing";
@import "const/normalize";

@import "helper/include-font";


@import "color";
@import "tools/media";
@import "tools/mixin/modular-scale";
@import "base";

@import "tools/grid";
@import "tools/icon";
@import "tools/mixin/center";
@import "tools/mixin/mixin";
@import "tools/mixin/paddings";

@import "tools/filters/core";
@import "tools/animate/core";

@import "atom/button";
@import "atom/input";
@import "atom/list";
@import "atom/blockquote";
@import "atom/link";
@import "atom/code";
@import "atom/hr";
@import "atom/circle-flip";


@import "module/modal";

@import "module/navbar";
@import "module/fixed-background";
@import "module/burger-menu";
@import "module/footer";
@import "module/scroll-progress";
@import "module/article";
@import "module/side-menu";
@import "module/share-menu";
@import "module/video-handler";

@import "helper/media-debug";

@import "template/reader";
@import "template/vitrine";


html, body, #app-container  {
	width:100%;
	height:100%;
}