/*
–––––––––––––––––––––––––––––––––––––––
  ███╗   ███╗  █████╗  ██╗ ███╗   ██╗
  ████╗ ████║ ██╔══██╗ ██║ ████╗  ██║
  ██╔████╔██║ ███████║ ██║ ██╔██╗ ██║
  ██║╚██╔╝██║ ██╔══██║ ██║ ██║╚██╗██║
  ██║ ╚═╝ ██║ ██║  ██║ ██║ ██║ ╚████║
  ╚═╝     ╚═╝ ╚═╝  ╚═╝ ╚═╝ ╚═╝  ╚═══╝
–––––––––––––––––––––––––––––––––––––––
*/

@import "helper/core";

@import "color";
@import "base";

@import "atom/icon";
@import "atom/button";
@import "atom/input";
@import "atom/list";
@import "atom/blockquote";
@import "atom/toggle";
@import "atom/checkbox";
@import "atom/link";
@import "atom/table";
@import "atom/code";
@import "atom/hr";
@import "atom/select";
@import "atom/radio";
@import "atom/label";

@import "atom/extra/loader-line-scale";
@import "atom/extra/loader-circle-scale";
@import "atom/extra/loader-ball-scale";
@import "atom/extra/loader-ball-pulse";
@import "atom/extra/button-grainandmortar";
@import "atom/extra/button-naira";
@import "atom/extra/button-push";
@import "atom/extra/anim-underline";
@import "atom/extra/touch-event";
@import "atom/extra/burger-menu";

@import "molecule/fieldset";
@import "molecule/merge";
@import "molecule/tag";
@import "molecule/list";
@import "molecule/bubble";
@import "molecule/card";
@import "molecule/progress";
@import "molecule/loading";

@import "template/nav";
@import "template/section";
@import "template/footer";
@import "template/color";
@import "template/typo";

// background-image:  url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle opacity="0.5" fill="#555" cx="28.75" cy="22.338" r="0.713"/><circle opacity="0.2" fill="#555" cx="26.75" cy="79.443" r="0.307"/><circle opacity="0.5" fill="#555" cx="50" cy="41.884" r="0.308"/><circle fill="#555" cx="12.883" cy="42.25" r="0.367"/><circle opacity="0.4" fill="#555" cx="80" cy="72.818" r="0.307"/><circle opacity="0.5" fill="#555" cx="55.625" cy="12.375" r="0.308"/><circle opacity="0.2" fill="#555" cx="73.307" cy="89.375" r="0.308"/><circle opacity="0.5" fill="#555" cx="73" cy="53.884" r="0.308"/><circle opacity="0.5" fill="#555" cx="38.875" cy="89.432" r="0.385"/></svg>');
// background-size: 20rem 20rem;
// background-position: center 0;
// animation: bg 6s linear infinite;

html, body {
	width:100%;
	min-height:100%;
}

body.dark {
	background-color: color("grey", "darken-3");
	color:white;
}

.pattern {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAgCAYAAAASYli2AAAAAXNSR0IArs4c6QAAAGBJREFUSA1jZCARnD17djOyFmNjY19kPhMyhxrswW8gIyFvEgozdP2D38tUdyFGGJIaZqNhyMBIaZiNhiED1RP2CDRwNC+jZyTS+RhhiG4EqXl9NB2ihyAmn1CYjsAwBACOcRw6x5qRuQAAAABJRU5ErkJggg==');
	background-repeat: repeat;
	background-size: 5px 8px !important;
}

.texture {
	border-top: 1px solid color("grey", "lighten-3");
	border-bottom: 1px solid color("grey", "lighten-3");
	overflow: hidden;
	position:relative;
	&::after {
		content:"";
		background-image: url("../images/topoPattern.jpg");
		background-size: cover;
		width:100%;
		height:100%;
		position:absolute;
		background-attachment: fixed;
		z-index: -1;
		opacity: 0.04;
		left:0;
		top:0;
	}
}

.dark .texture {
	border-top: 1px solid color("grey", "contrast-lighten-3");
	border-bottom: 1px solid color("grey", "contrast-lighten-3");
}

.toggle-code.-hidden {
	display:none;
}

.content-wrapper {
	margin-left:295px;
	width:calc(100% - 295px);
	position:relative;
	overflow: hidden;
	&>header {
		z-index: 999;
		top:0;
		transition: transform 200ms ease;
		transform:translateY(0px);
		position:relative;
		left:0!important;
		height:174px;
		padding-top:45px;
		&>div {
			padding: $text-size 9rem;
			position: relative;
			&:before {
				position:absolute;
				content:"";
				width: 20px;
				height:20px;
				left: -12px;
				top: calc(50% - 10.5px);
				border: 1px solid color("primary", "base");
				transition: left 200ms ease;
				transform: rotate(45deg);
			}
		}
		h1, h2, h3, h4, h5, h6 {
			margin-bottom:0;
			text-transform: uppercase;
			color: color("primary", "darken-1");
		}
	}
}
