/*
––––––––––––––––––––––––––––––––––––
   ██████╗ ██████╗ ██████╗ ███████╗
  ██╔════╝██╔═══██╗██╔══██╗██╔════╝
  ██║     ██║   ██║██████╔╝█████╗  
  ██║     ██║   ██║██╔══██╗██╔══╝  
  ╚██████╗╚██████╔╝██║  ██║███████╗
   ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
––––––––––––––––––––––––––––––––––––
*/

@import "helper/core";

@import "color";
@import "base";

@import "atom/button";
@import "atom/input";
@import "atom/list";
@import "atom/blockquote";
@import "atom/link";
@import "atom/code";
@import "atom/hr";
@import "atom/tag";
@import "atom/select";

@import "molecule/inclined";
@import "molecule/form";
@import "molecule/card";

@import "component/modal";
@import "component/navbar";
@import "component/fixed-background";
@import "component/burger-menu";
@import "component/scroll-progress";
@import "component/article";
@import "component/side-menu";
@import "component/share-menu";
@import "component/video-handler";
@import "component/preloader";

@import "template/guidelines";
@import "template/nav";
@import "template/timeline";
@import "template/contact";
@import "template/blog";
@import "template/article";
@import "template/project";
@import "template/intro";

#app-container, #app-container>div  {
	width:100%;
	height:100%;
}

//html {background-color:#E2E2E2;}


#preload-1 { background: url(~/images/portfolio/pngs/derock_desktop.png) no-repeat -9999px -9999px; }
#preload-2 { background: url(~/images/portfolio/pngs/derock_phone.png) no-repeat -9999px -9999px; }
#preload-3 { background: url(~/images/portfolio/pngs/ethienne_desktop.png) no-repeat -9999px -9999px; }
#preload-4 { background: url(~/images/portfolio/pngs/ethienne_phone.png) no-repeat -9999px -9999px; }
#preload-5 { background: url(~/images/portfolio/pngs/framework_desktop.png) no-repeat -9999px -9999px; }
#preload-6 { background: url(~/images/portfolio/pngs/jab_desktop.png) no-repeat -9999px -9999px; }
#preload-7 { background: url(~/images/portfolio/pngs/jab_phone.png) no-repeat -9999px -9999px; }
#preload-8 { background: url(~/images/portfolio/pngs/microsite_desktop.png) no-repeat -9999px -9999px; }
#preload-9 { background: url(~/images/portfolio/pngs/microsite_phone.png) no-repeat -9999px -9999px; }
#preload-10 { background: url(~/images/portfolio/pngs/peon_desktop.png) no-repeat -9999px -9999px; }
#preload-11 { background: url(~/images/portfolio/pngs/peon_phone.png) no-repeat -9999px -9999px; }

.underline-by-scale {
  @include underline-by-scale(color("primary", "base"));
}
.underline-by-left {
  @include underline-by-left(color("primary", "base"));
}
.underline-by-right {
  @include underline-by-right(color("primary", "base"));
}
.underline-by-double {
  @include underline-by-double(color("primary", "base"));
}
.underline-fancy {
  @include underline-fancy(color("primary", "base"));
}