article {

	h1,h2,h3,h4,h5,h6 {
		font-weight: 700;
	}
	a {
		color: $color-primary;
		font-weight: 600;
		border-bottom: 1px solid color("grey", "lighten-1");
		&:focus, &:hover {
			text-decoration: none;
			border-bottom: 1px solid color("grey", "darken-2");
		}
	}
	img {
		max-width: 100%;
		margin-top: $text-size * 3;
		margin-bottom:$text-size * 3;
		&.big {
			width: 130%;
			max-width: 130%;
			margin-left:-15%;
		}
		&.left {
			float:left;
			padding:$text-size;
			padding-left:0;
		}
		&.right {
			float:right;
			padding:$text-size;
			padding-right:0;
		}
	}
	p img {
		margin-top: 0;
		margin-bottom:0;
	}
	h1 {
		margin-top: $text-size * 3;
	}
	aside {
		
	}
}