// markup
//
//   div.burger-menu.active
//       div

$duration : 350ms;

.burger-menu {
	position:relative;
	height: 44px;
	width: 44px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 50%;

	div {
		transition: all $duration / 2 ease-in-out;
		position: absolute;
		z-index: 600;
		top: 48%;
		right: 25%;
		margin-left: -10px;
		display: block;
		width: 10px;
		height: 2px;
		background: white;
		&:before, &:after {
			transition: all $duration linear;

			content: '';
			position: absolute;
			right: 0;
			background: white;
			width: 20px;
			height: 2px;
		}
		&:before {
			top:-6px;
		}
		&:after {
			bottom:-6px;
		}
	}
	&:hover div {
		width:20px;
		&:before {
			transform: rotate(0deg);
			top:-6px;
		}
		&:after {
			transform: rotate(0deg);
			bottom:-6px;
		}
	}
	&.active {
		div {
			background: rgba(0,0,0,0)!important;
			&:before {
				top:0;
				transform: rotate(135deg);
			}
			&:after {
				bottom:0;
				transform: rotate(-135deg);
			}
		}
	}
}