$base-index: 1499;

.circle-transition-wrapper {
	overflow:hidden;
	z-index: $base-index;
	// .circle-transition-button {
	// 	i {
	// 		transition: all 200ms ease-in-out;
	// 		border-radius:50%;
	// 		background-color: rgba(0,0,0,0.8);
	// 		padding:15px;
	// 		color:white;
	// 		z-index: $base-index + 1;
	// 	}
	// } 
	.circle-transition-overlay {
		z-index: $base-index - 3;
		position:fixed;
		border-radius:50%;
		width:40px;
		height:40px;
		bottom:40px;
		right:40px;
		background-color: rgba(0,0,0,0.92);
		transition: all 400ms ease-in-out;
		transform:scale(0);
		opacity:0;
	}
	.circle-transition {
		z-index: $base-index - 2;
		position:fixed;
		width:100%;
		height:100%;
		display:flex;
		visibility:hidden;
		opacity:0;
		transition: opacity 200ms ease-in-out;
		transition-delay:0ms;
		div {
			margin: auto;
		}
	}

	&.active {
		visibility: visible;
		// .circle-transition-button { 
		// 	i {
		// 		opacity:0;
		// 		transform:scale(1) rotate(360deg);
		// 	}
		// 	div {
		// 		opacity:0.8;
		// 		&:before {
		// 			transform:rotate(135deg);
		// 		}
		// 		&:after {
		// 			transform:rotate(-135deg);
		// 		}
		// 	}
		// 	&:hover i {
		// 		opacity:0;
		// 	}
		// 	&:hover div {
		// 		opacity:1;
		// 	}
		// }
		.circle-transition {
			opacity:1;
			transition-delay:350ms;
			visibility:visible;
			i {
				padding-left:14px;
				padding-right:14px;
			}
		}
		.circle-transition-overlay {
			opacity:1;
			transform:scale(100);
		}
	}

	.circle-transition {
		display:flex;
	}
}
