body {
	margin: 0;
	overflow-x:hidden;
	overflow-y:scroll;
}

.screen-box {
	width:100%;
	height:100%;
}

.preloader {
	position:fixed;
	top:0;
	left:0;
	z-index: 99999999;
	width:100%;
	height:100%;
	display:flex;
  	background-color: #DADADA;
  	overflow:hidden;
  	&.hidden {
  		visibility:hidden;
  	}
}

.loading-circle {
	margin:auto;
	width:50px;
	height:50px;
	background-size: 100%;
  	background-repeat: no-repeat;
	background-color: white;
  	border-radius: 50%;
  	&.active {
  	}
}


