.scroll-progress {
	position:fixed;
	z-index: 99999;
	width:100%;
	height:2px;
	top:0;
	left:0;
	.scroll-progress-bar {
		content:"";
		width:1px;
		height:2px;
		background-color: color("primary", "base");
		opacity:0.5;
	}
}