$base-index: 498;

.side-menu-wrapper.displayed + .page {
	color:blue;
} 


.side-menu-wrapper {
	z-index: $base-index;

	.burger-menu {
		position: fixed;
		z-index: $base-index - 1;
		top: 30px;
		right: 40px;
		width: 44px;
		transition: all 350ms ease-in-out;
		&.active {
			right: 340px;
		}
	}

	.overlay {
		width:100%;
		height:100%;
		position:fixed;
		background-color: rgba(0,0,0,0.3);
		opacity:0;
		transition: all 350ms ease-in;
		z-index: $base-index - 2;
		visibility: hidden;
		&.displayed{
			visibility: visible;
			opacity:1!important;
		}
	}

}


.side-menu-wrapper {
	nav {
		z-index: $base-index + 3;
		position:fixed;
		top:0;
		height:100%;
		right:0;
		width:300px;
		overflow:hidden;
		overflow-y:scroll;
		background-color:rgb(20,20,20);
		padding:20px;
		box-sizing:border-box;
		transition: all 350ms ease-in-out;
		transform: translateX(300px);
		&.active {
			transform: translateX(0px);
		}
		// content
		h3 {
			font-size: 3.6rem;
			margin-top:14px;
			margin-bottom:30px;
			text-align: center;
		}
		h1,h2,h3,h4,h5,h6 {
			color:white;
		}
		// content

		.item {
			position:relative;
			margin-bottom: $text-size * 2;
			display:inline-block;
			box-sizing: border-box;
			width: 100%;
			height:140px;
			margin-bottom: $text-size;
			margin-top: 0em;
			overflow: hidden;
			z-index: $base-index + 10;
			img {
				width:100%;
				height:140px;
				padding:0;
				margin:0;
				transition: all 200ms ease-in-out;
				filter: brightness(0.2);
				-webkit-filter: brightness(0.2);
				//z-index: $base-index + 10;
			}
			.box {
				margin: auto;
				position:absolute;
				top:0;
				display:flex;
				height:140px;
				width:100%;
				padding-left:10%;
				padding-right:10%;
				text-align: center;
				//z-index: $base-index + 11;
				h4 {
					text-align: left;
					margin: auto;
					font-weight: bold;
				}
				h6 {
					text-align: right;
					margin: auto;
					opacity:0;
					transition: all 200ms ease-in-out;
				}
			}
			&:hover {
				img {
					filter: brightness(0.1);
					-webkit-filter: brightness(0.1);	
				}
				.box h6 {
					opacity:1;
				}
			}

		}

		ul li {
			transition: all 350ms ease-in-out;
			transform: translateX(300px);
			transition-delay: 0s;
		}
		&.active {
			ul li {
					transform: translateX(0px);
					@for $i from 1 through 15 {
						&.delay-#{$i} {
							transition-delay: ($i / 14)+s;
						}
					}
				}
			}
		}
}
