.waypoint {
	transition:all 350ms ease;
	opacity:0;

	&.left {
		transform: translateX($text-size * 2);
	}
	&.right {
		transform: translateX(- $text-size * 2);
	}
	&.top {
		transform: translateY($text-size * 2);
	}
	&.bottom {
		transform: translateY(- $text-size * 2);
	}

	&.active {
		opacity:1;
		transform: translateX(0), translateY(0);
	}
}