
#form, #addJobFormWrapper {
  width: 100%;
  min-height:100%;
  padding-top: 110px;
  margin-bottom: $text-size * 4;
  .two-cols {
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    .wrapper {
      width: auto;
      &>label {
        margin-bottom: $text-size;
        margin-left: 1rem;
      }
      &.card, .card {
        background-color: white;
      }
      &:first-child {
        width: 100%;
        .tags {
          position: relative;
        }
      }
      &:last-child {
        margin-top: $text-size * 2;
        width:100%;
      }
    }
  }
}

@include break-point("desktop") {
  #form {
    margin-bottom: $text-size * 2;
    .two-cols {
      flex-direction: row;
      .wrapper {
        &:first-child {
          width: 70%;
          margin-right: 10px;
        }
        &:last-child {
          width:30%;
          margin-top: 0;
          margin-left: 10px;
        }
      }
    }
  }
}

#job-list {
  position: relative;
  .new {
    background-color: transparent!important;
    box-shadow: none;
    border: none;
    .item {
      border: 1px dashed color("grey", "lighten-1");
      background-color: transparent!important;
      cursor:pointer;
      transition: all 200ms ease;
      &:hover {
        border: 1px dashed color("primary", "lighten-5");
      }
    }
  }
  .list .item {
    padding: 1rem 1.5rem;
    display:block;
    span {
      display:inline-block;
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 25px;
      transition: width 200ms ease("swift-in");
    }
    i {
      float:right;
      cursor: pointer;
      opacity: 0;
      line-height: 1.6;
      transition: all 250ms ease("swift-in");
      transform: scale(0.5);
      &:not(:first-of-type) {
        margin-right: 10px;
        //transition: all 250ms 50ms ease("swift-in");
      }
    }
    &:hover  {
      span {
        width: 70%;
      }
      i {
        opacity: 1;
        transform: scale(1);
      }
    }
    &.-active {
      span {
        width: 90%;
        font-weight: 600;
      }
    }
  }
  .button {
    margin-top: 10px;
    margin-bottom: 0;
  }
  label button {
    position: absolute;
    right:0;
    padding:3px!important;
    margin:0!important;
    width: 30px;

    height: 30px;
    i {
      margin: 0;
    }
  }
}




#job-form {
  overflow: visible;
  .content {
    padding: $text-size * 2 $text-size * 2 $text-size * 3 $text-size * 2;
    label {
      margin-bottom: 1.5rem;
      span:not(:first-child):last-of-type {
        color: color("grey", "lighten-2");
        transform: translateY(-1px);
        display: inline-block;
        margin-left: 10px;
        float:right;
      }
    }
    .button {
      margin: 0;
      position: absolute;
      bottom: -19px;
    }
  }
}
