#job.modal {
  h1,h2,h3 {
    text-align: left;
  }
  &>.content {
    width:90%;
    margin-top:100px;
    padding-bottom:$text-size * 2;
    .card {
      transform: translateY(100%);
      padding-left: $text-size * 2;
      padding-right: $text-size * 2;
      overflow: visible;
      .header {
        margin-top:$text-size*2;
        background: transparent;
      }
      .title {
        margin-bottom: 0;
        line-height: 1.1;
      }
      .subtitle {
        color: color("grey", "lighten-2");
        text-transform: uppercase;
        font-family: $text-font;
        margin-top:-5px;
        margin-bottom: 20px;
        a {
          margin-left:$text-size / 2;
          color: color("primary", "lighten-1");
        }
      }
      .evaluate {
        transition: all 250ms ease("swift-out");
        margin: 0 auto;
        text-align: center;
        display: inline-block;
        width: 100%;
        h3 {
          text-align: center;
        }
        .rating {
          transition: all 200ms ease("swift-in");
          width: 80px;
          height: 80px;
          border-radius: 100%;
          display: inline-block;
          padding:10px;
          margin-left:$text-size;
          margin-bottom:$text-size * 2;
          .level {
              margin-left: 5px;
              margin-top: 16px;
              transform: scale(1.5);
          }
          &:first-of-type {
            background-color: color("danger", "lighten-4");
          }
          &:last-child {
            background-color: color("success", "lighten-5");
          }
        }
      }
      .required {
        span {
          margin-left: $text-size * 2;
          color:color("grey", "lighten-2");
          font-weight: 400;
          font-family: $text-font;
          font-size: 80%;
        }
      }
      .two-cols {
        .wrapper:first-child {
          padding-right: 0;
        }
        .wrapper:last-child {
          margin-top: $text-size;
          padding-left: 0;
        }
      }
    }
  }
  &.-opening .content {
    overflow: hidden;
  }
  &.-open .content .card {
    transform: translateY(0%);
    transition: all 250ms ease("swift-in");
  }
}


@include break-point("desktop") {
  #job.modal {
    &>.content {
      width:60%;
      .card .two-cols {
        .wrapper:first-child {
          padding-right: $text-size * 2;
        }
        .wrapper:last-child {
          margin-top: 0;
          padding-left: $text-size * 2;
        }
      }
    }
  }
}
