
.conseil-emploi .background {
  height:calc(80% + 83px);
  min-height: calc(80% + 83px);
  overflow: visible;
  .gradient {
        background-image: linear-gradient(-135deg, rgba(209, 38, 49, 0.9), rgba(22, 0, 102, 0.9)) !important;
  }
  .image {
    filter: saturate(0);
  }
  .shape {
    width:100%;
    min-height:83px;
    background-color: transparent;
    position:relative;
    margin: 0;
    margin-bottom: 0;
    position: absolute;
    bottom:0;
    &:after {
      content: "";
      width:100%;
      min-height:83px;
      position:absolute;
      background-repeat: no-repeat;
      bottom:0px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="83" viewBox="0 0 2880 83.000002" width="2880" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/"><g transform="translate(0,-969.36)"><path d="m-0.8933 1004.1v49.132h2885v-49.132h-1400.1l-46.452 46.452-46.452-46.452z" fill-rule="evenodd" fill="#{color("grey","lighten-5")}"/></g></svg>');
      background-position: center;
    }
  }
  .content {
    margin: auto;
  }
}


// CALL 2 ACTION

.select-your-job {
  position: relative;
  .title {
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color:white;
  }
  .desc {
    text-align: center;
    color:white;
  }
  .button {
    height:50px;
    z-index: 99999999999999;
    &.loading {
      opacity: 1;
    }
  }
  .merge {
    z-index: 9999999999999;
  }
  .dropdown {
    width: 100%;
    margin: 0 auto;
  }
  #job-input {
    margin-top:$text-size;
    height:50px;
    border-right:0px;
    background-color: white;
    &::-webkit-input-placeholder {
  		color: color("grey", "base");
  		transition: color 200ms ease;
  	}
    &:active, &:focus {
      color:grey;
    }
  }
  .results {
    z-index: 99991;
  }
}


@include break-point("desktop") {
  .select-your-job {
    .dropdown {
      width: 60%;
      margin: 0 auto;
    }
  }
}


// HOW

.conseil-emploi #how {
  padding-top: $text-size * 2;
  padding-bottom: $text-size * 2;
  text-align: center;
  .arguments {
    display: flex;
    flex-direction: column;
    margin: $text-size * 3 auto $text-size * 2;
    .argument {
      flex:1;
      padding: 0 20px;
      &:not(:first-child) {
        padding-top:$text-size * 2;
      }
      img {
        margin: 0 auto;
        display: block;
        text-align: center;
        height: 10rem;
        margin-bottom: $text-size * 3;
      }
      p {
        margin:0;
      }
    }
  }
}

@include break-point("desktop") {
  .conseil-emploi #how {
    .arguments {
      flex-direction: row;
      .argument:not(:first-child) {
        padding-top:0;
      }
    }
  }
}




// WHO

$whoMaskColor: white;

.conseil-emploi #who {
  padding-top: $text-size;
  padding-bottom: $text-size * 3;
  width: 100%;
  //background-color: color("grey", "lighten-5");
  position: relative;
  &>div {
    width:960px;
    margin: 0 auto;
    text-align: center;
  }
  .members {
    display:flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    padding-bottom: $text-size * 2;
  }
  .member {
    flex:1;
    text-align: center;
    img {
      border-radius: 100%;
      width:100px;
      height:100px;
      margin: 0 auto;
      display: block;
      filter: grayscale(1);
    }
    .title {
      font-weight: 600;
      margin-bottom: 0;
    }
    .desc {
      color: color("grey", "darken-1");
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  p:not(.lead) {
    margin: 0;
  }
}
