.login {
  //text-align: center;
  .content {
    max-width: 400px;
    .checkbox {
      margin-top: 0.3rem;
      margin-bottom:$text-size;
    }
  }
  &.-subscribe .content {
    max-width: 700px;
  }
  footer {
    //text-align: center;
    position: absolute;
    bottom: -45px;
    width: calc(100% - $text-size * 2);
    a {
      color: white;
    }
  }
  .facebook {
    margin-bottom:0;
    background-color: $facebook-color;
  }
  .wrapper {
    width: 100%;
  }
  .why {
    display: none;
    margin-left:$text-size * 2;
    border-left: 1px solid color("grey", "lighten-3");
    border-radius:0;
    img {
      margin: 0 auto;
      min-width: 125px;
      margin-bottom:$text-size;
    }
    text-align: center;
  }
}

@include break-point("desktop") {
  .login {
    .wrapper {
      width: 50%;
    }
  }
  .login .why {
    display: block;
  }
}
