

.conseil-emploi {
  background-color: color("grey", "lighten-5");
  h1, h2, h3 {
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-style: italic;
    color: color("primary", "darken-1");
  }
  .main-wrapper {
    max-width: 80%;
    width: 80%;
    margin: 0 auto;
  }
}

@include break-point("desktop") {
  .conseil-emploi .main-wrapper {
    max-width: 960px;
    width: 960px;
    margin: 0 auto;
  }
}

.conseil-emploi .modal .card>div {
  padding: 20px;
}

.conseil-emploi .modal .overlay:after {
  background-color: rgba(0,0,0,0.9);
}


@import "./form";
@import "./nav";
@import "./footer";
@import "./landing";
@import "./loader";
@import "./job";
@import "./jobs";
@import "./job-item";
@import "./login";
@import "./sub-nav";
@import "./account";
@import "./riasec";
