

.conseil-emploi .nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
  padding: $text-size;
  //background-color: color("primary", "base");
  &:not(.dark) {
    background-image: linear-gradient(-135deg, rgba(99, 22, 27, 0.9), rgba(22, 0, 102, 0.9)) !important;
  }
  a.logo {
    font-family: "Roboto Condensed";
    font-style: italic;
    text-transform: uppercase;
    font-weight: 600;
    float:left;
    font-size:1.8rem;
    line-height: 1.7;
    color:white;
    transform: translateY(1px);
  }
  ul {
    margin:0;
    float:right;
    display: none;
    li {
      display: inline-block;
      margin:0;
      margin-right:$text-size;
      vertical-align: middle;
      a {
        color:white;
        font-weight: 400;
      }
      a:not(.button) {
        text-transform: uppercase;
        font-size:1.3rem;
        transform: translateY(1px);
      }
      &:last-child {
        margin-right:0px;
      }
    }
  }
  .button {
    padding: 3px 11px;
    height:31px;
    min-height: 31px;
  }
  &:after {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0) 100%);
    content: '';
    height: 5px;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    z-index: 2;
    opacity: .6;
  }
  .button {
    float:right;
    margin-bottom:0;
    &:first-of-type {
      margin-right:0;
    }
  }
  &.dark {
    background-color: rgba(0,0,0,0.1);
    &:after {
      display: none;
    }
    a:not(.button) {
      color:white;
    }
    a.logo {
      color:white;
    }
  }
}



@include break-point("desktop") {
  .conseil-emploi .nav ul {
    display: block;
  }
}
