@keyframes appear {
  0% {
    transform: translateY(-20px);
		opacity:0;
  }
  100% {
    transform: translateY(0px);
		opacity:1;
  }
}

.riasec {
  height: calc(100% - 60px);
  margin-top:60px;
  width: 100%;
  .progress {
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: color("grey", "lighten-3");
  }
  .step, .info {
    position: absolute;
    top:10px;
    right:20px;
    h1,h2,h3,h4,h5,h6 {
      font-family: $text-font;
      color: color("grey", "lighten-1");
      margin-bottom: 5px;
    }
  }
  .info {
    left: 20px;
  }
  .center-wrapper {
    animation: appear 350ms ease("swift-in");
  }
  .button-box {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
