<html>
  <head>
    <title>RocketCSS</title>
    <meta name="author" content="keywords, comma, separated"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="css/app.css?v=<%= buildTime %>">
    <link rel="icon" href="images/favicon.ico">
  </head>
  <body class="conseil-emploi">
    <nav class="nav">
      <div class="container main-wrapper">
        <a class="logo" href="#">Conseil emploi</a>
        <ul>
          <li><a href="#how">Comment ça marche ?</a></li>
          <!--<li><a href="#who">Qui sommes nous ?</a></li>-->
          <li><a class="button -complement open-modal" href="#">Se connecter</a></li>
          <li><a class="button -complement open-modal" href="#">S'inscrire</a></li>
        </ul>
      </div>
    </nav>
    <section id="info" class="message sub-nav -line-primary">
      <div class="content main-wrapper">
        <h6>Résultats pour</h6>
        <div class="tag-container">
          <div class="tag -line-primary"><span>Infographiste</span></div>
          <div class="tag -line-primary"><span>Montage de structure et charpentes en bois</span></div>
        </div>
        <button class="button -small -primary"> <span>Modifier ma recherche</span></button>
      </div>
    </section>

      <section id="jobs" class="main-wrapper">
        <label><i class="icon -heart"></i>Nos coups de coeur</label>
        <div class="two-cols">
          <div class="wrapper">
            <a href="#" class="job-item card open-modal">
              <header class="header">
                <div class="match">
                  <span class="desc">Compatiblité</span>
                  <span class="data">34<span>%</span></span>
                </div>
                <div class="info">
                  <span class="employability">
                    Employabilité <span class="text-success">Bonne</span>
                  </span>
                  <span class="competencies">
                     Compétences en commun<span class="text-success">4 sur 12</span>
                  </span>
                </div>
              </header>
              <div class="content">
                <h6 class="title">Réalisation d'objets décoratifs et utilitaires en céramique et matériaux de synthèse</h6>
                <p class="desc fade">Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, composée d'éléments préfabriqués et le plus souvent pré-assemblés, selon les règles de sécurité.</p>
                <div class="tag-box">
                  <label>Compétences en commun</label>
                  <div class="tag -line-primary"><span>Elements de base en hydraulique</span></div>
                  <div class="tag -line-primary"><span>Lecture de plan</span></div>
                  <div class="tag -line-primary"><span>Calcul de tir de fragmentation</span></div>
                  <div class="tag -line-primary"><span>Types d'explosifs</span></div>
                  <div class="more">et 8 autres à découvrir...</div>
                </div>
              </div>
              <footer class="footer touch">
                <p>En savoir plus</p>
              </footer>
            </a>
          </div>
          <div class="wrapper">
            <a href="#" class="job-item card open-modal">
              <header class="header">
                <div class="match">
                  <span class="desc">Compatiblité</span>
                  <span class="data">34<span>%</span></span>
                </div>
                <div class="info">
                  <span class="employability">
                    Employabilité <span class="text-success">Bonne</span>
                  </span>
                  <span class="competencies">
                     Compétences en commun<span class="text-success">4 sur 12</span>
                  </span>
                </div>
              </header>
              <div class="content">
                <h6 class="title">Réalisation d'objets décoratifs et utilitaires en céramique et matériaux de synthèse</h6>
                <p class="desc">Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, composée d'éléments préfabriqués et le plus souvent pré-assemblés, selon les règles de sécurité.</p>
                <div class="tag-box">
                  <label>Compétences en commun</label>
                  <div class="tag -line-primary"><span>Elements de base en hydraulique</span></div>
                  <div class="tag -line-primary"><span>Lecture de plan</span></div>
                  <div class="tag -line-primary"><span>Calcul de tir de fragmentation</span></div>
                  <div class="tag -line-primary"><span>Types d'explosifs</span></div>
                  <div class="more">et 8 autres à découvrir...</div>
                </div>
              </div>
              <footer class="footer touch">
                <p>En savoir plus</p>
              </footer>
            </a>
          </div>
        </div>
        <hr/>
        <label><i class="icon -list"></i>Plus de résultats</label>
        <div class="two-cols">
          <div class="wrapper">
            <a href="#" class="job-item card open-modal">
              <header class="header">
                <div class="match">
                  <span class="desc">Compatiblité</span>
                  <span class="data">34<span>%</span></span>
                </div>
                <div class="info">
                  <span class="employability">
                    Employabilité <span class="text-success">Bonne</span>
                  </span>
                  <span class="competencies">
                     Compétences en commun<span class="text-success">4 sur 12</span>
                  </span>
                </div>
              </header>
              <div class="content">
                <h6 class="title">Réalisation d'objets décoratifs et utilitaires en céramique et matériaux de synthèse</h6>
                <p class="desc">Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, composée d'éléments préfabriqués et le plus souvent pré-assemblés, selon les règles de sécurité.</p>
                <div class="tag-box">
                  <label>Compétences en commun</label>
                  <div class="tag -line-primary"><span>Elements de base en hydraulique</span></div>
                  <div class="tag -line-primary"><span>Lecture de plan</span></div>
                  <div class="tag -line-primary"><span>Calcul de tir de fragmentation</span></div>
                  <div class="tag -line-primary"><span>Types d'explosifs</span></div>
                  <div class="more">et 8 autres à découvrir...</div>
                </div>
              </div>
              <footer class="footer touch">
                <p>En savoir plus</p>
              </footer>
            </a>
          </div>
          <div class="wrapper">
            <a href="#" class="job-item card open-modal">
              <header class="header">
                <div class="match">
                  <span class="desc">Compatiblité</span>
                  <span class="data">34<span>%</span></span>
                </div>
                <div class="info">
                  <span class="employability">
                    Employabilité <span class="text-success">Bonne</span>
                  </span>
                  <span class="competencies">
                     Compétences en commun<span class="text-success">4 sur 12</span>
                  </span>
                </div>
              </header>
              <div class="content">
                <h6 class="title">Réalisation d'objets décoratifs et utilitaires en céramique et matériaux de synthèse</h6>
                <p class="desc">Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, composée d'éléments préfabriqués et le plus souvent pré-assemblés, selon les règles de sécurité.</p>
                <div class="tag-box">
                  <label>Compétences en commun</label>
                  <div class="tag -line-primary"><span>Elements de base en hydraulique</span></div>
                  <div class="tag -line-primary"><span>Lecture de plan</span></div>
                  <div class="tag -line-primary"><span>Calcul de tir de fragmentation</span></div>
                  <div class="tag -line-primary"><span>Types d'explosifs</span></div>
                  <div class="more">et 8 autres à découvrir...</div>
                </div>
              </div>
              <footer class="footer touch">
                <p>En savoir plus</p>
              </footer>
            </a>
          </div>
          <div class="wrapper">
            <a href="#" class="job-item card open-modal">
              <header class="header">
                <div class="match">
                  <span class="desc">Compatiblité</span>
                  <span class="data">34<span>%</span></span>
                </div>
                <div class="info">
                  <span class="employability">
                    Employabilité<span class="text-success">Bonne</span>
                  </span>
                  <span class="competencies">
                     Compétences en commun<span class="text-success">4 sur 12</span>
                  </span>
                </div>
              </header>
              <div class="content">
                <h6 class="title">Réalisation d'objets décoratifs et utilitaires en céramique et matériaux de synthèse</h6>
                <p class="desc">Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, composée d'éléments préfabriqués et le plus souvent pré-assemblés, selon les règles de sécurité.</p>
                <div class="tag-box">
                  <label>Compétences en commun</label>
                  <div class="tag -line-primary"><span>Elements de base en hydraulique</span></div>
                  <div class="tag -line-primary"><span>Lecture de plan</span></div>
                  <div class="tag -line-primary"><span>Calcul de tir de fragmentation</span></div>
                  <div class="tag -line-primary"><span>Types d'explosifs</span></div>
                  <div class="more">et 8 autres à découvrir...</div>
                </div>
              </div>
              <footer class="footer touch">
                <p>En savoir plus</p>
              </footer>
            </a>
          </div>
          <div class="wrapper">
            <a href="#" class="job-item card open-modal">
              <header class="header">
                <div class="match">
                  <span class="desc">Compatiblité</span>
                  <span class="data">34<span>%</span></span>
                </div>
                <div class="info">
                  <span class="employability">
                    Employabilité <span class="text-success">Bonne</span>
                  </span>
                  <span class="competencies">
                     Compétences en commun<span class="text-success">4 sur 12</span>
                  </span>
                </div>
              </header>
              <div class="content">
                <h6 class="title">Réalisation d'objets décoratifs et utilitaires en céramique et matériaux de synthèse</h6>
                <p class="desc">Monte une structure Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, Monte une structure (charpente et ossature d'ouvrage), en bois ou en matériaux composites, (charpente et ossature d'ouvrage), en bois ou en matériaux composites, composée d'éléments préfabriqués et le plus souvent pré-assemblés, selon les règles de sécurité.</p>
                <div class="tag-box">
                  <label>Compétences en commun</label>
                  <div class="tag -line-primary"><span>Elements de base en hydraulique</span></div>
                  <div class="tag -line-primary"><span>Lecture de plan</span></div>
                  <div class="tag -line-primary"><span>Calcul de tir de fragmentation</span></div>
                  <div class="tag -line-primary"><span>Types d'explosifs</span></div>
                  <div class="more">et 8 autres à découvrir...</div>
                </div>
              </div>
              <footer class="footer touch">
                <p>En savoir plus</p>
              </footer>
            </a>
          </div>
        </div>
        <button class="button -primary -big"><i class="icon -redo2"></i><span>Faire une nouvelle recherche</span></button>
      </section>
      <div id="job" class="modal">
        <div class="overlay close-modal"></div>
        <div class="content">
          <div class="card content-wrapper job-item">
            <div class="close-button close-modal">
              <i class="icon -cross"></i>
            </div>
            <header class="header">
              <div class="match">
                <span class="desc">Compatiblité</span>
                <span class="data">34<span>%</span></span>
              </div>
              <div class="info">
                <span class="employability">
                  Employabilité dans votre département <span class="text-success">Bonne</span>
                </span>
                <span class="competencies">
                   Compétences en commun<span class="text-success">4 sur 12</span>
                </span>
              </div>
              <!-- <div class="evaluate">
                <label>Vous avez aimé?</label>
                <div class="rating -thumb-down -activable">
                  <div class="level"></div>
                </div>
                <div class="rating -thumb-up -activable">
                  <div class="level"></div>
                </div>
              </div> -->
            </header>
            <div class="content">
              <h3 class="title">Installation et maintenance électronique</h3>
              <h6 class="subtitle">Référence pôle emploi <a target="_blank" href="http://candidat.pole-emploi.fr/marche-du-travail/fichemetierrome?codeRome=I1305">I1305</a></h6>
              <p class="desc lead">Procède à l'installation et à la maintenance corrective et préventive d'appareils, d'équipements, d'installations ou de systèmes à forte composante électronique, selon les règles de sécurité.Peut assurer une assistance téléphonique (hot line, ...) aux utilisateurs.Peut coordonner une équipe.</p>
              <hr class="-gradient"/>
              <h5 class="required"><i class="icon -color-sampler"></i>Compétences nécéssaires <span>5 en commun</span></h5>
              <div class="tag-box">
                <div class="tag -line-primary"><span>Elements de base en hydraulique</span></div>
                <div class="tag"><span>Réglementation en pyrotechnie</span></div>
                <div class="tag -line-primary"><span>Calcul de tir de fragmentation</span></div>
                <div class="tag"><span>Règles et consignes de sécurité</span></div>
                <div class="tag -line-primary"><span>Elements de base en mécanique générale</span></div>
                <div class="tag"><span>Lecture de plan</span></div>
                <div class="tag"><span>Types d'explosifs</span></div>
                <div class="tag -line-primary"><span>Nature des gisements</span></div>
                <div class="tag"><span>Débitage</span></div>
                <div class="tag"><span>Marinage</span></div>
              </div>
              <hr class="-gradient"/>
              <div class="two-cols">
                <div class="wrapper">
                  <h6><i class="icon -graduation-hat"></i>Conditions d'accès au métier</h6>
                  <p class="justify">Cet emploi/métier est accessible avec un diplôme de niveau Bac+2 (BTS/DUT) en électronique, électrotechnique, informatique, automatisme, ...Il est également accessible avec un Bac professionnel dans les mêmes secteurs, complété par une expérience professionnelle.Une habilitation aux risques d'origine électrique est requise.La pratique de l'anglais (vocabulaire technique) peut être demandée.</p>
                </div>
                <div class="wrapper">
                  <h6><i class="icon -list4"></i>Conditions de travail</h6>
                  <p class="justify">L'activité de cet emploi/métier s'exerce au sein d'entreprises industrielles, d'entreprises de maintenance spécialisées, de sociétés de services, des armées, en contact avec différents intervenants (production, méthodes, études, clients, fournisseurs, ...). Elle peut impliquer des déplacements.Elle peut s'exercer les fins de semaine, de nuit et être soumise à des astreintes.Elle peut s'effectuer en zone à atmosphère contrôlée.Le port d'équipements de protection (gants, ...) peut être exigé.</p>
                </div>
              </div>
              <hr class="-gradient"/>
              <div class="evaluate">
                <h3>Ce métier vous à plu?</h3>
                <div class="rating -thumb-down -activable">
                  <div class="level -active "></div>
                </div>
                <div class="rating -thumb-up -activable">
                  <div class="level -active "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/polyfills.js?v=<%= buildTime %>"></script>
    <script src="js/vendors.js?v=<%= buildTime %>"></script>
    <script src="js/app.js?v=<%= buildTime %>"></script>
  </body>
</html>
