<html>
  <head>
    <title>RocketCSS</title>
    <meta name="author" content="keywords, comma, separated"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="css/app.css?v=<%= buildTime %>">
    <link rel="icon" href="images/favicon.ico">
  </head>
  <body>
    <div id="code">
      <div id="typo" class="doc--typo">
        <section class="section">
          <h5 class="uppercase">Typography</h5>
          <hr/>
          <div class="two-cols-verticaly-aligned">
            <div class="wrapper">
              <h2>Hierarchy</h2>
              <h4>Perfect Fourth</h4>
              <p>The typography system is designed to create a strong hierarchy with basic styles. Based on modular scale. Regular paragraphs are set at a 14px base with 21px line height. It brings you <a href="#">special links</a>, <i>emphasis</i>, <b>importants</b>, and <u>special underline</u>.</p>
            </div>
            <div class="wrapper show-grey-baseline">
              <div class="doc--typo-heading">
                <h1 class="heading">
                  Heading
                  <code>h1</code>
                </h1><span></span>
              </div>
              <div class="doc--typo-heading">
                <h2 class="heading">
                  Heading
                  <code>h2</code>
                </h2><span></span>
              </div>
              <div class="doc--typo-heading">
                <h3 class="heading">
                  Heading
                  <code>h3</code>
                </h3><span></span>
              </div>
              <div class="doc--typo-heading">
                <h4 class="heading">
                  Heading
                  <code>h4</code>
                </h4><span></span>
              </div>
              <div class="doc--typo-heading">
                <h5 class="heading">
                  Heading
                  <code>h5</code>
                </h5><span></span>
              </div>
              <div class="doc--typo-heading">
                <h6 class="heading">
                  Heading
                  <code>h6</code>
                </h6><span></span>
              </div>
            </div>
          </div>
        </section>
        <section class="section doc--typo-info">
          <h5 class="uppercase">Primary Typeface</h5>
          <hr/>
          <div class="two-cols-verticaly-aligned">
            <div class="wrapper">
              <h5>Concerns</h5>
              <h2>TypoName</h2>
              <p>Sed ut pqerspiciatis unde omnis iste natus error sit voluptatemaccusantium doloremque laudantium, totam rem aperiam, eaque ipsaquae ab illo inventore explicabo.</p>
            </div>
            <div class="wrapper">
              <div class="bloc">
                <div class="header">
                  <h4 class="bold">Abc123</h4><span class="small">bold</span>
                </div>
                <p class="small bold show-grey-baseline">A B C D E F G H I J K L M N O P Q R S T U V X Y Z <br/>a b c d e f g h i j k l m n o p q r s t u v x y z <br/>1 2 3 4 5 6 7 8 9 0 - = _ + < > ? / . , : "</p>
              </div>
              <div class="bloc">
                <div class="header">
                  <h4>Abc123</h4><span class="small">regular</span>
                </div>
                <p class="small show-grey-baseline">A B C D E F G H I J K L M N O P Q R S T U V X Y Z <br/>a b c d e f g h i j k l m n o p q r s t u v x y z <br/>1 2 3 4 5 6 7 8 9 0 - = _ + < > ? / . , : "</p>
              </div>
              <div class="bloc">
                <div class="header">
                  <h4 class="italic">Abc123</h4><span class="small">italic</span>
                </div>
                <p class="small italic show-grey-baseline">A B C D E F G H I J K L M N O P Q R S T U V X Y Z <br/>a b c d e f g h i j k l m n o p q r s t u v x y z <br/>1 2 3 4 5 6 7 8 9 0 - = _ + < > ? / . , : "</p>
              </div>
            </div>
          </div>
        </section>
        <section class="section doc--typo-info">
          <h5 class="uppercase">Secondary Typeface</h5>
          <hr/>
          <div class="two-cols-verticaly-aligned">
            <div class="wrapper">
              <h5>Concerns</h5>
              <h2>TypoName</h2>
              <p>Sed ut pqerspiciatis unde omnis iste natus error sit voluptatemaccusantium doloremque laudantium, totam rem aperiam, eaque ipsaquae ab illo inventore explicabo.</p>
            </div>
            <div class="wrapper">
              <div class="bloc">
                <div class="header">
                  <h3 class="bold">Abc123</h3><span class="small">bold</span>
                </div>
                <p class="small bold show-grey-baseline">A B C D E F G H I J K L M N O P Q R S T U V X Y Z <br/>a b c d e f g h i j k l m n o p q r s t u v x y z <br/>1 2 3 4 5 6 7 8 9 0 - = _ + < > ? / . , : "</p>
              </div>
              <div class="bloc">
                <div class="header">
                  <h3>Abc123</h3><span class="small">regular</span>
                </div>
                <p class="small show-grey-baseline">A B C D E F G H I J K L M N O P Q R S T U V X Y Z <br/>a b c d e f g h i j k l m n o p q r s t u v x y z <br/>1 2 3 4 5 6 7 8 9 0 - = _ + < > ? / . , : "</p>
              </div>
              <div class="bloc">
                <div class="header">
                  <h3 class="italic">Abc123</h3><span class="small">italic</span>
                </div>
                <p class="small italic show-grey-baseline">A B C D E F G H I J K L M N O P Q R S T U V X Y Z <br/>a b c d e f g h i j k l m n o p q r s t u v x y z <br/>1 2 3 4 5 6 7 8 9 0 - = _ + < > ? / . , : "</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section id="color" class="section">
        <div class="doc--color">
          <h5 class="uppercase">Colors</h5>
          <hr/>
          <div class="doc--color-first">
            <div class="doc--column bg-grey darken-4">
              <div class="doc--color-info contrast-darken-5">
                <h3 class="name text-grey contrast-darken-5">ColorName</h3>
                <h5 class="text-grey contrast-darken-5">The words</h5>
              </div>
              <div class="doc--color-variant text-grey contrast-darken-5">
                <div> <span>hex </span><span class="hex"></span></div>
                <div> <span>rgb</span><span class="rgb"></span></div>
                <div> <span>hsb</span><span class="hsb"></span></div>
                <div> <span>cmyk</span><span class="cmyk"></span></div>
              </div>
              <div class="doc--color-gradient">
                <div class="bg-grey lighten-1"></div>
                <div class="bg-grey"></div>
                <div class="bg-grey darken-2"></div>
                <div class="bg-grey darken-3"></div>
                <div class="bg-grey darken-4"></div>
                <div class="bg-grey darken-5"></div>
              </div>
            </div>
            <div class="doc--column bg-primary">
              <div class="doc--color-info contrast-darken-5">
                <h3 class="name text-primary contrast-darken-5">ColorName</h3>
                <h5 class="text-primary contrast-darken-5">The identity</h5>
              </div>
              <div class="doc--color-variant text-primary contrast-darken-5">
                <div> <span>hex </span><span class="hex"></span></div>
                <div> <span>rgb</span><span class="rgb"></span></div>
                <div> <span>hsb</span><span class="hsb"></span></div>
                <div> <span>cmyk</span><span class="cmyk"></span></div>
              </div>
              <div class="doc--color-gradient">
                <div class="bg-primary lighten-2"></div>
                <div class="bg-primary lighten-1"></div>
                <div class="bg-primary"></div>
                <div class="bg-primary darken-1"></div>
                <div class="bg-primary darken-2"></div>
                <div class="bg-primary darken-3"></div>
              </div>
            </div>
            <div class="doc--column bg-complement darken-3">
              <div class="doc--color-info contrast-base">
                <h3 class="name text-complement contrast-darken-5">ColorName</h3>
                <h5 class="text-complement contrast-darken-5">The links</h5>
              </div>
              <div class="doc--color-variant text-complement contrast-darken-5">
                <div> <span>hex </span><span class="hex"></span></div>
                <div> <span>rgb</span><span class="rgb"></span></div>
                <div> <span>hsb</span><span class="hsb"></span></div>
                <div> <span>cmyk</span><span class="cmyk"></span></div>
              </div>
              <div class="doc--color-gradient">
                <div class="bg-complement lighten-1"></div>
                <div class="bg-complement"></div>
                <div class="bg-complement darken-1"></div>
                <div class="bg-complement darken-2"></div>
                <div class="bg-complement darken-3"></div>
                <div class="bg-complement darken-4"></div>
              </div>
            </div>
          </div>
          <div class="doc--color-last">
            <div class="doc--column bg-danger darken-2">
              <div class="doc--color-info contrast-base">
                <h3 class="name text-danger contrast-darken-5">ColorName</h3>
                <h5 class="text-danger contrast-darken-5">Dangers</h5>
              </div>
              <div class="doc--color-gradient">
                <div class="bg-danger lighten-1"></div>
                <div class="bg-danger"></div>
                <div class="bg-danger darken-1"></div>
                <div class="bg-danger darken-2"></div>
                <div class="bg-danger darken-3"></div>
                <div class="bg-danger darken-4"></div>
              </div>
            </div>
            <div class="doc--column bg-warning darken-2">
              <div class="doc--color-info contrast-base">
                <h3 class="name text-warning contrast-darken-5">ColorName</h3>
                <h5 class="text-warning contrast-darken-5">Warnings</h5>
              </div>
              <div class="doc--color-gradient">
                <div class="bg-warning lighten-1"></div>
                <div class="bg-warning"></div>
                <div class="bg-warning darken-1"></div>
                <div class="bg-warning darken-2"></div>
                <div class="bg-warning darken-3"></div>
                <div class="bg-warning darken-4">			</div>
              </div>
            </div>
            <div class="doc--column bg-success darken-2">
              <div class="doc--color-info contrast-base">
                <h3 class="name text-success contrast-darken-5">ColorName</h3>
                <h5 class="text-success contrast-darken-5">Success</h5>
              </div>
              <div class="doc--color-gradient">
                <div class="bg-success lighten-1"></div>
                <div class="bg-success"></div>
                <div class="bg-success darken-1"></div>
                <div class="bg-success darken-2"></div>
                <div class="bg-success darken-3"></div>
                <div class="bg-success darken-4"></div>
              </div>
            </div>
            <div class="doc--column bg-info darken-2">
              <div class="doc--color-info contrast-base">
                <h3 class="name text-info contrast-darken-5">ColorName</h3>
                <h5 class="text-info contrast-darken-5">Infos</h5>
              </div>
              <div class="doc--color-gradient">
                <div class="bg-info lighten-1"></div>
                <div class="bg-info"></div>
                <div class="bg-info darken-1"></div>
                <div class="bg-info darken-2"></div>
                <div class="bg-info darken-3"></div>
                <div class="bg-info darken-4"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="clearfix"></div>
    <script src="js/polyfills.js?v=<%= buildTime %>"></script>
    <script src="js/vendors.js?v=<%= buildTime %>"></script>
    <script src="js/app.js?v=<%= buildTime %>"></script>
  </body>
</html>