<html>
  <head>
    <title>RocketCSS</title>
    <meta name="author" content="keywords, comma, separated"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="css/app.css?v=<%= buildTime %>">
    <link rel="stylesheet" href="../css/app.css?v=<%= buildTime %>">
    <link rel="icon" href="images/favicon.ico">
  </head>
  <body class="conseil-emploi">
      <nav class="nav dark">
        <div class="container main-wrapper">
          <a class="logo" href="#">Conseil emploi</a>
          <ul>
            <li><a href="#how">Comment ça marche ?</a></li>
            <!--<li><a href="#who">Qui sommes nous ?</a></li>-->
            <li><a class="button -complement open-modal" href="#">Se connecter</a></li>
            <li><a class="button -complement open-modal" href="#">S'inscrire</a></li>
          </ul>
        </div>
      </nav>
      <section class="screen-box center background -visible">
        <div class="gradient"></div>
        <div class="image" style="background-image:url(images/background/animated/dog.gif);"></div>
        <div class="content center-wrapper main-wrapper">
          <div class="select-your-job">
            <h1 class="title">Découvrez votre <i>futur</i> emploi</h1>
            <p class="lead desc">Faîtes un bilan de vos compétences en 5 minutes,<br/> on s'occupe de vous trouver un job</p>
            <div class="dropdown isolate dropdown-search toggle-visible">
              <div class="merge -large -horizontal">
                <input type="text" id="job-input" placeholder="Dernier métier que vous ayez exercé..."/>
                <button class="button -complement toggle-loading"><span>Go !</span></button>
              </div>
              <div class="results">
                <ul>
                  <li class="touch">Oenologue</li>
                  <li class="touch">A<span class="highlight">id</span>e-soignante</li>
                  <li class="touch">Professeur en Zoologie</li>
                  <li class="touch">Chercheur en physique nucléaire</li>
                  <li class="touch">Astronaute</li>
                  <li class="touch">Dresseur de lion</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="shape"></div>
        <!--<a href="#how" id="more"><i class="icon -chevron-down"></i></a>-->
      </section>
      <section id="how">
        <div class="main-wrapper">
          <h3>Comment ça marche ?</h3>
          <p class="lead">Au 21e sciècle, le secteur de l'emploi est en pleine mutation, nous serons tous amenés à changer de métier régulièrement. Nous avons donc conçu un algorithme de recherche par compétence et par interet vous permettant de trouver de nouvelles perspectives de carrière auxquelles vous n'auriez pas pensés.</p>
          <div class="arguments">
            <div class="argument" >
              <img class="image" src="images/icon/Comet.svg"></img>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
            </div>
            <div class="argument" >
              <img class="image" src="images/icon/Helmet.svg"></img>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
            </div>
            <div class="argument" >
              <img class="image" src="images/icon/Telescope.svg"></img>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
            </div>
          </div>
        </div>
      </section>
      <!--<section id="who">
        <div class="main-wrapper">
          <hr class="-half -center"/>
          <h3>Qui sommes nous ?</h3>
          <div class="members">
            <div class="member">
              <img src="http://cdn.intra.42.fr/users/medium_msourdin.jpg"/>
              <h5 class="title">Maxime</h5>
              <h6 class="desc">Routing</h6>
            </div>
            <div class="member">
              <img src="http://cdn.intra.42.fr/users/medium_cfriot.jpg"/>
              <h5 class="title">Charles</h5>
              <h6 class="desc">Back-end</h6>
            </div>
            <div class="member">
              <img src="http://cdn.intra.42.fr/users/medium_ajodin.jpg"/>
              <h5 class="title">Anthony</h5>
              <h6 class="desc">Front-end</h6>
            </div>
          </div>
        </div>
        <div class="desc">
          <p class="lead">Nous sommes 3 étudiants de l'école 42 qui prenons à coeur la question du bonheur au travail et de l'emploi en france, trop souvent oublié par la société dans laquelle nous vivons.</p>
          <p>Nous voulons aller au bout des choses, et prendre en compte un maximum d'informations afin de proposer des métiers toujours plus pertinent spécifiquement à chacun. Optimisme, dévouement et innovation sont les éléments moteurs qui nous ont permis la création de cet outil</p>
        </div>
      </section>-->
      <footer>
        <div class="main-wrapper">
          <p>ConseilEmploi © 2016</p>
          <a href="https://www.facebook.com/conseilemploi.fr/"><i class="social -facebook"></i></a>
          <a href="https://twitter.com/ConseilEmploiFR"><i class="social -twitter"></i></a>
        </div>
      </footer>
    <div class="modal login">
      <div class="overlay close-modal"></div>
      <div class="content">
        <div class="card content-wrapper">
          <!--<img class="image" src="images/icon/Comet.svg"></img>-->
          <div class="close-button close-modal">
            <i class="icon -cross"></i>
          </div>
          <div>
            <h5>Se connecter</h5>
      			<fieldset class="-large -has-icon -has-tag">
              <i class="icon -user"></i>
      				<input type="password" placeholder="Pseudo ou email" />
              <div class="tag visible -line-danger -large -top -pointing">
                <span>Votre identifiant n'existe pas</span>
              </div>
      			</fieldset>
      			<fieldset class="-large -has-icon -has-tag">
      				<i class="icon -lock"></i>
      				<input type="password" placeholder="Mot de passe" />
              <div class="tag visible -line-danger -large -top -pointing">
                <span>Votre mot de passe est inccorect</span>
              </div>
      			</fieldset>
            <div class="checkbox">
              <input id="checkbox2" type="checkbox"/>
              <label for="checkbox2">
                <span>rester connecté</span>
              </label>
            </div>
      			<button class="button loading -large -primary">
      				<span>Se connecter</span>
      			</button>
            <footer>
              <a href="">S'inscrire</a> -
              <a href="">Mot de passe perdu ?</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <script src="js/polyfills.js?v=<%= buildTime %>"></script>
    <script src="js/vendors.js?v=<%= buildTime %>"></script>
    <script src="js/app.js?v=<%= buildTime %>"></script>
  </body>
</html>
