@keyframes appear {
  0% {
    transform: translateY(-20px);
		opacity:0;
    display:hidden;
  }
  100% {
    transform: translateY(0px);
		opacity:1;
    display:block;
  }
}

@keyframes appear2 {
  0% {
    transform: translateY(-10px);
		opacity:0;
    display:hidden;
  }
  100% {
    transform: translateY(0px);
		opacity:1;
    display:block;
  }
}

@keyframes appear3 {
  0% {
    transform: translateX(10px);
		opacity:0;
  }
  100% {
    transform: translateX(0px);
		opacity:1;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
		transform: scale(1);
  }
}


@keyframes levitate {
  0% {
    transform: translateY(-5px);
  }
  50% {
		transform: translateY(5px);
  }
  100% {
		transform: translateY(-5px);
  }
}

.levitate {
  display: inline-block;
  animation: levitate 3s alternate ease-in-out infinite;
}

@keyframes box-flyin {
  0% { opacity: 0;  transform: translateY(-50px); }
  100% { opacity: 1;  transform: translateY(0px); }
}

@keyframes box-flyout {
  0% { opacity: 1;  transform: translateY(0px); }
  100% { opacity: 0;  transform: translateY(-50px); }
}



.hidden {
  opacity: 0!important;
}

#geoloc {
  cursor:pointer;
  overflow: visible;
  color:color("complement", "base");
  &.loading {
    left: 27px;
    bottom: 33px;
  }

  &:after {
    border-color: color("grey","base") transparent transparent;
  }
  &::before {
    cursor:pointer;
    color: color("primary", "lighten-2");
  }
  &.active {
    animation: bounce 350ms ease("swift-in");
  }

}

#bday i {
  left: 18px;
  bottom: 21px;
}

.full-form {
  z-index: 999999999999999999;
  position: absolute;
  background-color: white;
  background-color: lighten(color("grey", "lighten-5"), 1%);
  overflow: hidden;
  height: 100%;
  .center-wrapper {
    animation: appear 350ms ease("swift-in");
  }
  .container {
    width: 850px;
  }
  form {
    min-width: 250px!important;
    h3.-appear {
      animation: appear2 .5s ease("swift-in");
    }

  }
  .button-box {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  fieldset {
    &:after {
      left:55px;
      height:50px;
      display: none;
    }
    i {
      font-size: 2.4rem;
      left: 19px;
      bottom: 18px;
    }
    input {
      min-width: 450px;
      border: 2px dashed color("grey", "lighten-3");
      padding: 1.75rem 1.75rem 1.75rem 2.5rem;
      padding-left:52px;
      box-shadow: none;
      &:focus {
        box-shadow: none;
        border: 2px dashed rgba(color("primary", "lighten-1"), 0.5);
      }
    }
  }
  .button-box {
    text-align: left;
  }
  .checkbox.-multi-line {
    max-width: 450px;
    label span {
      padding-left: 41px;
      margin-top: -6px;
    }
  }

}

.side-question {
  padding-left: $text-size;
  border-left: 2px solid rgba(#0db9f0, 0.5);
  margin-bottom: $text-size;
  animation: appear3 .5s ease("swift-in");
}



#geoloc-helper {
  margin-left: 25px;
  opacity:0.3;
}

.info-handler {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  opacity: 1;
  transition: all 200ms ease;
  &.active {
    opacity: 0;
  }
  .socials {
    position: absolute;
    bottom: 25px;
    left: 35px;
  }
  .progress {
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: color("grey", "lighten-3");
  }
  .step, .info {
    position: absolute;
    top:25px;
    right:35px;
    h1,h2,h3,h4,h5,h6 {
      font-family: $text-font;
      color: color("complement", "lighten-1");
      margin-bottom: 5px;
    }
  }
  .info {
    left: 35px;
  }
  .next {
    position: absolute;
    bottom: 25px;
    right:35px;
    button {
      float: right;
      margin: 0;
      margin-bottom: 0.75rem;
      margin-top: $text-size * 2;
      height: auto;
      padding: 14px 28px;
      background-color: white!important;
      i {
        margin-left: 15px;
        transform: translateY(2px);
        opacity: 0.5;
      }
    }
    label {
      opacity: 0.3;
      b {
        font-weight: 800!important;
      }
    }
  }
  .navigation {

    position:absolute;
    display: none;
    height: 100%;
    right:35px;

    .navigation-handler {

      display: table-cell;
      vertical-align: middle;

      .dot-button {

        width: 15px;
        height: 15px;
        margin-bottom: 20px;
        background: transparent;
        border: 1px solid color("grey", "lighten-3");
        opacity: 0.5;
        //background-color: color("grey", "lighten-1");
        border-radius: 50%;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &.clickable {
          background-color: color("grey", "lighten-3");
          cursor:pointer;
          opacity: 1;
          &:hover {
            background-color: color("grey", "darken-1");
          }
          &.current {
            transform: perspective(1000px) rotate3d(0,1,0,180deg);
            background-color: color("complement", "base") !important;
            border: 1px solid color("complement", "base");
          }

        }

      }

    }
  }
}

@include break-point("phablet") {
  .info-handler .navigation {
    display:table!important;
  }
}
