@keyframes appear {
  0% {
    transform: translateY(-20px);
		opacity:0;
    display:hidden;
  }
  100% {
    transform: translateY(0px);
		opacity:1;
    display:block;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
		transform: scale(1);
  }
}


@keyframes levitate {
  0% {
    transform: translateY(-5px);
  }
  50% {
		transform: translateY(5px);
  }
  100% {
		transform: translateY(-5px);
  }
}

.levitate {
  display: inline-block;
  animation: levitate 3s alternate ease-in-out infinite;
}

@keyframes box-flyin {
  0% { opacity: 0;  transform: translateY(-50px); }
  100% { opacity: 1;  transform: translateY(0px); }
}

@keyframes box-flyout {
  0% { opacity: 1;  transform: translateY(0px); }
  100% { opacity: 0;  transform: translateY(-50px); }
}



.hidden {
  opacity: 0!important;
}

#geoloc {
  cursor:pointer;
  overflow: visible;
  &.loading {
    left: 27px;
    bottom: 33px;
  }

  &:after {
    border-color: color("grey","base") transparent transparent;
  }
  &::before {
    cursor:pointer;
    color: color("primary", "lighten-2");
  }
  &.active {
    animation: bounce 350ms ease("swift-in");
  }

}

#bday i {
  left: 18px;
  bottom: 21px;
}

.full-form {
  z-index: 999999999999999999;
  position: absolute;
  background-color: white;
  overflow: hidden;
  height: 100%;
  .center-wrapper {
    animation: appear 350ms ease("swift-in");
  }
  .container {
    width: 850px;
  }
  form {
    min-width: 250px!important;
  }
  .button-box {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  fieldset {
    &:after {
      left:55px;
      height:50px;
      display: none;
    }
    i {
      font-size: 2.4rem;
      left: 19px;
      bottom: 18px;
    }
    input {
      min-width: 450px;
      border: 2px dashed color("grey", "lighten-3");
      padding: 1.75rem 1.75rem 1.75rem 2.5rem;
      padding-left:52px;
      box-shadow: none;
      &:focus {
        box-shadow: none;
        border: 2px dashed rgba(color("primary", "lighten-1"), 0.5);
      }
    }
  }
  .button-box {
    text-align: left;
  }
  .checkbox.-multi-line {
    max-width: 450px;
    label span {
      padding-left: 41px;
      margin-top: -6px;
    }
  }

}

.side-question {
  padding-left: $text-size;
  border-left: 2px solid rgba(#0db9f0, 0.5);
  margin-bottom: $text-size;
}


#geoloc-helper {
  margin-left: 25px;
  opacity:0.3;
}

.info-handler {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  opacity: 1;
  transition: all 200ms ease;
  &.active {
    opacity: 0;
  }
  .progress {
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: color("grey", "lighten-3");
  }
  .step, .info {
    position: absolute;
    top:25px;
    right:35px;
    h1,h2,h3,h4,h5,h6 {
      font-family: $text-font;
      color: color("grey", "lighten-1");
      margin-bottom: 5px;
    }
  }
  .info {
    left: 35px;
  }
  .next {
    position: absolute;
    bottom: 25px;
    right:35px;
    button {
      float: right;
      margin: 0;
      margin-bottom: 0.75rem;
      margin-top: $text-size * 2;
      height: auto;
      padding: 14px 28px;
      i {
        margin-left: 15px;
        transform: translateY(2px);
        opacity: 0.5;
      }
    }
    label {
      opacity: 0.3;
      b {
        font-weight: 800!important;
      }
    }
  }
  .navigation {

    position:absolute;
    display: none;
    height: 100%;
    right:35px;

    .navigation-handler {

      display: table-cell;
      vertical-align: middle;

      .dot-button {

        width: 15px;
        height: 15px;
        margin-bottom: 20px;
        background: transparent;
        border: 1px solid color("grey", "lighten-3");
        opacity: 0.5;
        //background-color: color("grey", "lighten-1");
        border-radius: 50%;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &.clickable {
          background-color: color("grey", "lighten-3");
          cursor:pointer;
          opacity: 1;
          &:hover {
            background-color: color("grey", "darken-1");
          }
          &.current {
            transform: perspective(1000px) rotate3d(0,1,0,180deg);
            background-color: color("primary", "base") !important;
            border: 1px solid color("primary", "base");
          }

        }

      }

    }
  }
}

@include break-point("phablet") {
  .info-handler .navigation {
    display:table!important;
  }
}




// Radio custom
// ================

.wrapper.radio-custom span {

}

.radio-custom {
  display:block;
  margin-left: -15px;
  margin-bottom: 25px;
  input {
    position: absolute;
    display: none;
  }
  &>span {
    margin-right: 3%;
    padding: 10px;
    width: 100px;
    height: 100px;
    user-select: none;
    display: inline-block;
    font-size: 100%;
    position: relative;
  }
  &>span label {
    color: rgba(0,0,0,0.5);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  label {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    cursor: pointer;
    box-sizing: content-box;
    span {
      position: absolute;
      top: 75px;
      text-align: center;
      width: 100%;
    }
    &::after {
      position: absolute;
      bottom: -60px;
      left: 50%;
      width: 100px;
      height: 100px;
      background-position: 50% 0%;
      background-size: 55%; //
      background-repeat: no-repeat;
      content: '';
      opacity: 0.5;
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      transition: padding, 200ms, ease-in-out;
    }
    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 25%;
      width: 50px;
      height: 50px;
      z-index: 1;
      opacity: 0;
      transform: scale(0);
      transition: all 200ms ease("swift-in");
      background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="white" fill-rule="evenodd" d="M12.785 3.222c-.391-.391-1.023-.391-1.414 0l-4.984 7.181-1.677-2.188c-.39-.391-1.023-.391-1.414 0s-.391 1.023 0 1.414l2.418 3.156c.391.391 1.024.391 1.415 0l5.656-8.149c.391-.39.391-1.024 0-1.414z"/></svg>');
    }
  }
}

.radio-custom label:hover::after,
//.radio-custom input:focus + label::after,
.radio-custom input:checked + label::after {
  opacity: 1;
  //padding:6px;
  filter: brightness(0.5);
}

//.radio-custom input:focus + label::before,
.radio-custom input:checked + label::before {
  opacity: 1;
  transform: scale(1);
}


.radio-custom input:checked + label {
  color: #fffed8;
}

.radio-custom input:checked + label {
  color: darken(#009fe3, 20%);
}

.radio-custom label.student::after {
  background-image: url('../assets/imgs/svg/student.svg');
}


.radio-custom label.pregnant::after {
  background-image: url('../assets/imgs/svg/pregnant.svg');
}

.radio-custom label.retirement::after {
  background-image: url('../assets/imgs/svg/retirement.svg');
}

.radio-custom label.cv::after {
  background-image: url('../assets/imgs/svg/cv.svg');
}

.radio-custom label.handicap::after {
  background-image: url('../assets/imgs/svg/handicap.svg');
}

.radio-custom label.french::after {
  background-image: url('../assets/imgs/svg/french.svg');
}

.radio-custom label.european::after {
  background-image: url('../assets/imgs/svg/european.svg');
}

.radio-custom label.other::after {
  background-image: url('../assets/imgs/svg/other.svg');
}

.radio-custom label.unfit::after {
  background-image: url('../assets/imgs/svg/unfit.svg');
}

.radio-custom label.alone::after {
  background-image: url('../assets/imgs/svg/child.svg');
}

.radio-custom label.couple::after {
  background-image: url('../assets/imgs/svg/hostpeople.svg');
}
