#cookie {
	position:absolute;
	z-index: 997;
	top:60px;
	width: 100%;
	background-color: rgba(0,0,0,0.03);
	color:white;
	p {
		color:white;
		margin:0;
		padding:10px 0;
		font-size: 0.9em;
	}
	i {
		margin-top:10px;
		cursor:pointer;
		opacity: 0.8;
		transition: all 200ms ease;
		&:hover {
			opacity: 1;
		}
	}
	a {
		color:color("complement", "lighten-5");
	}
}

#logo {
	width: 37px;
	height: 37px;
	//background-image: url('../assets/imgs/svg/logo.svg');
	//background-size: cover;
	transition: all 200ms ease;
	opacity:0.8;
	margin-top:5px;
	margin-top: 12px;
	margin-right: 10px;
	border-radius: 100%;
	background-color: color("complement", "base");
	&:hover {
		opacity:1;
	}
}

nav {
	height: 60px;
	width: 100%;
	background-color: white;
	z-index: 998;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	a {
		text-decoration: none;
		margin-top: 19px;
		font-weight: 800;
		color: color("grey", "lighten-2");
		opacity:0.8;
		transition: all 200ms ease;

		&:hover 	{ outline: 0; text-decoration: none; opacity:1; }
		&:active 	{ outline: 0;}
		&:visited { color: color("grey", "lighten-2"); }
		&:focus	 	{ outline: 0;  }
	}
	a.pull-left + a.pull-left {
		margin-left: 25px;
	}
	a.pull-left:not(#logo) {
		opacity:0.6;
		&:hover {
			opacity:1;
		}
	}
	a.active {
		opacity:1!important;
	}
	.pull-right {
		margin-top: 11px;
		margin-right: 3px;
		height: 37px;
	}
}
