


// Radio custom
// ================

.radio-custom {
  &.-big {
    width: 500px;
  }
  display:block;
  margin-left: -15px;
  margin-bottom: 25px;
  input {
    position: absolute;
    display: none;
  }
  &>span {
    margin-right: 3%;
    padding: 10px;
    width: 100px;
    height: 100px;
    user-select: none;
    display: inline-block;
    font-size: 100%;
    position: relative;
  }
  &>span label {
    color: rgba(0,0,0,0.5);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  label {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    cursor: pointer;
    box-sizing: content-box;
    span {
      position: absolute;
      top: 75px;
      text-align: center;
      width: 100%;
    }
    &::after {
      position: absolute;
      bottom: -60px;
      left: 50%;
      width: 100px;
      height: 100px;
      background-position: 50% 0%;
      background-size: 55%;
      background-repeat: no-repeat;
      content: '';
      opacity: 0.5;
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      transition: padding, 200ms, ease-in-out;
    }
    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 25%;
      width: 50px;
      height: 50px;
      z-index: 1;
      opacity: 0;
      transform: scale(0);
      transition: all 200ms ease("swift-in");
      background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="white" fill-rule="evenodd" d="M12.785 3.222c-.391-.391-1.023-.391-1.414 0l-4.984 7.181-1.677-2.188c-.39-.391-1.023-.391-1.414 0s-.391 1.023 0 1.414l2.418 3.156c.391.391 1.024.391 1.415 0l5.656-8.149c.391-.39.391-1.024 0-1.414z"/></svg>');
    }
  }
  label:hover::after,
  input:checked + label::after {
    opacity: 1;
    filter: brightness(0.5);
  }
  input:checked + label {
    color: darken(#009fe3, 20%);
  }
  input:checked + label::before {
    opacity: 1;
    transform: scale(1);
  }
  &>span.-big {
    width: 150px;
    height: 150px;
    label {
      width: 150px;
      height: 150px;
      span {
        top: 120px;
      }
      &::before {
        width: 85px;
        height: 85px;
        top: 18px;
        left: 22%;
      }
      &::after {
        width: 100px;
        height: 100px;
        background-size: 100%;
        top:60px;
      }
    }
  }
}


.radio-custom label.student::after {
  background-image: url('../assets/imgs/svg/student.svg');
}

.radio-custom label.pregnant::after {
  background-image: url('../assets/imgs/svg/pregnant.svg');
}

.radio-custom label.retirement::after {
  background-image: url('../assets/imgs/svg/retirement.svg');
}

.radio-custom label.cv::after {
  background-image: url('../assets/imgs/svg/cv.svg');
}

.radio-custom label.handicap::after {
  background-image: url('../assets/imgs/svg/handicap.svg');
}

.radio-custom label.french::after {
  background-image: url('../assets/imgs/svg/french.svg');
}

.radio-custom label.european::after {
  background-image: url('../assets/imgs/svg/european.svg');
}

.radio-custom label.other::after {
  background-image: url('../assets/imgs/svg/other.svg');
}

.radio-custom label.unfit::after {
  background-image: url('../assets/imgs/svg/unfit.svg');
}

.radio-custom label.alone::after {
  background-image: url('../assets/imgs/svg/alone.svg');
}

.radio-custom label.couple::after {
  background-image: url('../assets/imgs/svg/lovers.svg');
}

.radio-custom label.unfurnished::after {
  background-image: url('../assets/imgs/svg/unfurnished.svg');
}

.radio-custom label.furnished::after {
  background-image: url('../assets/imgs/svg/furnished.svg');
}

.radio-custom label.family::after {
  background-image: url('../assets/imgs/svg/family.svg');
}
