/*
––––

	title:
		Button-ball-pulse

	comment:
		Blabla

	markup:
		<div class="ball-pulse">
			<div></div>
			<div></div>
			<div></div>
		</div>

––––
*/

$loader-ball-pulse-base-color: color("primary", "base");

@keyframes scale {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	45% {
		transform: scale(0.1);
		opacity: 0.7;
	}
	80% {
		transform: scale(1);
		opacity: 1;
	}
}

@mixin ball-pulse(
		$color: $loader-ball-pulse-base-color,
		$ball-size: 10px,
		$margin:5px,
		$n:3,
		$start:0
	) {

	@for $i from $start through $n {
		> div:nth-child(#{$i}) {
			-webkit-animation: scale 0.75s 0.12s * $i infinite cubic-bezier(.2,.68,.18,1.08);
		}
	}
	> div {
		background-color: $color;

		width: $ball-size;
		height: $ball-size;
		border-radius: 100%;
		margin: $margin;
		animation-fill-mode: both;

		display: inline-block;
	}
}

.ball-pulse { @include ball-pulse(); };