/*
––––

	title:
		Loader-line-scale

	comment:
		Blabla

	markup:
		<div class="line-scale">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>

––––
*/

$loader-scale-base-color: color("primary", "base");

@keyframes line-scale {
	0% {
		transform: scaley(1.0);
	}
	50% {
		transform: scaley(0.4);
	}
	100% {
		transform: scaley(1.0);
	}
}

@mixin line-scale(
		$color: $loader-scale-base-color,
		$line-width: 3px,
		$line-height: 15px,
		$margin: 2px,
		$n: 5
	){

	@for $i from 1 through $n {
		> div:nth-child(#{$i}) {
		animation: line-scale 1s 0.1s * $i infinite cubic-bezier(.2,.68,.18,1.08);
		}
	}
	> div {
		width: $line-width;
		height: $line-height;
		border-radius: 2px;
		margin: $margin;
		animation-fill-mode: both;
		background-color: $color;
		display: inline-block;
	}
}


.line-scale {
	@include line-scale();
}