/*
––––

	title:
		Loader-circle-line-scale

	comment:
		Blabla

	markup:
		<div class="circle-line-scale">
			<div></div>
			<div></div>
			<div></div>
		</div>

––––
*/

$loader-circle-scale-base-color: color("primary", "base");

@keyframes circle-line-scale {
	0% {
		transform: scale(0.1);
		opacity: 1;
	}
	70% {
		transform: scale(1);
		opacity: 0.7;
	}
	100% {
		opacity: 0.0;
	}
}

@mixin circle-line-scale(
		$color: $loader-circle-scale-base-color,
		$size: 50px,
		$margin: 5px,
		$start: 0,
		$n: 3
	) {

	position: relative;
	
	@for $i from $start through $n {
		> div:nth-child(#{$i}) {
			animation-delay: 0.2s * $i;
		}
	}
	> div {
		animation-fill-mode: both;
		position: absolute;
		width: $size;
		height: $size;
		border-radius: 100%;
		border: 2px solid $color;
		animation: circle-line-scale 1.25s 0s infinite cubic-bezier(.21,.53,.56,.8);
	}
	&:after {
		content:"";
		height:$size;
		position: relative;
		display: block;
	}
}

.circle-line-scale {
	@include circle-line-scale();
}