/*
––––

	title:
		Touch Event

	comment:
		Blabla

	markup:
    <button class="button touch">
      <i class="icon -sun"></i>
      <span>Bouton</span>
    </button>

––––
*/

@keyframes ripple {
  100% {opacity: 0; transform: scale(2.5);}
}

.touch {
  //display:block;
  position:relative;
  overflow:hidden;
  transition: all 0.2s ease;
  z-index:0;
  cursor:pointer;
}

.touch-elem {
  display: block;
  position: absolute;
  background:rgba(0, 0, 0, 0.05);
  border-radius: 100%;
  transform:scale(0);
  z-index: 9999999;
}

.animate {
  animation:ripple 0.35s linear;
}
